{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block page_content %}
	<div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">
	    <div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
	        <div class="col-12 commander-firstview">
		        <div class="row col-11 mx-auto">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}