<div class="col-12 col-lg-10 mx-auto band-actualite">
  <div class="col-12 d-flex flex-row  align-items-center my-flex-container band-actualite--flex">
    <div class="col-md-6 row band-actualite--flex---text d-flex flex-row justify-content-center align-items-center my-flex-container">
      <div class="row band-actualite--flex---text----flex ">
        <p class="col-12">Toute l'actualite sur la route</p>
          <a href="{{ path('blog')}}" class="col-10 mx-auto btn mx-auto btn-primary btn-lg">Entrez</a>
      </div>
    </div>
  </div>
</div>
