<div class="col-12 show-container">
        <div class="row search">
            <div class="col-12 search-titre">
                <h2>Créer un compte et effectuer votre demande</h2>
            </div>
            <a href="{{path("fos_user_registration_register")}}" class="mx-auto"><button type="button" class="mx-auto btn btn-outline-light">INSCRIPTION</button></a>
        </div>

   </div>