{% extends 'base.html.twig' %}

{% block seo %}
	<!-- <base href="http://dev.cgofficiel.fr/contact"/> <meta name="keywords" content=""/> <meta name="x-ua-compatible" content="IE=edge,chrome=1"/> <meta name="description" content="Commander sur cgofficiel.fr"/> <meta property="og:title"
	content="CGofficiel.fr | Contact "> <meta property="og:type" content="page"> <meta property="og:url" content="http://dev.cgofficiel.fr/contact"> <meta property="og:image" content=""> <meta property="og:description" content="Accueil cgofficiel.fr">
	<meta property="og:video" content=""> <meta property="og:locale" content="fr_FR"> <meta name="twitter:card" content="summary_large_image"/> <meta name="twitter:url" content="http://dev.cgofficiel.fr/Accueil"/> <meta name="twitter:title"
	content="CGofficiel.fr | Accueil "/> <meta property="twitter:description" content="Accueil cgofficiel.fr"/> -->
{% endblock %}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-accueil{% endblock %}

{% block page_content %}
<div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">

	<div id="Changement-de-titulaire" class="col-12">
		<div class="search">			

			<div id="resultecg"></div>

		</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
	<script>
		$("#resultecg").load("incphp/formECGAUTO.php");
	</script>
	<script>
		/*var jQuerynotmin = $.noConflict( true );*/
	</script>

	{% if result is defined %}
    <div class="table-responsive col-4">
    <table class="table table-striped">
		<tr>
			<th>CARACTÉRISTIQUES DU VÉHICULE</th>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	</div>

    <div class="table-responsive col-4">
    <table class="table table-striped">
		<tr>
			<th>DÉTAIL DES TAXES</th>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	</div>
	{% endif %}

	{% if commandeForm is defined %}
	{{ form_start(commandeForm) }}
	{{ form_row(commandeForm) }}
	{{ form_end(commandeForm) }}
	{% endif %}
{% endblock %}

{% block pagetext_content %}

{% endblock %}