{% extends 'base.html.twig' %}

{% block page_content %}
<div class="mt-4 row">
	<div class="row mx-auto home-texte">
		<div class="home-texte3">
			<h2 style="color: #002a6b">Documents téléchargeables</h2>
			<p>
				DOCUMENTS NÉCESSAIRES POUR UNE DEMANDE CONCERNANT UN CERTIFICAT D’IMMATRICULATION (CARTE GRISE):
			</p> 
			<h3> Pour un véhicule d’occasion</h3>
			<p>
				Les pièces nécessaires à fournir lors:
			</p>
			<p>
				<span style="font-weight:bold;">1- D'une demande de changement d’adresse :</span> un justificatif de domicile(copie), une pièce d’identité en cours de vapdité (copie), le certificat d’immatriculation /carte grise, et le CERFA n°13750*05, le mandat CERFA N° 13757*03. Pour les véhicules dont la plaque d’immatriculation est sous la forme 1234 AA 12, vous recevrez un nouveau certificat d’immatriculation ( carte grise). Pour les véhicules dont l’immatriculation se présente sous la forme AA 123 AA, vous recevrez une étiquette à coller sur votre certificat d’immatriculation (carte grise). Au bout du 4ème changement d’adresse pour un même véhicule, vous recevrez un nouveau certificat d’immatriculation (carte grise).
			</p>
			<p>
				Dans les 2 cas vous pouvez circuler pendant un mois dans l’attente de votre certificat d’immatriculation (carte grise) car le propriétaire d’un véhicule a un mois pour déclarer son changement d’adresse, passé ce délai il est susceptible d’encourir une contravention de 4ème classe.
			</p>
			<p>
				<span style="font-weight:bold;">2- D'une demande de duplicata :</span> un justificatif de domicile (copie), attestation assurance, déclaration de perte ou de vol CERFA n° 13753*04 <b>(original)</b> , copie recto/verso de sa pièce d’identité, demande d’immatriculation CERFA N° 13750*05, copie du permis de conduire, mandat N°13757*03, le procès verbal du contrôle technique à jour (copie) ainsi que le numéro de formule figurant sur les certificats d’immatriculation (carte grise) à demander à son assurance si vous vous ne l’avez plus.
			</p>
			<p>
				<span style="font-weight:bold;">3- D'une demande de changement du titulaire de véhicule d’occasion :</span> original de l’ancien certificat d’immatriculation ( carte grise) , la déclaration de cession <b>(original)</b> Cerfa n° 15776*01, un justificatif de domicile de moins de 6 mois (copie),le procès-verbal du contrôle technique, à jour (copie), pour les véhicules de plus de quatre ans (copie), demande d’immatriculation CERFA N° 13750*05 , mandat CERFA N°13757*03, permis de conduire (copie), pièce d’identité (copie), attestation assurance, <br> Important :le vendeur doit impérativement vous remettre l’ancien certificat d’immatriculation, barré, daté et signé par ses soins, avec la date et l’heure de la vente. Pour votre sécurité, il doit aussi vous fournir le certificat de non gage (ou certificat de situation administrative), attestant qu’il a payé toutes ses amendes et que son véhicule n’a pas n’a pas été déclaré comme irréparable après un accident.
			</p>
			<h3> Pour un véhicule neuf</h3>
			<p>Les pièces nécessaires pour établir votre certificat d’immatriculation / carte grise sont : la déclaration de cession ou la facture d’achat <b>(original)</b>, le quitus fiscal fourni par le Trésor Public attestant la régularité du véhicule pour la TVA <b>(original)</b>, le certificat de conformité fourni par le constructeur <b>(original)</b>,un justificatif de domicile daté de moins de 6 mois (copie).</p>
		</div>
	</div>
</div>
{% endblock %}