{% extends 'base.html.twig' %}

{% block page_content %}
<div class="block_CCM">
	<div class="container">
		<div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 doc-telechargeable">
                <h3 class="home-secondview--titre">Documents téléchargeables</h3>
                <div class="text-head">
                    <p>Documents nécessaires pour une demande concernant un certificat d'immatriculation (Carte grise):</p>
                </div>
                <p> Pour un véhicule d’occasion</p>
                <!--p>Les pièces nécessaires à fournir lors:</p-->
                <p>Les pièces nécessaires pour établir votre certificat d’immatriculation / carte grise sont :</p>
                <hr class="border--light-2">
                <h4 class="mb-4 mt-5">1- D'une demande de changement d’adresse :</h4>
                <ul class="list col-lg-10">
                    <li>un justificatif de domicile(copie),</li>
                    <li>une pièce d’identité en cours de vapdité (copie), </li>
                    <li>le certificat d’immatriculation /carte grise,</li>
                    <li>et le CERFA n°13750*05, le mandat CERFA N° 13757*03.</li>
                    <li><strong>Pour les véhicules dont la plaque d’immatriculation est sous la forme 1234 AA 12,</strong><br>
                        vous recevrez un nouveau certificat d’immatriculation ( carte grise). </li>
                    <li><strong>Pour les véhicules dont l’immatriculation se présente sous la forme AA 123 AA, </strong><br>
                        vous recevrez une étiquette à coller sur votre certificat d’immatriculation (carte grise). </li>
                    <li><strong>Au bout du 4ème changement d’adresse pour un même véhicule, </strong><br>
                        vous recevrez un nouveau certificat d’immatriculation (carte grise).</li>
                </ul>
                <p>Dans les 2 cas vous pouvez circuler pendant un mois dans l’attente de votre certificat d’immatriculation (carte grise) car le propriétaire d’un véhicule a un mois pour déclarer son changement d’adresse, passé ce délai il est susceptible d’encourir une contravention de 4ème classe.</p>
                <h4 class="mb-4 mt-5">2- D'une demande de duplicata :</h4>
                <ul class="list col-lg-10">
                    <li>un justificatif de domicile (copie),</li>
                    <li>attestation assurance, </li>
                    <li>déclaration de perte ou de vol CERFA n° 13753*04 (original), </li>
                    <li>copie recto/verso de sa pièce d’identité, </li>
                    <li>demande d’immatriculation CERFA N° 13750*05, </li>
                    <li>copie du permis de conduire, </li>
                    <li>mandat N°13757*03,</li>
                    <li>le procès verbal du contrôle technique à jour (copie) ainsi que le numéro de formule figurant sur les <br>
                        certificats d’immatriculation (carte grise) à demander à son assurance si vous vous ne l’avez plus.</li>
                </ul>

                <h4 class="mb-4 mt-5">3- D'une demande de changement du titulaire de véhicule d’occasion :</h4>
                <ul class="list col-lg-10">
                    <li>original de l’ancien certificat d’immatriculation ( carte grise) , </li>
                    <li>la déclaration de cession <b>(original)</b> Cerfa n° 15776*01, </li>
                    <li>un justificatif de domicile de moins de 6 mois (copie),</li>
                    <li>le procès-verbal du contrôle technique, à jour (copie),</li>
                    <li>pour les véhicules de plus de quatre ans (copie),</li>
                    <li>demande d’immatriculation CERFA N° 13750*05 , </li>
                    <li>mandat CERFA N°13757*03, permis de conduire (copie), </li>
                    <li>pièce d’identité (copie), attestation assurance, </li>
                </ul>
                <h5 class="mb-4 mt-4 important-title">Important :</h5>
                <p>le vendeur doit impérativement vous remettre l’ancien certificat d’immatriculation, barré, daté et signé par ses soins, avec la date et l’heure de la vente. Pour votre sécurité, il doit aussi vous fournir le certificat de non gage (ou certificat de situation administrative), attestant qu’il a payé toutes ses amendes et que son véhicule n’a pas n’a pas été déclaré comme irréparable après un accident.</p>
                <h5 class="mb-4 mt-4 important-title"> Pour un véhicule neuf</h5>
                <p>Les pièces nécessaires pour établir votre certificat d’immatriculation / carte grise sont : la déclaration de cession ou la facture d’achat <b>(original)</b>, le quitus fiscal fourni par le Trésor Public attestant la régularité du véhicule pour la TVA <b>(original)</b>, le certificat de conformité fourni par le constructeur <b>(original)</b>,un justificatif de domicile daté de moins de 6 mois (copie).</p>
            </div>
		</div>
	</div>
</div>
{% endblock %}