{% extends 'base.html.twig' %}

{% block page_content %}
<style>
    .js-toggle {
        text-decoration: underline;
    }
    .js-toggle:hover, .js-toggle:focus{
        text-decoration: none;
        cursor: pointer;
    }
    .toggle-content{
        padding: 25px;
    }
    .toggle-content h4{
        color: red;
        margin-bottom: 1.5rem;
        text-transform: none;
    }
    .toggle-content li:before{
        display:none;
    }
    .toggle-content li{
        padding-left: 15px !important;
        color: #219de4;
        list-style-type: disc;
    }
</style>
<div class="block_CCM">
	<div class="container">
		<div class="row reverse-col_">
            <div class="col-12 col-lg-8 col-xll-12 doc-telechargeable">
                <h3 class="home-secondview--titre">Documents téléchargeables</h3>
                <div class="text-head">
                    <p>Documents nécessaires pour une demande concernant un certificat d'immatriculation <b>(carte grise)</b>:</p>
                </div>
                <h5 class="mb-4 mt-4 important-title"> Pour un véhicule d’occasion</h5>
                <!--p>Les pièces nécessaires à fournir lors:</p-->
                <p>Les pièces nécessaires à fournir lors:</p>
                <hr class="border--light-2">
                <h4 class="mb-4 mt-5">1- D'une demande de changement d’adresse :</h4>
                <ul class="list col-12">
                    <li>Un justificatif de domicile (copie)</li>
                    <li>La procuration par Mandat <strong>(autorisant CG Officiel à effectuer les formalités d'immatriculation au nom du client)</strong>
                        <a href="/../download/cgofficiel_cerfa_13757-03.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li>Une pièce d’identité en cours de validité (copie) </li>
                    <li>Le certificat d’immatriculation <b>(carte grise)</b></li>
                    <li>Le formulaire de demande de certificat d’immatriculation <b>(carte grise)</b> CERFA n° 13750*05
                        <a href="/../download/cgofficiel_cerfa_13750-05.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li class="puceChck"><strong>Pour les véhicules dont la plaque d’immatriculation est sous la forme 1234 AA 12,</strong><br>
                        vous recevrez un nouveau certificat d’immatriculation <b>(carte grise)</b>. </li>
                    <li class="puceChck"><strong>Pour les véhicules dont l’immatriculation se présente sous la forme AA 123 AA, </strong><br>
                        vous recevrez une étiquette à coller sur votre certificat d’immatriculation <b>(carte grise)</b>. </li>
                    <p>Dans les 2 cas vous pouvez circuler pendant un mois dans l’attente de votre certificat d’immatriculation <b>(carte grise)</b> car le propriétaire d’un véhicule a un mois pour déclarer son changement d’adresse, passé ce délai il est susceptible d’encourir une contravention de 4ème classe.</p>
                    <li class="puceChck"><strong>Au bout du 4ème changement d’adresse pour un même véhicule, </strong><br>
                        vous recevrez un nouveau certificat d’immatriculation <b>(carte grise)</b>.</li>
                </ul>
               
                <h4 class="mb-4 mt-5">2- D'une demande de duplicata :</h4>
                <ul class="list col-12">
                    <li>Un justificatif de domicile (copie)</li>
                    <li>L'attestation d'assurance </li>
                    <li>La déclaration de perte ou de vol CERFA n° 13753*01 <b>(original)</b>,
                    <a href="/../download/cgofficiel_cerfa-13753-01.pdf" target="blank">
                        <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                    </a>
                    </li>
                    <li>La copie recto/verso de sa pièce d’identité </li>
                    <li>Le formulaire de demande de certificat d’immatriculation <b>(carte grise)</b> CERFA n° 13750*05
                        <a href="/../download/cgofficiel_cerfa_13750-05.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li>La copie du permis de conduire </li>
                    <li>La procuration par Mandat <strong>(autorisant CG Officiel à effectuer les formalités d'immatriculation au nom du client)</strong>
                        <a href="/../download/cgofficiel_cerfa_13757-03.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    </li>
                    <li>Le procès verbal du contrôle technique à jour (copie) ainsi que le numéro de formule figurant sur les <br>
                        certificats d’immatriculation <b>(carte grise)</b> à demander à son assurance si vous vous ne l’avez plus.</li>
                </ul>

                <h4 class="mb-4 mt-5">3- D'une demande de changement du titulaire de véhicule d’occasion :</h4>
                <ul class="list col-12">
                    <li>L'original de l’ancien certificat d’immatriculation ( carte grise) , </li>
                    <li>La déclaration de cession CERFA n° 15776*01, 
                    <a href="/../download/cgofficiel_cerfa-15776-01.pdf" target="blank">
                        <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                    </a>
                    </li>
                    <li>Un justificatif de domicile de moins de 6 mois (copie)</li>
                    <li>Le procès-verbal du contrôle technique, à jour (copie) <span class="js-toggle">(cas particuliers de dispense)</span></li>
                    <div class="toggle-content part-dispense"  style="display: none;">
                        <h4>Cas particuliers de dispense</h4>
                        <p>Si votre véhicule a plus de 4 ans le contrôle technique est obligatoire pour la plupart des véhicules particuliers (VP) ou utilitaires. Toutefois, les véhicules suivants en sont dispensés :</p>
                        <ul>
                            <li>Voiture sans permis</li>
                            <li>Voiture de collection dont le PTAC est inférieur ou égal à 3,5 tonnes et dont la mise en circulation est antérieure à 1960</li>
                            <li>Voiture de collection dont le PTAC est supérieur à 3,5 tonnes</li>
                            <li>Moto, 2 roues et 3 roues</li>
                            <li>Quadricycle à moteur</li>
                            <li>Caravane dont le PTAC est inférieur ou égal à 3,5 tonnes</li>
                            <li>Remorque dont le PTAC est inférieur ou égal à 3,5 tonnes non utilisée pour le transport de marchandises dangereuses</li>
                            <li>Voiture immatriculée dans les services diplomatiques ou assimilés</li>
                            <li>Voiture immatriculée dans les séries FFECSA (Forces françaises et éléments civils stationnés en Allemagne) Tracteur agricole)</li>
                        </ul>
                    </div>
                    <li>La procuration par Mandat <strong>(autorisant CG Officiel à effectuer les formalités d'immatriculation au nom du client)</strong>
                        <a href="/../download/cgofficiel_cerfa_13757-03.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li>Le formulaire de demande de certificat d’immatriculation <b>(carte grise)</b> CERFA n° 13750*05
                        <a href="/../download/cgofficiel_cerfa_13750-05.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li>Le permis de conduire (copie) </li>
                    <li>Une pièce d’identité en cours de validité (copie) </li>
                    <li>L'attestation d'assurance</li>
                    
                </ul>
                <h5 class="mb-4 mt-4 important-title">Important :</h5>
                <p>Le vendeur doit impérativement vous remettre l’ancien certificat d’immatriculation, barré, daté et signé par ses soins, avec la date et l’heure de la vente. Pour votre sécurité, il doit aussi vous fournir le certificat de non gage (ou certificat de situation administrative), attestant qu’il a payé toutes ses amendes et vous confirmer que son véhicule n’a pas été déclaré comme irréparable après un accident si c'est le cas.</p>
                <h5 class="mb-4 mt-4 important-title"> Pour un véhicule neuf</h5>
                <p>Les pièces nécessaires pour établir votre certificat d’immatriculation <b>(carte grise)</b> sont : la déclaration de cession ou la facture d’achat, le quitus fiscal fourni par le Trésor Public attestant la régularité du véhicule pour <b>la TVA</b>, le certificat de conformité fourni par le constructeur,un justificatif de domicile daté de moins de 6 mois (copie).</p>
            </div>
            <!-- Demarche formulaire /Iary  -->
			<div class="col-lg-4 d-xll-none">
				<div id="aside_right" class="aside_right">
					<div id="col_formulaireFx" class="sectionTop_">
						<div class="form_demarche">
							<div class="demarche_block">
								{% include "home/composant/formSidebarBlog.html.twig" %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Demarche formulaire /Iary  -->
		</div>
	</div>
</div>
<div class="d-none d-xll-block">
    <div id="aside_right" class="aside_right">
        <div id="right_formulaireFx" class="sectionTop_">
            <div class="form_demarche"></div>
        </div>
    </div>
</div>
{% endblock %}