{% extends 'base.html.twig' %}
{% block body %}
	{{ include('home/ctvolink.html.twig') }}
	{{ include('home/tarif.html.twig') }}
	{{ include('home/service_telephonique.html.twig') }}
	{{ include('home/band_actualite.html.twig') }}
	<div class="col-12 home-titre">
		<h1>CG Officiel</h1>
	</div>
	<div id="cadre" class="col-10 mx-auto">
		<div class="row mx-auto home-texte">
			<div class="col-12 col-md-12 home-texte1">
				<h2>
					<i class="far fa-circle"></i>Avec CG Officiel, obtenez rapidement et facilement votre Certificat d'immatriculation / carte grise</h2>
				<div>
					<h6 class="col-12 mx-auto mt-5">Effectuer une demande de certificat d’immatriculation en ligne est désormais chose simple grâce à notre service d’immatriculation des véhicules en ligne.</h6>
					<h6 class="col-12 mx-auto">Simplifiez-vous donc la vie ; Il n’est plus nécessaire de se déplacer pour
						<strong>obtenir un nouveau certificat d’immatriculation</strong>. Obtenez rapidement votre carte grise, tout en économisant du temps pour vos démarches ; nous réceptionnons vos documents via notre service d’immatriculation de carte grise en ligne, accessible à l’adresse
						<strong>www.cgofficiel.fr</strong>.
					</h6>
					<h6 class="col-12 mx-auto">
						<strong>Tout dossier complet sera traité dans les 24 heures</strong>
					</h6>
					<h6 class="col-12 mx-auto">Dès réception de votre nouvelle carte grise, pensez à vous procurer sur le site officiel du Certificat qualité de l'air, une
						<strong>vignette Crit'Air</strong>, l'autocollant sécurisé obligatoire dans certaines grandes villes de France.</h6>
				</div>
			</div>
		</div>
	</div>

	<div id="cadre2" class="col-10 mx-auto">
		<div class="row mx-auto home-texte">
			<h2 class="col-12">
				<i class="far fa-circle"></i>
			</i>
			Démarche Simplifiée : Obtenez votre carte grise en 4 étapes</h2>
		<div class="col-12 col-md-6 row home-texte2">
			<div class="col-1 home-texte2--number">1
			</div>
			<div class="col-10 mx-auto home-texte2--titre">
				<h4>Calculez le prix de votre certificat d’immatriculation en ligne</h4>
			</div>
			<div class="home-texte2--description">
				Calculez le tarif légal de votre carte grise grâce à notre outil en ligne
			</div>
		</div>
		<div class="col-12 col-md-6 row home-texte2">
			<div class="col-1 home-texte2--number">2
			</div>
			<div class="col-10 mx-auto home-texte2--titre">
				<h4>Procédez au paiement en ligne</h4>
			</div>
			<div class="home-texte2--description">
				Le règlement de votre certificat d’immatriculation et de la prestation de
				<strong>www.cgofficiel.fr</strong>
				s’effectuera par Carte Bancaire,
				<strong>via un paiement sécurisé</strong>. Vous recevrez, par la suite, un email de confirmation avec la liste des documents à nous faire parvenir.
			</div>
		</div>
		<div class="col-12 col-md-6 row home-texte2">
			<div class="col-1 home-texte2--number">3
			</div>
			<div class="col-10 mx-auto home-texte2--titre">
				<h4>Faites nous parvenir
					<br/>
					votre dossier complet</h4>

			</div>
			<div class="home-texte2--description">
				Dès réception de vos documents à notre agence,
				<strong>nous traiterons votre demande immédiatement
				</strong>et vérifierons que votre dossier soit bien complet. Si une pièce justificative manque à votre dossier, vous serez immédiatement averti(e) par email et invité(e) à fournir les derniers éléments pour finaliser la procédure. En attendant, nous
				conserverons précieusement votre dossier.
			</div>
		</div>
		<div class="col-12 col-md-6 row home-texte2">
			<div class="col-1 home-texte2--number">4
			</div>
			<div class="col-10 mx-auto home-texte2--titre">
				<h4>Recevez votre Carte Grise</h4>

			</div>
			<div class="home-texte2--description">
				<strong>Un Certificat Provisoire d'Immatriculation (CPI)</strong>
				ou un accusé d'enregistrement de changement de titulaire
				<strong>(AECT)</strong>
				vous sera d'abord envoyé dans un délai de 24 heures. Ensuite, le certificat d’immatriculation (ou carte grise) définitif sera expédié directement à votre domicile par
				<strong>l'Imprimerie Nationale</strong>
				sous pli sécurisé ("Lettre expert" en lettre suivie avec remise contre signature par la Poste) en moins d'une semaine. En cas d'absence, le courrier contenant votre carte grise est conservé 15 jours dans un bureau de poste. En cas de non retrait, il
				est renvoyé à l'<strong>Agence Nationale des Titres Sécurisés</strong>
				(ANTS) qui pourra procéder à un nouvel envoi, selon certaines conditions. En attendant votre certificat d'immatriculation définitif, vous recevrez une carte grise provisoire qui vous permettra de circuler librement.

			</div>
		</div>
	</div>
</div>

<div id="cadre3" class="col-10 mx-auto">
	<div class="row mx-auto home-texte">
		<div class="home-texte3">
			<h2>
				<i class="far fa-circle"></i>
			</i>
			Les avantages de CG Officiel</h2>
		<ol>
			<li>
				<span class="li-texte3">Gagnez du temps :
				</span>
				simplifiez vos démarches en accédant au service d'immatriculation de véhicules en ligne de CG Officiel. Tous les formulaires CERFA sont disponibles en téléchargement gratuit sur notre site. Économisez du temps et de l’argent sur vos frais de
				déplacement et stationnement.</li>
			<li>
				<span class="li-texte3">Simplicité :
				</span>finies les files d’attente et le parcours du combattant en préfecture ; grâce au service de demande de certificat d’immatriculation de CG Officiel, vous effectuez vos démarches et passez commande depuis votre domicile.</li>
			<li>
				<span class="li-texte3">Livraison rapide :
				</span>recevez rapidement votre certificat d’immatriculation directement à l’adresse de votre domicile.</li>
		</ol>
	</div>
	<div class="col-10 mx-auto home-texte4">
		<p>
			En tant que professionnel de l'automobile, CG Officiel est habilité par la Préfecture, au
			<strong>Système d'Immatriculation des Véhicules</strong>
			(SIV). Non affilié au gouvernement, CG officiel est également agréé par le
			<strong>Ministère de l'Intérieur</strong>
			(n°222442) , et habilité par le
			<strong>Trésor Public
			</strong>(n°55337) afin de vous proposer ce service d'immatriculation de véhicule en ligne et vous épargner ainsi tout déplacement pour vous démarches.
		</p>
	</div>

	<div class="col-10 mx-auto home-texte5">
		<p>Si vous préférez envoyer votre demande à l’ANTS, l’Agence nationale des Titres Sécurisés, prenez en compte les délais de traitement des demandes d’immatriculation bien plus importants, la plateforme gouvernementale accusant de nombreux retards
			avec son système automatisé de demandes de cartes grises mis en place le 6 novembre 2017 .</p>
	</div>

	<div class="col-12 arrow-up">
		<a href="#up">
			<span class="arrowup">Retour</span>
		</a>
	</div>
</div>
</div>
{% endblock %}