<div id="menu-faq" class="row faq-menu faq-secondview d-flex flex-row align-items-center my-flex-container">
  <div class="row col-11 mx-auto">

      <div class="col-12 col-md-4 menu-faq--box">
          <button type="button" data-toggle="modal" data-target="#a-quoi-sert-le-certificat-d" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
            <span class="col-10 mx-auto menu-faq--box--titre">  A quoi sert le certificat d’immatriculation ?</span>
          </button>
      </div>


      <div class="col-12 col-md-4 menu-faq--box">
          <button type="button" data-toggle="modal" data-target="#Les-tracteurs-ont-ils-une-double-immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
            <span class="col-10 mx-auto menu-faq--box--titre">  Peut-on encore se rendre en préfecture pour toutes démarches concernant les certificats d’immatriculations ?</span>
          </button>
      </div>

      <div class="col-12 col-md-4 menu-faq--box">
          <button type="button" data-toggle="modal" data-target="#Le-locataire-d-un-véhicule-peut-il-présenter-une-demande-d-immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
            <span class="col-10 mx-auto menu-faq--box--titre">  Le locataire d’un véhicule peut-il présenter une demande d’immatriculation ?</span>
          </button>
      </div>

      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Existe-t-il-une-différence-entre-carte-grise-et-certificat-d’immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">  Existe-t-il une différence entre carte grise et certificat d’immatriculation ?</span>
  </button>
      </div>

      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Peut-on-encore-se-rendre-en-préfecture-pour-toutes-demarches-concernant-les-certificats-d-immatriculations" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">  Peut-on encore se rendre en préfecture pour toutes démarches concernant les certificats d’immatriculations ?</span>
  </button>
      </div>

      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Doit-on-immatriculer-une-voiture-sans-permis" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">  Doit-on immatriculer une voiture sans permis ?</span>
  </button>
      </div>

      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#doit-on-immatriculer-une-remorque" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">  Doit on immatriculer une remorque ?</span>
  </button>
      </div>


      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Un-certificat-d-immatriculation-est-il-obligatoire-pour-les-véhicules-étrangers" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">Un certificat d’immatriculation est-il obligatoire pour les véhicules étrangers ?</span>
  </button>
      </div>



      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Quelles-sont-les-principales-informations-renseignees-sur-un-certificat-d’immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">  Quelles sont les principales informations renseignées sur un certificat d’immatriculation ?</span>
  </button>
      </div>


      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Quel-véhicule-peut-être-immatriculé-comme-véhicule-de-collection" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre"> Quel véhicule peut être immatriculé comme véhicule de collection ?</span>
  </button>
      </div>

      <div class="col-12 col-md-4 menu-faq--box">
        <button type="button" data-toggle="modal" data-target="#Qu-est-ce-qu-un-Certificat-provisoire-d-immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
    <span class="col-10 mx-auto menu-faq--box--titre">  Qu’est-ce qu’un Certificat provisoire d’immatriculation ?</span>
  </button>
      </div>

  </div>
