{% extends 'base.html.twig' %}

{% block page_content %}
<div class="block_CCM">
	<div class="container">
		<div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 doc-telechargeable">
                <h3 class="home-secondview--titre">Fory</h3>
            </div>
		</div>
	</div>
</div>
{% endblock %}