{% extends 'base.html.twig' %}

{% block page_content %}
<div class="block_CCM">
	<div class="container">
		<div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 piece-fournir">
                <h3 class="home-secondview--titre">Pièce à fournir</h3>
                <div class="col-xs-12 col-md-12 liste-piece-fournir">
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir01.jpg');background-size: cover;">
                            <div class="piece-fournir--number">1</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">procutation par mandat</h4>
                            <ul class="list">
                                <li>Le mandat original dûrement complété autorise CGOciel à réaliser la démarche
                                    administrative en votre nom. Le numéro VIN à renseigner sur le mandat correspondant
                                    à la case "E" devotre carte grise</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir02.jpg');background-size: cover;">
                            <div class="piece-fournir--number">2</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">Carte grise</h4>
                            <ul class="list">
                                <li><strong>Carte grise originale :</strong>
                                    Copie recto/verso du certicat d'imma-
                                    triculation (carte grise) barré, daté et signé par le vendeur ou l'original du certicat
                                    d'immatriculation pour les changements de titulaire de véhicules d'occasion .

                                    L'article 4 du décret n° 2017-1278 du 9 août 2017 modie l'article R. 322-5 du code de la route
                                    et instaure que le nouveau propriétaire d'un véhicule doit pouvoir justier sur demande de
                                    l'ancien certicat d'immatriculation barré, daté et signé.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir03.jpg');background-size: cover;">
                            <div class="piece-fournir--number">3</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">Justificatif de domicil</h4>
                            <ul class="list">
                                <li>Quittance de loyer éditée par une agence immatriculée au RCS</li>
                                <li>Dernier avis d'imposition ou de non imposition</li>
                                <li>Quittance de gaz</li>
                                <li>Quittance d'électricité</li>
                                <li>Facture de téléphone xe ou portableFacture d'un fournisseur d'accès à Internet</li>
                                <li>Attestation d'un fournisseur d'énergie (EDF, Engie, ...)</li>
                                <li>Attestation d'assurance habitation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir04.jpg');background-size: cover;">
                            <div class="piece-fournir--number">4</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">Permis de conduire</h4>
                            <ul class="list">
                                <li>Preuve que le titulaire dispose du droit de conduire le véhicule.</li>
                                <li>Copie du permis de conduire en cours de validité ou document provisoire établissant l
                                    es droits à conduire <em>(décret n°2017-1278du 9 août 2017).</em></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir05.jpg');background-size: cover;">
                            <div class="piece-fournir--number">5</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">procutation par mandat</h4>
                            <ul class="list">
                                <li>Copie recto/verso d'une carte d'identité (ou passeport) en cours de validité, ou d'un titre
                                    de séjour (dans ce cas, même adresse que la carte grise).</li>
                                <li>Pour un nom marital qui n'apparaît pas sur la pièce d'identité,
                                    <strong>fournir en plus une copie du livret de famille mis à jour.</strong> </li>
                                <li>Pour un passeport établi hors UE, si l'adresse du passeport est en France,
                                    <strong>fournir en plus une copie de la carte de séjour ou du permis de conduire français</strong></li>
                                <li>si l'adresse du passeport est hors de France,
                                    <strong>fournir une copie du visa.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir06.jpg');background-size: cover;">
                            <div class="piece-fournir--number">6</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">Copie du contrôle technique</h4>
                            <ul class="list">
                                <li>Copie du Contrôle technique ou la vignette collée au dos de la carte grise qui prouve
                                    qu'il a été eectué il y a moins de 6 mois (ou moins de 2 mois en cas de contre-visite).</li>
                                <li>Les motos, cyclo, caravanes, remorques et engins agricoles ne sont pas concernés.</li>
                                <li><strong>Important:</strong> c'est la date de saisie du dossier qui est prise en compte et non la
                                    date de commande !</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 left" style="background-image: url('../../asset/img/piece-fournir07.jpg');background-size: cover;">
                            <div class="piece-fournir--number">7</div>
                        </div>
                        <div class="col-8 piece-fournir--description right">
                            <h4 class="mb-3">Demande originale</h4>
                            <ul class="list">
                                <li>Copie du Contrôle technique ou la vignette collée au dos de la carte grise qui prouve
                                    qu'il a été eectué il y a moins de 6 mois (ou moins de 2 mois en cas de contre-visite).</li>
                                <li>Les motos, cyclo, caravanes, remorques et engins agricoles ne sont pas concernés.</li>
                                <li><strong>Important:</strong> c'est la date de saisie du dossier qui est prise en compte et non la
                                    date de commande !</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}