<div class="col-12 col-lg-10 mx-auto service-telephonique">
	<div class="col-12 d-flex flex-row flex-row-reverse align-items-center my-flex-container service-telephonique--flex">
		<div class="col-lg-6 row service-telephonique--flex---text d-flex flex-row justify-content-center align-items-center my-flex-container">
			<div class="row service-telephonique--flex---text----flex ">

				<p class="col-12">Besoin d'aide dans votre démarche ?</p>
				<p class="col-12">Appelez notre service téléphonique</p>
				<img class="mx-auto" src="asset/img/08.png" alt="cartouche">
				<p class="col-12">Disponible 7 jours sur 7, 24 heures sur 24</p>

			</div>
		</div>
	</div>
</div>