{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
 tabory ngeza
 {{ dump(client) }}
{% endblock %}