{% extends 'email_base.html.twig' %}


{% block body %}
    <td class="bodyEmail" bgcolor="#ffffff">
        <br>
        <br>
        <br>
        <br>
        Bonjour {{ user.client|displayRelanceInfos }}
        <br>
        <br>
        <p>Vous vous êtes récemment inscrit(e) sur <a href="https://www.carte-grise-officie.fr" target="_blank">carte-grise-officie.fr</a>, pour estimer le prix d’une démarche d’immatriculation avec </p>
        <p>la plaque suivante : {{ commande.immatriculation }}</p>
        <p>Cependant vous n’avez pas finalisé de demande, avez-vous besoin d’assistance ?  </p>
        <p>Notre service client par téléphone peut vous guider pas à pas dans votre démarche au 08 97 01 08 00 </p>
        <p>Cordialement,</p>

        <p>L'équipe de <a href="https://www.carte-grise-officie.fr" target="_blank">CG Officiel</a> vous remercie.</p>
    </td>
</tr>
<tr>
    <td style="text-align: center; padding: 0 10px 0 10px;" class="bodyEmail" bgcolor="#ffffff">
    <br>
        <a href="tel:0972760107"><img src="{{ url('home') ~ asset('asset/img/0972760107.png') }}" alt="" border="0" style="max-width: 300px;background:fff" /></a>
    <br>
    <br>
    <br>
    </td>
</tr>
<tr>
    <td class="footer" bgcolor="#03347e">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" class="footercopy">
                    Agrément du Trésor Public N° 55337 <br>Habilitation du Ministère de l'Interieur N° 222442
                </td>
            </tr>
            <tr>
                <td align="center" class="footercopy">
                    <br>
                    <br>
                    Ce mail est envoyé automatiquement, veuillez ne pas y répondre
                </td>
            </tr>
        </table>
    </td>
                            
{% endblock %}