{% extends 'base.html.twig' %}

{% block title %}Paiement {% endblock %}

{% block body %}
    <h1> test page lcl </h1>
    <br>
    <input type=button onclick=window.location.href='http://dev2.cgofficiel.fr/banque/call_request.php'; value=PAYER />

{% endblock %}
