{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% endblock %}
{% block body_html %}
{% autoescape false %}
<div dir="ltr" style="display: block; width: 100%; background: #ffffff">
		<table style='width: 100%; border: none'>
			<tr style='height: 50px; background-color: #ffffff'>
				<td> 
					<img style="height:150px;width:auto;margin:auto;" src="https://ci4.googleusercontent.com/proxy/mJemm3T_DymwQsex1-Y_ypC4igpKrD0RAbH94SkU5yZVbwVwBd0NvY6UCn96c5Sh4sRzuUjtPLPm4v-57JTf=s0-d-e1-ft#http://dev2.cgofficiel.fr/asset/img/logo.png" alt="logo" class="CToWUd a6T" tabindex="0"> 
					<div style="text-align:center;padding-top:15px;padding-bottom:15px;background-color:#002a6a;font-family:Raleway;color:white;font-weight:bold;padding-left:15px;padding-right:15px">
							<span class="il">CGOfficiel</span>.fr
					</div>
				</td>
			</tr>
			<tr>
				<td style="padding: 30px 0; font-family: Verdana">
						{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl,'%email%': user.email}) }}
				</td>
			</tr>
			<tr style='height: 20px; background-color: #4ED53E'>
				<td></td>
			</tr>                    
		</table>
	</div>

{% endautoescape %}
{% endblock %}
