<div class='tooltips_block'>
<img src='{{ asset("img/numeroFormule.png")}}' alt='numero-formule'><br>
<span>Si vous n'avez plus votre <strong>carte grise</strong>, vous pouvez contacter votre assureur et lui demander une copie de votre <strong>carte grise</strong> que vous avez du lui transmettre afin d'assurer votre véhicule.
<br>Attention le numéro de formule est obligatoire pour faire une demande de duplicata. </span>
</div>




