<div class='text-left'>
    <b>Où se trouve le numéro de formule ?</b>
    <br>
    <p>-En caractère gras au recto du certificat d'immatriculation</p>
    <p>-Au verso du coupon détachable,à partir duquel il est possible de mener les démarches de mise à jour des informations
    </p>
    <i>liées à la voiture, que ce soit en cas de vente de voiture ou de don</i>
    <img src='{{ asset("img/numeroFormule.png")}}' alt='image explicatif'>
</div>



