<!--____________________________________________________________________________LINK META-->
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="fr-FR"/>
<meta name="language" content="fr-FR"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--____________________________________________________________________________FIN LINK META-->
<!--____________________________________________________________________________LINK CSS-->

<!-- LINK MAIN-->
<link rel="stylesheet" href="asset/css/styles.css">

<link rel="stylesheet" href="asset/css/styles.css.map">

<!-- LINK BOOTSTRAP-->
<link rel="stylesheet" href="asset/libs/css/bootstrap.min.css">
<!-- LINK NORMALIZE-->
<link rel="stylesheet" href="asset/libs/css/normalize.min.css">
<!-- LINK FONTAWESOME-->
<link rel="stylesheet" href="asset/libs/css/fontawesome.css">

<link rel="apple-touch-icon" sizes="180x180" href="asset/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="asset/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="asset/favicon/favicon-16x16.png">
<link rel="manifest" href="asset/favicon/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!--____________________________________________________________________________FIN LINK CSS-->

<!--____________________________________________________________________________FIN LINK CSS-->

<title>
	{% block title %}CGOfficiel{% endblock %}
</title>