@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);


.main-wrapper {
  padding: 0 20px;
  position: relative;
}
.blog-post--description---date{
  font-size: 12px;
}
.badge-dark{
  color: #fff;
    background-color: $bleu !important;
    font-family: textr;
}
.blog-titre-article{
  text-decoration: none !important;
  color: $bleu !important;
  font-family: textr !important;
  font-weight: bold !important;
  font-size: 20px !important;
  &:hover{
    text-decoration: none !important;
    color: $bleu-hover !important;
  }
}
.bg {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}
.bg .bg-image {
  postion: absolute;
  width: 110%;
  margin-top: -5%;
  margin-left: -5%;
  height: 110%;
  background-image: url("http://deghq.com/yapp/front-labs/codepen-assets/bmw-M4.jpg");
  background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

a {
  text-decoration: none !important;
  color: $bleu !important;
  &:hover{
    text-decoration: none !important;
    color: $bleu-hover !important;
  }
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: textr;

}
h3 span {
  font-weight: 400;
  padding-left: 8px;
  color: #9f9e9f;
  font-style: italic;
  font-size: 18px;
}
h3 span i {
  display: inline-block;
  width: 3px;
  margin-right: 6px;
  height: 14px;
  background-color: #6295ca;
  position: relative;
  transform: skewX(-15deg);
}
h3 span i:before {
  content: "";
  width: 3px;
  height: 14px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 3px;
  background-color: #13274c;
}
h3 span i:after {
  content: "";
  width: 3px;
  height: 14px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 6px;
  background-color: #d1253b;
}

p {
  color: #424242;
  font-size: 14px;
  line-height: 1.6em;
  font-family: textr;
  font-weight: bold;
}

.blog-post-wrapper {
  position: relative;
  z-index: 4;
  padding: 150px 0;
}

.blog-post {
  margin-bottom: 30px !important;
  background-color: #ffffff;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
	margin: 2vh !important;
  .btn-outline-dark{
    border-color: $bleu !important;
    font-family: textr;
    &:hover{
      background-color: $bleu-hover !important;
      color: white !important;
    }
  }
}
.blog-post:hover .blog-post--image img {
  transform: scale(1.05);
}
.blog-post:hover:before {
  bottom: 10%;
}
.blog-post:before {
  content: "";
  display: block;
  background-color: #ffffff;
  bottom: 30%;
  left: -20%;
  z-index: 3;
  width: 150%;
  height: 41%;
  position: absolute;
  transform: rotate(8deg);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.blog-post--image {
  position: relative;
  padding-bottom: 56.25%;
  margin: 0;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.blog-post--image:hover:before {
  opacity: 1;
}
.blog-post--image:hover:after {
  opacity: 1;
  top: 50%;
}
.blog-post--image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: block;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.blog-post--image:after {

  font-weight: 700;
  color: #ffffff;
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 28px;
  border-radius: 100%;
  top: 60%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  font-size: 32px;
  line-height: 30px;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.blog-post--image img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  backface-visibility: hidden;
  padding: 0px !important;
}
.blog-post--description {
  text-align: left;
  position: relative;
  z-index: 4;
  padding: 0 40px 30px 40px;
}
.blog-post--description h2{
  font-family: textr;
  text-transform: uppercase;
  color: $rouge;
  font-size: 18px;
}
.blog-post--tools {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
	z-index: 99999999999;
}
.blog-post--tools:before {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  width: 400px;
  height: 1px;
  background-color: #e0dfe1;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 8%;
  cursor: pointer;
}
.icon svg {
  fill: #e0dfe1;
  transition: all 0.2s ease-in;
}
.icon:hover svg {
  fill: #9f9e9f;
}
.icon span {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 11px;
}

#links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-size: 13px;
  font-family: tahoma;
  color: #fff;
  z-index: 22;
}

#links a {
  text-decoration: none;
  font-size: 2.3em;
  color: #fff;
}

#twitter {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

#pens {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
