.body-cgv{
	p{
		font-family: textr;
		font-weight: 600;
	}
	.container-cgv{
		// background-color: rgba(255, 255, 255, 0.4);
	}
	h1{
				font-family: textr;
				font-weight: bold;
	}
	h2{
				font-family: textr;
				font-weight: bold;
	}
	h3{
				font-family: textr;
				font-weight: bold;
	}
	li{
			font-family: textr;
			font-weight: 600;
		}
}
