
.color-categorie-7{

  border: 2px solid #6c5ce7;
  font-weight: bold;
  color: #6c5ce7;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-7:hover{
  cursor: pointer;
    color: #5549b0;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #6c5ce7 ;
    -moz-box-shadow: 0px 0px 100px 0px  #6c5ce7 ;
    box-shadow: 0px 0px 100px 0px  #6c5ce7 ;
}


.color-categorie-8{

  border: 2px solid #00b894;
  font-weight: bold;
  color: #00b894;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-8:hover{
  cursor: pointer;
    color: #04967a;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #00b894 ;
    -moz-box-shadow: 0px 0px 100px 0px  #00b894 ;
    box-shadow: 0px 0px 100px 0px  #00b894 ;
}


.color-categorie-1{

  border: 2px solid #e17055 ;
  font-weight: bold;
  color: #e17055;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-1:hover{
  cursor: pointer;
    color: #a6503c ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #e17055  ;
    -moz-box-shadow: 0px 0px 100px 0px  #e17055  ;
    box-shadow: 0px 0px 100px 0px  #e17055  ;
}

.color-categorie-2{

  border: 2px solid #0984e3 ;
  font-weight: bold;
  color: #0984e3;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-2:hover{
  cursor: pointer;
    color: #0961a4 ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #0984e3  ;
    -moz-box-shadow: 0px 0px 100px 0px  #0984e3  ;
    box-shadow: 0px 0px 100px 0px  #0984e3  ;
}

.color-categorie-3{

  border: 2px solid #ff7675 ;
  font-weight: bold;
  color: #ff7675;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-3:hover{
  cursor: pointer;
    color: #bf5857 ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #ff7675  ;
    -moz-box-shadow: 0px 0px 100px 0px  #ff7675  ;
    box-shadow: 0px 0px 100px 0px  #ff7675  ;
}

.color-categorie-4{

  border: 2px solid #d6a241 ;
  font-weight: bold;
  color: #d6a241;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-4:hover{
  cursor: pointer;
    color: #b58937;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #d6a241  ;
    -moz-box-shadow: 0px 0px 100px 0px  #d6a241  ;
    box-shadow: 0px 0px 100px 0px  #d6a241  ;
}
.color-categorie-5{

  border: 2px solid rgb(169, 80, 191)  ;
  font-weight: bold;
  color: rgb(169, 80, 191) ;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-5:hover{
  cursor: pointer;
    color: rgb(123, 57, 139)  ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(169, 80, 191)   ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(169, 80, 191)   ;
    box-shadow: 0px 0px 100px 0px  rgb(169, 80, 191)   ;
}

.color-categorie-6{

  border: 2px solid #55efc4   ;
  font-weight: bold;
  color: #55efc4 ;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-6:hover{
  cursor: pointer;
    color: #3fb896   ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  #55efc4    ;
    -moz-box-shadow: 0px 0px 100px 0px  #55efc4    ;
    box-shadow: 0px 0px 100px 0px  #55efc4    ;
}
