.tarif-departement--dep---box{
  text-align: center;
  height: 10vh;
  margin-bottom: 1vh;
}
.tarif-departement--dep---box----bloc{
  background-color: rgba(5, 193, 226, 0.54);
  border-radius: 10px;
  height: 10vh;
}
