<h2>VOUS AVEZ ACHETÉ UN VÉHICULE D’OCCASION ? IMMATRICULEZ VOTRE NOUVEAU VÉHICULE EN LIGNE ET EN QUELQUES MINUTES !</h2>
<p>
    Vous venez d’acquérir un véhicule d’occasion ? Sachez que vous disposez d’un délai d’un mois suivant la date d’achat pour procéder à l’immatriculation de votre véhicule, qui consistera à changer le nom, prénom, adresse et autres informations permettant d’identifier son nouveau propriétaire. Les guichets des préfectures et sous-préfectures ne traitant plus les demandes de changement de titulaires de cartes grises, vous devez effectuer dorénavant votre démarche en ligne. 
</p>
<p>
    En commandant votre nouveau certificat d’immatriculation (carte grise) sur CG Officiel, le service d’immatriculation de véhicules en ligne, agréé par le Trésor Public et habilité par le Ministère de l’Intérieur, vous bénéficierez d’un service fiable et rapide qui vous permettra de recevoir votre certificat d’immatriculation (carte grise) sous quelques jours, directement à votre domicile, sous pli sécurisé.
</p>
<h3>LISTE DES PIÈCES À FOURNIR POUR TOUT CHANGEMENT DE TITULAIRE DE CERTIFICAT D’IMMATRICULATION OU CARTE GRISE :</h3>
<ul>
    <li>L'<strong>original</strong> de l’ancien certificat d’immatriculation (ou carte grise),</li>
    <li>L’<strong>original</strong> de la déclaration de cession CERFA n° 15776*01, </li>
    <li>Un justificatif de domicile de moins de 6 mois (copie)</li>
    <li>Le procès-verbal du contrôle technique, à jour (copie)</li>
    <li>La procuration par Mandat CERFA 13757*03 (<strong>original</strong>) autorisant CG Officiel à effectuer les formalités d'immatriculation.</li>
    <li>L’<strong>original</strong> de la demande du certificat d’immatriculation (carte grise) CERFA n° 13750*05 </li>
    <li>Le permis de conduire (copie)</li>
    <li>Une pièce d’identité en cours de validité (copie)</li>
    <li>L'attestation d'assurance (copie)</li>
</ul>