<h2>VOUS AVEZ DÉMÉNAGÉ ? PENSEZ A CHANGER L’ADRESSE DE VOTRE CERTIFICAT D’IMMATRICULATION OU DE VOTRE CARTE GRISE</h2>
<p>
    Si l’adresse de votre domicile n’est plus exactement la même (modification d’un numéro, d’une voie, etc) ou si vous avez tout simplement déménagé, vous disposez d’un mois maximum suivant cette modification pour mettre à jour l’adresse présente sur votre certificat d’immatriculation. Dépassé ce délai, vous encourez à une amende de 135€. Sachez cependant qu’il n’est plus possible d’effectuer un changement d’adresse de carte grise aux guichets de votre préfecture.  Les démarches s’effectuent en ligne. Au bout d’un quatrième changement d’adresse pour un même titulaire et même véhicule, vous recevrez un nouveau certificat d’immatriculation. 
</p>
<p>
    En commandant votre nouveau certificat d’immatriculation (carte grise) sur CG Officiel, le service d’immatriculation de véhicules en ligne, agréé par le Trésor Public et habilité par le Ministère de l’Intérieur, vous bénéficierez d’un service fiable qui vous permettra de mettre à jour rapidement l’adresse de votre carte grise.
</p>
<h3 class="titre_home_texte">LISTE DES PIÈCES À FOURNIR POUR TOUT CHANGEMENT D’ADRESSE SUR VOTRE CERTIFICAT D’IMATRICULATION OU CARTE GRISE :</h3>
<ul>
    <li>Un justificatif de domicile (copie)</li>
    <li>La procuration par Mandat CERFA 13757*03 <strong>(original)</strong> autorisant CG Officiel à effectuer les formalités d'immatriculation.</li>
    <li>Une pièce d’identité en cours de validité (copie)</li>
    <li>La copie du certificat d’immatriculation (carte grise)</li>
    <li>Le formulaire de demande de certificat d’immatriculation (carte grise) CERFA n° 13750*05 <strong>original</strong></li>
</ul>