<div class="icon_demarche_text">
	<i class="icomoon icon-duplicate"></i>
	<h2>DEMANDE DE DUPLICATA DE VOTRE CERTIFICAT D’IMMATRICULATION : <br><em>EFFECTUEZ VOTRE DÉMARCHE EN LIGNE</em></h2>
</div>
<p>
	Le duplicata du certificat d’immatriculation ou carte grise est une réplique à l'identique du document original, qui a soit été perdu, volé ou détérioré. Les informations renseignées sur ce duplicata restent identiques à celles du certificat d’immatriculation original, même si de nouvelles mentions y apparaîtront, telles que le terme de « duplicata » ainsi que la date du duplicata, ajoutés en cases Z.1 à Z.4. 
</p>
<p>
	La fabrication d’un duplicata a donc la même valeur juridique et rend obsolète son original. En effectuant votre démarche de demande de duplicata sur CG Officiel, le service d’immatriculation de véhicules en ligne, agréé par le Trésor Public et habilité par le Ministère de l’Intérieur, vous pourrez rapidement recevoir votre nouveau certificat d’immatriculation à votre domicile.
</p>
<div class="box_demarche">
	<h3>
		LISTE DES PIÈCES À FOURNIR POUR TOUTE DEMANDE DE DUPLICATA DE VOTRE CERTIFICAT D’IMMATRICULATION OU CARTE GRISE :
	</h3>
	<hr class="border--light-2">
	<ul class="list text-left">
		<li>Un justificatif de domicile (copie)</li>
		<li>L'attestation d'assurance (copie)</li>
		<li>La déclaration de perte ou de vol CERFA n° 13753*01 (<strong>original</strong>), </li>  
		<li>La copie recto/verso de votre pièce d’identité</li>
		<li>L’<strong>original</strong> du formulaire de demande de certificat d’immatriculation (carte grise) CERFA n° 13750*05  </li>
		<li>La copie du permis de conduire</li>
		<li>La procuration par Mandat <strong>(autorisant CG Officiel à effectuer les formalités d'immatriculation au nom du client) CERFA 13757*03</strong>  </li>
		<li>Contrôle technique à jour (copie) ainsi que le numéro de formule figurant sur les certificats d’immatriculation (carte grise) à demander à son assurance si vous vous ne l’avez plus.</li>
	</ul>
</div>