<div class="col-md-12 col-lg-12 recap-demande mx-0 row">
    <div class="col-4">
        <h6>Démarche</h6>
        <div  class="mt-2">{{ commande.demarche | displayValue}}</div>
    </div>
    <div class="col-4">
        <h6>Immatriculation</h6>
        <div class="mt-2">{{ commande.immatriculation | displayValue}}</div>
    </div>
    <div class="col-4">
        <h6>Département</h6>
        <div class="mt-2">{{ commande.codePostal | displayValue}}</div>
    </div>
</div>