<table class="table table-striped">
    <tr>
        <th>Démarche</th>
        <td>{{ commande.demarche}}</td>
    </tr>
    <tr>
        <th>Immatriculation</th>
        <td>{{ commande.immatriculation}}</td>
    </tr>
    <tr>
        <th>Département</th>
        <td>{{ commande.codePostal}}</td>
    </tr>
</table>