{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">
        <div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
            <br>
            <div>
                <h3>Vos commandes</h3>
                <hr>
                <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Type Demande</th>
                            <th scope="col">CodePostal</th>
                            <th scope="col">Immatriculation</th>
                            <th scope="col">status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.demarche.nom }}</td>
                            <td>{{ commande.codePostal }}</td>
                            <td>{{ commande.immatriculation }}</td>
                            <td><span class="badge badge-warning">commande en cours</span></td>
                            <td>
                                <a href="{{path('new_demande', {'commande': commande.id })}}"><button type="button" class="btn btn-primary btn-sm">passer Commande</button></a>
                                <button type="button" class="btn btn-danger btn-sm">annuler</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>                  
{% endblock %}