.resultat-estimation{
	display: block;
	img{
		height:200px;
		width:auto;
	}
	h2{
		text-align: left;
		text-transform: uppercase;
		font-family: textr;
		color: $bleu;
		font-weight: bold;
	}

	th{
		text-align: left;
		font-family: textr;
		color: $bleu;
		font-weight: bold;
	}

	td{
		text-align: left;
		font-family: textr;
		color: black;
		font-weight: bold;
	}
	.btn-success{
		font-family: textr;
		font-weight: bold;
		text-transform: uppercase;
		color:white !important;
		background-color: #5cb85c;
		&:hover{
			background-color: unset;
			color: #5cb85c !important;
			border-color: #5cb85c !important;
		}
	}
	.btn-primary{
		font-family: textr;
		font-weight: bold;
		text-transform: uppercase;
		color:white !important;
		background-color: #002a6b;
		&:hover{
			background-color: unset;
			color: #002a6b !important;
			border-color: #002a6b !important;
		}
	}
	.table td, .table th{
		padding: 0.60rem !important;
	}
	.resultat-estimation-p{
		font-family: textr;
		color: $bleu;
		font-weight: bold;
	}
}
.fos_user_registration_register {
	h2{
		font-family: textr;
		color: $bleu;
		font-weight: bold;
		text-transform: uppercase;
	}
	.registrer-form{
		background-color: unset;
		border-radius: 10px;
		color: #1a3f78;
		border: 2px solid #1a3f78;
	}
	.register-form--label{
		color: #1a3f78;
		font-family: textr;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.home-prix--titre{
	color: #002a6b;
	font-family: raleway;
	text-transform: uppercase;
	margin-bottom: 5vh;
	font-weight: bold;
}
.home-secondview--titre{
	text-align: center;
	color: #002a6b;
	font-family: raleway;
	text-transform: uppercase;
	margin-bottom: 5vh;
	font-weight: bold;
}

.head-message {
p{
height: 15px;
width: auto;
display: inline-block; /* pour un meilleur alignement */
position: relative; /* pour servir de référent à :after */
text-align: center;
animation: head-message 25s infinite linear;
width: inherit !important;
color: $bleu;
font-family: textr;
}
@keyframes head-message {
0% {
   margin-left:80vw;
}
100% {
   margin-left:-80vw;
}
}
.head-message:after {
content: attr(data-text);
position: absolute;
left:200vw;              /* placement à droite toute */
white-space: nowrap;
/*padding-left: 10px    /* OUT pas nécessaire ou mettre même valeur que conteneur */
}
}
.skill-titre{
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
.head {
  overflow: hidden;
  background-image: url("/../../asset/img/head.jpg");
  background-size:cover;

  .head-logo img {
    max-width: 80% !important;
  }

  .head-img img {
    width: 100%;
  }
}


.modal-body{
    padding-bottom: 2vh !important;
}
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a57102 !important;
    background-image: none;
    border-color: #01549b;
}


.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a56902;
    background-image: none;
    border-color: #01549b;
}



.home-titre{
  text-align: center;
  font-size: 35px;
  color: #002a6a;
  margin: 0.3em 0 !important;
  font-family: textr;
}



.search {
  input{
    font-family: raleway;
  }
  select{
    font-family: raleway;
  }
  .search-box{
    height: 16vh;
    .btn{
			font-size: xx-large;
      font-family: raleway;
			font-weight: 500;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 5000px) {
    .search-box{
      height: 10vh;
    }
}

  h2{
    text-align: center;
		color: #1a3f78;
		    font-weight: bold;
    font-family: raleway;
    margin-bottom: 4vh;
    text-transform: uppercase;
  }
  .search-form{
    width: 80%;
    background-color: unset;
    border-radius: 10px;
		color: #1a3f78;
    border: 2px solid #1a3f78;
  }

  .btn-primary {
		    height: 50px;
		    margin-top: 30px;
		    margin-bottom: 20px;
		    background-color: unset;
				color: #1a3f78;
		    border: 2px solid  #1a3f78;
  }

  .form-control-plaque {
    text-align: center;
    margin-bottom: 45px;
    height: 40px;
    font-size: 20px;
    background-image: url(/../../asset/img/plaque-CGofficiel-carte-grise-certificat-immatriculation.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color:transparent;
    border: none;
    box-shadow: none;
		&:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
  }
  .form-control-plaque:focus{
    background-color:transparent;
    box-shadow: none;
  }

  .input-group .form-control-plaque:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle{
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem;
  }

  .custom-select{
    height: 40px;
    -webkit-appearance: button-bevel !important;
  }

  .custom-select {
    display: block;
  }

  .input-group {
    height: 10vh;
  }

  .search-box--titre {
    margin-top: 2vh;
    text-align: center;
    color: #1a3f78;
    font-size: 16px;
    font-family: raleway;
text-transform: uppercase;
font-weight: bold;
    p{
      margin-bottom: 0.5rem !important;
			text-transform: uppercase;
			font-weight: 500;
			font-weight:bold !important;
			color: #1a3f78;
    }

		span{
			margin-bottom: 0.5rem !important;
			text-transform: none;
			font-weight: 500;
			font-size: 12px;
		}
  }

  option {
    text-align: center !important;
		color: black !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
	.search-box--titre p{
		font-size: 14px;
	}
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
	.search-box--titre p{
		font-size: 12px;
	}
	.search-box--titre p span{
		font-size: 8px !important;
	}
}
.skill {
  .skill-box {
    margin-top: 60px;
    margin-bottom: 60px;

    .skill-box--icon {
      text-align: center;
      margin-bottom: 20px;
    }
    .skill-box--text{
      text-align: center;
    }
  }
}
.home-texte{
  font-family: textr;
}
.accueil-texte{
	strong{
		color: #002a6a;
	}
}

.home-texte1{
  h3{
		color: #002a6a;
    font-weight: bold;
    margin-bottom: 0vh !important;
    font-size: 18px;
    font-family: textr;
    margin-bottom: 4vh !important;
    text-transform: uppercase;
    @media (max-width:480px) {
      font-size: 30px;
    }
  }
  h2{
    margin-left: 5vw;
    margin-right: 15vw;
    font-size: 20px;
    margin-bottom: 2vh;
    font-family: textr;
    line-height: 25px;
  }
  h4{
    margin-left: 5vw;
    margin-right: 15vw;
        font-size: 20px;
        margin-bottom: 2vh;
        font-family: textr;
        line-height: 25px;
  }
  h5{
    margin-left: 5vw;
    margin-right: 15vw;
    text-align: justify;
    font-family: textr;
    line-height: 25px;

  }
  h6{
    font-size: 18px;
    text-align: justify;
    font-family: textr;
    line-height: 25px;
  }
}
.home-texte{
  h3{
    color: #7296ce;
    font-weight: bold;
    font-size: 18px;
    font-family: textr;
    text-transform: uppercase;
  }
  h4{
    color: #7296ce;
    font-weight: bold;
    font-size: 18px;
    font-family: textr;
  }
  p {
    text-align: justify;
    color: #000;
  }
  .link-hp-texte {
    color: #7296ce;
    text-decoration: underline;
  }
  .home-texte1{
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-family: textr;
    line-height: 23px;
  }
}
.home-texte2 {
  margin-bottom: 2vh;
  font-family: textr;
  h3{
      color: #002a6a;
      font-weight: bold;
          margin-bottom: 2vh !important;
          font-family: textr;
          margin-bottom: 4vh !important;
          font-size: 18px;
  }
  .home-texte2--description{
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 2vh;
    text-align: justify;
    font-size: 18px;
  }
  .home-texte2--number{
    font-size: 50px;
    color: #002a6a;
    font-weight: bold;
  }
  .home-texte2--titre h4{
    font-weight: bold;
    font-size: 20px;
		color: #002a6a;
  }
}

.home-texte3{
  margin-bottom: 10vh;
  margin-top: 10vh;
  font-family: textr;
  h3{
		color: #002a6a;
		font-weight: bold;
				margin-bottom: 0vh !important;
				font-size: 40px;
				font-family: textr;
				margin-bottom: 4vh !important;
				text-transform: uppercase;
  }
  h2{
    margin-left: 2vw;
  }
  h4{
    margin-left: 4vw;
  }
  h5{
    margin-left: 8vw;
    margin-right: 15vw;
    text-align: justify;
  }
  h6{
    margin-left: 8vw;
    margin-right: 15vw;
    text-align: justify;
  }
  p{
    margin-left: 8vw;
  }
  .li-texte3{
    font-size: 20px;
    font-weight: bold;
		color: #002a6a;
  }
    li{
      margin-top: 1vh;
      margin-bottom: 1vh;
      list-style: none;
      text-align: justify;
      font-size:18px;
    }
}
.home-texte4{
font-family: textr;
font-size: 18px;
}
.home-texte5{
font-family: textr;
font-size: 18px;
}

@media (max-width:991px) {
  body {
    .hidden-home-mobile {
      display: none;
    }
    .logo-mobile {
      -webkit-flex: 0 0 52% !important;
      -ms-flex: 0 0 52% !important;
      flex: 0 0 52% !important;
    }
    .habilitation-mobile {
      margin-left: 0 !important;
      order: 2;
      -webkit-flex: 0 0 52% !important;
      -ms-flex: 0 0 52% !important;
      flex: 0 0 52% !important;
    }
    .cta-home-mobile {
      order: 1;
      position: absolute;
      right: 0;
      top: 50%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .accueil-texte > #cadre,
    .accueil-texte > #cadre2,
    .accueil-texte > #cadre3 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  } 
}
@media (max-width:768px) {
  body {
    .search-titre.mt-5 {
      margin-top: 15px !important;
    }
    .modal-body {
      .search-titre {
        h2 {
          font-size: 22px !important;
        }
        p {
          flex: 0 0 100% !important;
          font-size: 16px !important;
          max-width: 100% !important;
        }
      }
      .search {
        .btn-primary {
          margin-top: 20px !important;
        }
      }
    }
  }
}
@media (max-width:480px) {
  body {
    .home-secondview--titre {
      font-size: 26px !important;
    }
    .modal-body {
      .search-titre {
        h2 {
          font-size: 18px !important;
        }
        p {
          font-size: 14px !important;
        }
      }
      .form-control {
        height: 4vh !important;
      }
      .form-control-plaque {
        margin-bottom: 10px !important;
      }
      .search {
        .btn-primary {
          font-size: 22px !important;
          height: auto !important;
          margin-bottom: 0 !important;
          margin-top: 0 !important;
        }
        .search-box {
          height: auto !important;
        }
      }
    }
    .modal-footer {
      padding-top: 0 !important;   
    }
    .modal-dialog {
      margin-top: 10px !important;
    }
  }
}

/*Début ajustement*/
.custom-container-flex {
  display: flex;
  width: -moz-calc(100% - 30px);
  width: -ms-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0275d8;
  margin: 30px 0;
  border-radius: 5px;
  font-weight: 700;
  p {
    margin: 0;
    padding: 6px 15px;
  }
  .link-connexion {
    width: 30%;
    text-align: left;
    display: block;
    padding-left: 0;
    padding-right: 0;
    border: none;
    text-decoration: none;
    font-weight: 700;
  }
  .font-24 {
    font-size: 24px;
  }
  .no-border {
    border: none !important;
  }
}
@media (max-width:1024px) {
  .custom-container-flex {
    flex-wrap: wrap;
    padding: 15px;
    p {
      width: 100%;
    }
    .link-connexion {
      border: 1px solid #0275d8;
      width: auto;
      text-align: center;
      padding: 15px 20px;
      margin: 15px auto 0;
      border-radius: 5px;
    }
  }
}
/*Fin ajustement*/