.color-default{
    background-color: #ff66ff;
}
.color-info{
    background-color: #4472c4;
}
.color-warning{
    background-color: #ed7d31;
}
.color-success{
    background-color: #9dc3e6;
}
.color-warning-light{
    background-color: #ffc000;
}
.color-primary{
    background-color: #92d050;
}
.color-success-dark{
    background-color: #00b050;
    color: black;
}
.color-danger{
    background-color: #c55a11;
}
.color-danger-light{
    background-color: #ff0000;
}
.color-info-dark{
    background-color: #040e1f;
}
.color-info-light{
    background-color: #5d5e60;
}