footer {
	.footer-reseau {
		background-color: #7296ce;
		font-family: Raleway;
		z-index: 999999 !important;

		h6{
			font-family: Raleway;
			font-weight: bold;
			color: white;
		}

		a i {
			color: white;
			transition: color 1s ease;
		}

		.fb-ic {
			:hover {
				color: #3b5998;
				cursor: pointer !important;
			}
		}

		.tw-ic {
			:hover {
				color: #0084b4;
				cursor: pointer !important;
			}
		}

		.gplus-ic {
			:hover {
				color: #dd4b39;
				cursor: pointer !important;
			}
		}

		.ins-ic {
			:hover {
				color: #c32aa3;
				cursor: pointer !important;
			}
		}
	}

	.footer {
		z-index: 999;
		background-color: rgb(26, 63, 120);
		background-position: center;
		background-size: cover;
	}
	@media screen and (min-width: 0px) and (max-width: 996px) {
		.footer {
			height: 100% !important;
		}
	}

	.footer {
		a {
			&:hover {
				text-decoration: none !important;
			}
		}

		.footer-bottom {
			h6 {
				font-family: Raleway;
				font-weight: bold !important;
				margin-top: 1vh;
				text-transform: uppercase;
				-webkit-transition: color 1s ease-in;
				-moz-transition: color 1s ease-in;
				-o-transition: color 1s ease-in;
				transition: color 1s ease-in;
				font-weight: normal;
				color: white;
				text-decoration: none !important;
				transition: color 1s ease;

				&:hover {
					text-decoration: none !important;
					color: #7296ce;
				}
			}
		}

		.footer-menu-item:hover .footer-menu-line-span {
			font-size: 10px;
		}

		li {
			list-style: none !important;
		}

		.footer-menu-item:hover .footer-menu-line {
			height: 5vh;
		}

		.footer-menu-item {
			text-align: center;
		}
	}
	.footer-link{
		h4{
			font-family: Raleway;
			color: white;
		}
		h6{
			font-family: Raleway;
			color: white;
		}
	}
}
