//Footer
footer {
	.pre-footer {
		padding: 60px 0 35px;
		.faq-block {
			margin-bottom: 35px;
			.faQ {
				color: $inherit;
				font-size: 22px;
				line-height: $size_24;
				img {
					width: 90px;
					margin-bottom: 15px;
				}
				> span {
					display: block;
					font-size: 18px;
				}
				&:hover {
					text-decoration: none;
					color: $royal-blue;
				}
			}	
		}
		.info_docs {
			color: $inherit;
			font-weight: bold;
			text-transform: uppercase;
			display: $block;
			margin: 10px 0;
			position: relative;
			padding-left: 40px;
			&:before {
				content: "\e903";
				position: absolute;
				font-family: 'icomoon' !important;
				left: 0;
				font-size: 29px;
				color: $green;
			}
			&:hover {
				text-decoration: none;
				color: $green;
			}
			em {
				text-transform: none;
    			font-weight: 400;
				display: $block;
			}
		}
		.CG_Off_Footer {
			background-color: $aqua-blue;
			color: $white;
			font-size: 14px;
			font-style: italic;
			line-height: $size_24;
			margin-top: $size_24;
			margin-bottom: 30px;
			.logo-footer {
				background-color: $royal-blue;
				display: $block;
				text-align: center;
				padding: $size_24 0;
				img {
					width: 172px;
				}
			}
			.texte_footer {
				padding: 0 20px 0 0;
				p {
					margin-bottom: 5px;
				}
			}
		}
	}
	.habillitation-footer {
		.habill_item {
			span {
				display: $block;
				font-size: 12px;
				line-height: 130%;
				margin-bottom: 7px;
				em {
					display: $block;
				}
			}
			img {
				border: $bdr_solid_1 #e6e5e5;
				padding: 3px;
				&#Rep_fr {
					width: 192px;
				}
				&#Tresr_plc {
					width: 293px;
				}
			}
		}
	}
	.menu-footer {
		background: $gray;
		margin-bottom: 20px;
		padding: 27px 0;
		ul {
			@extend %list-style;
			li {
				display: inline-block;
				margin: 0 10px;
				a {
					color: $white;
					&:hover {
						text-decoration: none;
						color: $royal-blue;
					}
				}
			}
		}
	}
	.copyright {
		border-top: $bdr_solid_1 $gray;
		padding: 20px 0;
		font-size: 14px;
		p {
			margin-bottom: 0;
			a {
				color: $inherit;
				margin: 0 10px;
			}	
		}
		.social_block {
			a {
				color: $inherit;
				i {
					font-size: 20px;
					margin-left: 15px;
				}
			}
		}
	}
}