.body-retractation{
  h1{
    font-family: menu;
    color: $bleu;
    font-weight: bold;
  }
  h2{
    font-family: menu;
    color: $bleu;
  }
  h3{
    font-family: menu;
    color: $bleu;
  }
  p{
    font-family: menu;
    font-size: 20px;
    line-height: initial !important;
  }
  .image{
  background-image: url(/../../asset/img/service-telephonique.jpg);
  background-size: cover;
  height: 50vh;
  border-radius: 15px;
  }
}
