.sidebar {
	// min-height: 100vh !important;
	button {
		font-family: Raleway;
		font-weight: 500;
		border: 2px solid #002a6b;
		color: #002a6b;
		text-transform: uppercase;
		font-size: medium;
		font-weight: bold;
		background-color: #ffffff;

		&:hover {
			color: white;
			background-color: #002a6b;
		}
	}

	.service-telephonique--flex---text----flex {
		font-family: Raleway;
		font-weight: 500;
		text-align: left;
		text-transform: uppercase;
		img{
			height: 90px;
			width: 500px;
		}

		p {
			font-size: 13px;
			color: white;
			margin-bottom: 0;
			font-family: Raleway;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.habiliation--flex---text----flex {
		font-family: Raleway;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;

		p {
			font-size: 12px;
			color: #002a6b;
			margin-bottom: 0 !important;
		}

		span {
			font-size: 25px;
			color: #002a6b;
		}
	}
}
