.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.container,
.container-fluid,
.row {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	box-sizing: content-box !important;
}
.font-24 {
	font-size: 24px;
}

body{
	// background-color: #eeeeee !important;
	background: ("/../../asset/img/fond-CGofficiel-carte-grise-certificat-immatriculation.png") !important;
	background-color: #f9f9f9 !important;
	background-position: top right !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	overflow-x: hidden;
}
#up{
	min-height: 100vh;
}
.comment-ca-marche-texte{
	font-family: Raleway;
	color: #1a3f78;
	font-weight: bold;
	text-align: left;
.comment-ca-marche-texte-p{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	padding-top: 2vh !important;
	padding-bottom: 2vh !important;
}
}



$bleu: #002a6b;
$bleu-hover: rgb(63, 87, 149);
$rouge: rgb(175, 68, 68);
@font-face {
	font-family: textr;
	src: ("/../../asset/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
	font-family: menu;
	src: ("/../../asset/fonts/calibril.ttf");
}
@font-face {
	font-family: menub;
	src: ("/../../asset/fonts/calibrib.ttf");
}
@font-face {
	font-family: Raleway;
	src: ("/../../asset/fonts/Raleway-Regular.ttf");
}

@font-face {
	font-family: font-awesome;
	src: ("/../../asset/fonts/fontawesome-webfont.woff");
}
.error {
	color: #f0064c
}
.custom-table tr td {
	word-break: break-word;
}
@media (max-width:480px) {
	.custom-table tr td,
	.custom-table tr th {
		font-size: 14px !important;
	}	
}
@import '_mail-form.scss';
@import '_custom-form.scss';
@import '_custom-buton-file.scss';
@import 'menu.scss';
@import 'sidebar.scss';
@import 'footer.scss';
@import 'login.scss';

@import 'accueil.scss';
@import 'contact.scss';

@import 'commander.scss';
@import 'tarif-departement.scss';
@import 'faq.scss';
@import 'cgv.scss';

@import 'retractation.scss';

@import 'accordion.scss';
@import 'espacepersonnel.scss';
/*________________________________________________________________Arrow :*/
@import 'arrowup.scss';
@import 'arrowdown.scss';
/*________________________________________________________________Arrow :*/
.modal-dialog{
	margin-top: 60px !important;
}
input[type="file"]{
	opacity: 1 !important;
	width: 100% !important;
}
.mdp-oublie {
	width: 100%;
	margin: 0;
	min-height: 150px;
	.form-control {
		padding: 5px 10px;
		width: -moz-calc(100% - 15px);
		width: -ms-calc(100% - 15px);
		width: -webkit-calc(100% - 15px);
		width: calc(100% - 5px);
	}
}
.contact-title {
    color: #002a6b;
}
.contact-form .form-control {
	width: -moz-calc(100% - 30px);
	width: -ms-calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
}
.flex-bottom-custom {
	justify-content: space-around;
	align-items: flex-end;
}
@media (max-width:992px) {
	.full-tablet {
		max-width: 100% !important;
    	flex: 0 0 100% !important;
	}
}
.error-flex {
	height: calc(100vh - 100px);
    flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	.error-container {
		background: rgba(255,255,255,0.4);
		border-radius: 20px;
		border: 2px solid #0275d8;
		padding: 60px 30px;
		text-align: center;
		h1 {
			font-weight: 700;
		}
		.desc-error {
			text-align: center;
			font-size: 20px;
			width: 100%;
			font-weight: 700;
		}
		a {
			font-weight: 700;
		}
	}
}
body .popup-center-container {
    width: 90%;
	margin: auto;
	.labelStep {
		color: #0275d8;
		font-weight: bold;
		display: block;
    	margin-bottom: 6px;
		.stepNumber {
			display: inline-block;
			color: #fff;
			background: #0275d8;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin-right: 10px;
			border-radius: 50%;
		}
	}
	.form-control {
		height: auto !important;
		width: -moz-calc(100% - 40px);
		width: -ms-calc(100% - 40px);
		width: -webkit-calc(100% - 40px);
		width: calc(100% - 40px);
	}
}
.w-90 {
	width: 90%;
}
.color-blue {
	color: #0275d8;
}
// refont HP
ul {
	list-style: none;
}
.new-header {
    height: 140px;
    background: #002a6b;
    width: 100%;
	color: #fff;
	.title-header {
		padding-left: 8.333333%;
		font-size: 12px;
		span {
			display: block;
		}
		h1 {
			font-family: raleway;
			font-weight: 500;
			font-size: 24px;
			line-height: 26px;
			margin: 0;
			background: #1f3864;
			padding: 10px 30px;
			display: inline-block;
			margin-top: 10px;
			border: 1px solid #2d4f8a;
		}
	}
}
.new-sidebar {
	background: #f9f9f9;
	position: fixed !important;
	.logo-sidebar-container {
		background: #002a6b;
		height: 140px;
		overflow: hidden;
		.logo-sidebar {
			img {
				background: #002a6b;
				height: 140px;
			}
		}
	}
	.menu-sidebar {
		width: 100%;
		ul {
			text-align: right;
			padding: 0;
			li {
				background: #002a6b;
				margin: 15px 0;
				.menu-item {
					color: #fff;
					display: block;					
					font-family: raleway;
					font-size: 14px;
					font-weight: 700;
					padding: 5px 10px;					
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
	}
	.espace-client-user,
	.espace-client-menu,
	.espace-client-menu + div,
	.espace-client-menu + div + div {
		padding-left: 15px !important;
	}
	.espace-client-user {
		color: #333;
		a {
			color: #333;
			text-align: center;
		}
	}
}
.demande-element {
    margin: 20px !important;
	flex: 0 0 calc(33.33% - 50px) !important;
	height: 150px;
	background: #153475;
	box-shadow: 10px 10px 0px #7296ce;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	.span-h2{
		color: #fff;
		font-size: 12px;
		margin-top: 15px;
		line-height: 16px;
		font-family: raleway;
	}
	.demande-btn {
		border: none;
		background: none;
		padding: 15px 10px;
		width: calc(100% - 20px);
		cursor: pointer;
		outline: none;
		.fas,
		h2 {
			color: #fff;
			font-weight: 300;
		}
		h2 {
			font-size: 14px;
			margin-top: 15px;
			text-transform: uppercase;
			line-height: 18px;
			font-family: raleway;
		}
	}
}
.accueil-texte {
    margin-left: 33.33% !important;	
}
.link-rignt {
	.login-access-container {
		background: #002a6b;
		height: 140px;
		.login-access {
			&:before {
				background: url("/../../asset/img/login.png") center no-repeat;
				background-size: contain;				
				content: "";
				display: block;
				height: 48px;
				margin: auto;				
				width: 48px;
			}
			button {
				background: none;
				border: none;
				cursor: pointer;
				text-transform: uppercase;
			}	
		}
		.logout-access {
			&:before {
				background: url("/../../asset/img/logout.png") center no-repeat;
				background-size: contain;				
				content: "";
				display: block;
				height: 48px;
				margin: auto;				
				width: 48px;
			}
			button {
				background: none;
				border: none;
				cursor: pointer;
				text-transform: uppercase;
			}	
		}
	}
	.txt-other-link {
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		&.bold {
			font-weight: bold;
		}
	}
}
.txt-immatriculation {
	display: block;
	font-family: raleway;	
	font-size: 20px;
    line-height: 26px;
	text-align: center;
	text-transform: uppercase;	
	width: 100%;
}
.max-250 {
	max-width: 250px !important;
}
.custom-pad-20 {
	margin: auto !important;
	max-width: 400px !important;
}
// icon hp 
.demande-icon {
	display: inline-block;
    height: 40px;
    width: 40px;
}

#DUPdemande .demande-icon {
	background: url("/../../asset/img/icon-1.png") center no-repeat;
	background-size: contain;
}
#CTVOdemande .demande-icon {
	background: url("/../../asset/img/icon-2.png") center no-repeat;
	background-size: contain;
}
#DCAdemande .demande-icon {
	background: url("/../../asset/img/icon-3.png") center no-repeat;
	background-size: contain;
}
#DIVNdemande .demande-icon {
	background: url("/../../asset/img/icon-4.png") center no-repeat;
	background-size: contain;
}
#DCdemande .demande-icon {
	background: url("/../../asset/img/icon-5.png") center no-repeat;
	background-size: contain;
}
.critair{
	&:hover {
	opacity: 0.8;
	cursor: pointer;
	}
	.critairLink {
		text-decoration: none;
	}
	img {
		display: block;
		margin: auto;
		max-width: 95%;
	}
}
.bloc-txt-sidebar {
    border: 1px solid #7296ce;
	padding: 10px 15px;
	a {
		color: #7296ce;
		font-weight: 700;
		text-decoration: none !important;
	}
}
.dual-hp-right {
    margin-left: 50px;
	max-width: 40%;
	margin-bottom: 40px;
}
.img-down-hp {
	height: 35px;
	object-fit: contain;
	width: 35px;
}
.center-container-hp {
	min-height: calc(100vh - 140px);
}
.logo-header-mobile,
.icon-mobile-menu {
	display: none;
}
/* Début responsive V2 */
@media (max-width:1280px){
	.demande-element {
		flex: 0 0 calc(50% - 50px) !important;
	}
	.new-sidebar {
		.menu-sidebar {
			ul {
				li {
					.menu-item {
						font-size: 10px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
@media (max-width:990px) {
	.new-header {
		.logo-header-mobile {
			display: block;
			text-align: center;
			img {
				background: #002a6b;
				max-width: 110px;
			}
		}
		.title-header {
			padding-left: 25px;
			padding-right: 25px;
			.desc-top {
				display: none !important;
			}
		}
	}
}
@media (max-width:767px) {
	body .new-header {
		-webkit-box-pack: space-around!important;
		-webkit-justify-content: space-around!important;
		-ms-flex-pack: space-around!important;
		justify-content: space-around!important;
		height: 80px;
		position: fixed;
		z-index: 1000;
		padding: 0 10px;
    	width: calc(100% - 20px);
		& + div {
			margin-top: 80px;
		}
		.title-header h1 {
			margin-top: 0;
		}
		.logo-header-mobile {
			img {
				max-width: 70px;
			}
		}
		.icon-mobile-menu {
			display: block;
			span {
				display: block;
				width: 30px;
				height: 5px;
				background: #fff;
				margin: 5px 0;
				border-radius: 5px;
			}
		}
	}
	#sidebar-container.show {
		display: block !important;
		position: fixed;
		z-index: 1001;
		left: 0;
		.col-2 {
			width: 100% !important;
			flex: 0 0 100% !important;
			max-width: 170px;
		}
	}
	.dual-hp-container {
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		& > div {
			width: 100%;
			max-width: 100%;
			margin: 15px 0;
		}
	}
}
@media (max-width:480px) {
	body {
		.new-header {
			.title-header h1 {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	.demande-element {
		flex: 0 0 calc(100% - 50px) !important;
	}
}
/* Fin responsive V2 */
/* Début CERFA */
.downloadCERFA {
    min-width: 200px;
	margin-right: 20px;
	.downloadCERFA-element {
		position: relative;
		border-radius: 5px;
		background: #7296ce;
		padding: 5px;
		margin-bottom: 15px;
		span {
			display: block;
			text-align: center;
			color: #fff;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.download-link {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background: #767575;
			padding: 8px 15px;
			border: 1px solid #7296ce;
			z-index: 999;
			color: #fff;
			border-radius: 10px;
			display: none;
			text-decoration: none;
		}
		.img-fluid {
			display: block;
		}
		&:hover {
			.download-link {
				display: block;
				text-decoration: none;
			}
		}
	}
}
.block {
	display: block;
} 
/* Fin CERFA */
body.body-accueil {
	background: url("/../../asset/img/bg-main.png") center no-repeat;
	background-size: 400px !important;
    background-attachment: fixed;
	background-position: bottom 0 left 20% !important;
}