body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
#up{
	min-height: 100vh;
}
.comment-ca-marche-texte{
	font-family: Raleway;
	color: #1a3f78;
	font-weight: bold;
	text-align: left;
.comment-ca-marche-texte-p{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	padding-top: 2vh !important;
	padding-bottom: 2vh !important;
}
}



$bleu: #002a6b;
$bleu-hover: rgb(63, 87, 149);
$rouge: rgb(175, 68, 68);

@font-face {
	font-family: font-awesome;
	src: ("/../../asset/fonts/fontawesome-webfont.woff");
}
.error {
	color: #f0064c
}
.custom-table tr td {
	word-break: break-word;
}
@media (max-width:480px) {
	.custom-table tr td,
	.custom-table tr th {
		font-size: 14px !important;
	}	
}
@import '_mail-form.scss';
@import '_custom-form.scss';
@import '_custom-buton-file.scss';
@import 'menu.scss';
@import 'sidebar.scss';
@import 'footer.scss';
@import 'login.scss';

@import 'accueil.scss';
@import 'contact.scss';

@import 'commander.scss';
@import 'tarif-departement.scss';
@import 'faq.scss';
@import 'cgv.scss';

@import 'retractation.scss';

@import 'accordion.scss';
@import 'espacepersonnel.scss';
/*________________________________________________________________Arrow :*/
.modal-dialog{
	margin-top: 60px !important;
}
input[type="file"]{
	opacity: 1 !important;
	width: 100% !important;
}
.mdp-oublie {
	width: 100%;
	margin: 0;
	min-height: 150px;
	.form-control {
		padding: 5px 10px;
		width: -moz-calc(100% - 15px);
		width: -ms-calc(100% - 15px);
		width: -webkit-calc(100% - 15px);
		width: calc(100% - 5px);
	}
}
.contact-title {
    color: #002a6b;
}
.contact-form .form-control {
	width: -moz-calc(100% - 30px);
	width: -ms-calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
}
.flex-bottom-custom {
	justify-content: space-around;
	align-items: flex-end;
}
@media (max-width:992px) {
	.full-tablet {
		max-width: 100% !important;
    	flex: 0 0 100% !important;
	}
}
.error-flex {
	height: calc(100vh - 100px);
    flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	.error-container {
		background: rgba(255,255,255,0.4);
		border-radius: 20px;
		border: 2px solid #0275d8;
		padding: 60px 30px;
		text-align: center;
		h1 {
			font-weight: 700;
		}
		.desc-error {
			text-align: center;
			font-size: 20px;
			width: 100%;
			font-weight: 700;
		}
		a {
			font-weight: 700;
		}
	}
}
body .popup-center-container {
    width: 90%;
	margin: auto;
	.labelStep {
		color: #0275d8;
		font-weight: bold;
		display: block;
    	margin-bottom: 6px;
		.stepNumber {
			display: inline-block;
			color: #fff;
			background: #0275d8;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin-right: 10px;
			border-radius: 50%;
		}
	}
	.form-control {
		height: auto !important;
		width: -moz-calc(100% - 40px);
		width: -ms-calc(100% - 40px);
		width: -webkit-calc(100% - 40px);
		width: calc(100% - 40px);
	}
}
.w-90 {
	width: 90%;
}
.color-blue {
	color: #0275d8;
}
// refont HP
ul {
	list-style: none;
}
.new-header {
    height: 140px;
    background: #002a6b;
    width: 100%;
	color: #fff;
	.title-header {
		padding-left: 8.333333%;
		font-size: 12px;
		span {
			display: block;
		}
		h1 {
			font-family: raleway;
			font-weight: 500;
			font-size: 24px;
			line-height: 26px;
			margin: 0;
			background: #1f3864;
			padding: 10px 30px;
			display: inline-block;
			margin-top: 10px;
			border: 1px solid #2d4f8a;
		}
	}
}
.new-sidebar {
	background: #f9f9f9;
	position: fixed !important;
	.logo-sidebar-container {
		background: #002a6b;
		height: 140px;
		overflow: hidden;
		.logo-sidebar {
			img {
				background: #002a6b;
				height: 140px;
			}
		}
	}
	.menu-sidebar {
		width: 100%;
		ul {
			text-align: right;
			padding: 0;
			li {
				background: #002a6b;
				margin: 15px 0;
				.menu-item {
					color: #fff;
					display: block;					
					font-family: raleway;
					font-size: 14px;
					font-weight: 700;
					padding: 5px 10px;					
					text-decoration: none;
					text-transform: uppercase;
				}
				&.menu-notif {
					position: relative;
					@media (min-width:768px) {
						display: none;
					}
					.badge-pill {
						position: absolute;
						top: -10px;
						right: -10px;
					}
				}
			}
		}
	}
	.espace-client-user,
	.espace-client-menu,
	.espace-client-menu + div,
	.espace-client-menu + div + div {
		padding-left: 15px !important;
	}
	.espace-client-user {
		color: #333;
		a {
			color: #333;
			text-align: center;
		}
	}
}
.demande-element {
    margin: 20px !important;
	flex: 0 0 calc(33.33% - 50px) !important;
	height: 150px;
	background: #153475;
	box-shadow: 10px 10px 0px #7296ce;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	.span-h2{
		color: #fff;
		font-size: 12px;
		margin-top: 15px;
		line-height: 16px;
		font-family: raleway;
	}
	.demande-btn {
		border: none;
		background: none;
		padding: 15px 10px;
		width: calc(100% - 20px);
		cursor: pointer;
		outline: none;
		.fas,
		h2 {
			color: #fff;
			font-weight: 300;
		}
		h2 {
			font-size: 14px;
			margin-top: 15px;
			text-transform: uppercase;
			line-height: 18px;
			font-family: raleway;
		}
	}
}
.accueil-texte {
    margin-left: 33.33% !important;	
}
.link-rignt {
	.login-access-container {
		background: #002a6b;
		height: 140px;
		.login-access {
			&:before {
				background: url("/../../asset/img/login.png") center no-repeat;
				background-size: contain;				
				content: "";
				display: block;
				height: 48px;
				margin: auto;				
				width: 48px;
			}
			button {
				background: none;
				border: none;
				cursor: pointer;
				text-transform: uppercase;
			}	
		}
		.logout-access {
			&:before {
				background: url("/../../asset/img/logout.png") center no-repeat;
				background-size: contain;				
				content: "";
				display: block;
				height: 48px;
				margin: auto;				
				width: 48px;
			}
			button {
				background: none;
				border: none;
				cursor: pointer;
				text-transform: uppercase;
			}	
		}
	}
	.txt-other-link {
		font-family: textr;
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		&.bold {
			font-weight: bold;
		}
	}
}
.txt-immatriculation {
	display: block;
	font-family: raleway;	
	font-size: 20px;
    line-height: 26px;
	text-align: center;
	text-transform: uppercase;	
	width: 100%;
}
.max-250 {
	max-width: 250px !important;
}
.custom-pad-20 {
	margin: auto !important;
	max-width: 400px !important;
}
.padd-10 {
	padding: 10px;
}
// icon hp 
.demande-icon {
	display: inline-block;
    height: 40px;
    width: 40px;
}

#DUPdemande .demande-icon {
	background: url("/../../asset/img/icon-1.png") center no-repeat;
	background-size: contain;
}
#CTVOdemande .demande-icon {
	background: url("/../../asset/img/icon-2.png") center no-repeat;
	background-size: contain;
}
#DCAdemande .demande-icon {
	background: url("/../../asset/img/icon-3.png") center no-repeat;
	background-size: contain;
}
#DIVNdemande .demande-icon {
	background: url("/../../asset/img/icon-4.png") center no-repeat;
	background-size: contain;
}
#DCdemande .demande-icon {
	background: url("/../../asset/img/icon-5.png") center no-repeat;
	background-size: contain;
}
.critair{
	&:hover {
	opacity: 0.8;
	cursor: pointer;
	}
	.critairLink {
		text-decoration: none;
	}
	img {
		display: block;
		margin: auto;
		max-width: 95%;
	}
}
.bloc-txt-sidebar {
    border: 1px solid #7296ce;
	padding: 10px 15px;
	a {
		color: #7296ce;
		font-weight: 700;
		text-decoration: none !important;
	}
}
.dual-hp-right {
    margin-left: 50px;
	max-width: 40%;
	margin-bottom: 40px;
}
.img-down-hp {
	height: 35px;
	object-fit: contain;
	width: 35px;
}
.center-container-hp {
	min-height: calc(100vh - 140px);
}
.logo-header-mobile,
.icon-mobile-menu,
.icon-mobile-close {
	display: none;
}
/* Début responsive V2 */
@media (max-width:1280px){
	.demande-element {
		flex: 0 0 calc(50% - 50px) !important;
	}
	.new-sidebar {
		.menu-sidebar {
			ul {
				li {
					.menu-item {
						font-size: 10px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
@media (max-width:990px) {
	.new-header {
		.logo-header-mobile {
			display: block;
			text-align: center;
			img {
				background: #002a6b;
				max-width: 110px;
			}
		}
		.title-header {
			padding-left: 25px;
			padding-right: 25px;
			.desc-top {
				display: none !important;
			}
		}
	}
}
@media (max-width:767px) {
	body .new-header {
		-webkit-box-pack: space-around!important;
		-webkit-justify-content: space-around!important;
		-ms-flex-pack: space-around!important;
		justify-content: space-around!important;
		height: 80px;
		position: fixed;
		z-index: 1000;
		padding: 0 10px;
    	width: calc(100% - 20px);
		& + div {
			margin-top: 80px;
		}
		.title-header h1 {
			margin-top: 0;
		}
		.logo-header-mobile {
			img {
				max-width: 70px;
			}
		}
		.icon-mobile-menu {
			display: block;
			span {
				display: block;
				width: 30px;
				height: 5px;
				background: #fff;
				margin: 5px 0;
				border-radius: 5px;
			}
		}
		.icon-mobile-close {
			span {
				display: block;
				width: 30px;
				height: 5px;
				background: #fff;
				margin: 5px 0;
				border-radius: 5px;
				&:first-child {
					transform: rotate(45deg);
				}
				&:last-child {
					transform: rotate(-45deg);
    				margin-top: -10px;
				}
			}
		}
		&.show {
			.icon-mobile-close {
				display: block !important;
			}
			.icon-mobile-menu {
				display: none !important;
			}
		}
	}
	#sidebar-container.show {
		display: block !important;
		position: fixed;
		z-index: 1001;
		left: 0;
		.col-2 {
			width: 100% !important;
			flex: 0 0 100% !important;
			max-width: 170px;
		}
	}
	.dual-hp-container {
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		& > div {
			width: 100%;
			max-width: 100%;
			margin: 15px 0;
		}
	}
}
@media (max-width:480px) {
	body {
		.new-header {
			.title-header h1 {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	.demande-element {
		flex: 0 0 calc(100% - 50px) !important;
	}
}
/* Fin responsive V2 */
/* Début CERFA */
.downloadCERFA {
    min-width: 200px;
	margin-right: 20px;
	.downloadCERFA-element {
		position: relative;
		border-radius: 5px;
		background: #7296ce;
		padding: 5px;
		margin-bottom: 15px;
		span {
			display: block;
			text-align: center;
			color: #fff;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.download-link {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background: #767575;
			padding: 8px 15px;
			border: 1px solid #7296ce;
			z-index: 999;
			color: #fff;
			border-radius: 10px;
			display: none;
			text-decoration: none;
		}
		.img-fluid {
			display: block;
		}
		&:hover {
			.download-link {
				display: block;
				text-decoration: none;
			}
		}
	}
}
.block {
	display: block;
} 
/*Piece à fournir*/
.dossier-element {
    position: relative;
    width: calc(25% - 10px);
    height: 80px;
    text-decoration: none;
	padding: 10px 5px;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	@media (max-width:991px) {
		width: calc(33.33% - 10px);
	}
	@media (max-width:767px) {
		width: calc(50% - 10px);
	}
}
.dossier-element img {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	border:2px solid #7296ce;
	border-radius: 5px;  
}
.numero-dossier {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #e41f25;
    text-align: center;
    line-height: 20px;
	color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
}
.txt-dossier {
	display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background: #7296ce;
    padding: 2px 15px;
    border-radius: 20px;
    font-size: 10px;
}
.title-dossier {
	text-transform: uppercase;
	font-size: 20px;
	color: #7296ce;
	font-weight: 700;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
/*Fin pièces à fournir*/


/*
New style
*/
img {
	max-width: 100%;
}
#header {
	background: white;
	padding-top: 20px;
	height: 100px;
    overflow: visible;
    position: relative;
	z-index: 1;
	@media(max-width:767px) {
		height: inherit;
		padding: 5px 0;
	}
}
.logoheader {
	max-width: 230px;
	@media(max-width:767px) {
		width: 130px;
	}
}
ul.menu-top {
    display: table;
	margin: -35px 0 0 0;
	@media(max-width:767px) {
		margin-top: 0;
		padding-left: 0;
		display: none;
		position: absolute;
		top: 100%;
		background: white;
		width: 100%;
		left: 0;
	}
	> li {
		display: table-cell;
		padding: 0 15px;
		position: relative;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		@media(max-width:767px) {
			display: block;
		}
		&:not(:last-child):after {
			content: "/";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			@media(max-width:767px) {
				display: none;
			}
		}
		a {
			font-size: 16px;
			text-transform: uppercase;
			color: #000000;
			display: block;
			padding: 15px;
			letter-spacing: 1px;
			transition: all .3s ease;
					-webkit-transition: all .3s ease;
			@media(max-width:767px) {
				border-bottom: 1px dotted #bbb9b9;
			}
		}
		&:hover {
			a {
				color: #3a4a9e;
				text-decoration: none;
			}
		}
	}
}
.nav-mobile {
	display: none;
	cursor:pointer;
	font-size: 40px;
    margin-right: 25px;
	@media(max-width:767px) {
		display:block;
	}
}
.content-container {
	section {
		padding: 60px 0;
		position: relative;
		@media(max-width:767px) {
			padding: 15px 0;
		}
	}
}
.homeslider {
    position: relative;
    height: 588px;
	background-color: #ddd;
	@media(max-width:767px) {
		height: 388px;
	}
	.sliders {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.carouselImg {
			background-size: cover;
			height: 588px;
			background-repeat: no-repeat;
			background-position: center;
			@media(max-width:767px) {
				height: 388px;
			}
		}
	}
	.container {
		display: table;
		height: 100%;
		.captionSldier {
			display: table-cell;
			vertical-align: bottom;
		}
		h1 {
			font-size: 36px;
			font-weight: 700;
			line-height: 130%;
			margin-bottom: 8rem;
			color: white;
			@media(max-width:767px) {
				font-size: 26px;
			}
		}
	}
}
.boxItem {
	img {
		width: 70px;
		display: block;
		margin: 0 auto 7px;
	}
    strong {
		display: block;
		font-size: 19px;
	}
}
.sectionMiddle {
	background-color: #ddd;
	padding: 0 !important;
	.logoMiddle {
		text-align: center;
		padding: 140px 0;
		> a {
			background: #3b4c99;
			display: inline-block;
			padding: 25px;
			border-radius: 25px;
			img {
				width: 90px;
			}
		}
	}
	.righToMiddle {
		height: 100%;
		.bgImgMiddle,
		.bgLeftImgMiddle {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}
		.bgImgMiddle {
			> div {
				height: 100%;
				position: relative;
				z-index: 2;
			}
			&:before {
				content: "";
				background: black;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				opacity: .5;
			}
		}
		.bgLeftImgMiddle {
			&:before {
				content: "";
				background: black;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				opacity: .1;
			}
		}
		.middleBox {
			> div {
				position: relative;
				z-index: 2;
			}
			margin-bottom: 35px;
			color: white;
			padding: 40px;
			@media(min-width:545px) and (max-width:991px) {
				padding: 0;
			}
			img {
				width: 70px;
				display: block;
				margin: 0 auto 15px;
			}
		}
	}
}
.headingTitle {
	h2 {
		text-transform: uppercase;
		font-weight: 700;
	}
	p {
		text-align: center;
		max-width: 60%;
		margin: auto;	
		@media(max-width:991px) {
			max-width: 100%;
		}
	}
}
.BlockArticle{
	background-color: #f7f7f7;
	.ListArticle {
		article {
			background-color: white;
			a {
				display: block;
				color: inherit;
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				transition: all .5s ease;
				-webkit-transition: all .5s ease;
				> span {
				display: block;
				height: 230px;
				overflow: hidden;
				margin-bottom: 15px;
				margin-left: -15px;
				margin-right: -15px;
				}
				&:hover {
					text-decoration: none;
					box-shadow: 0 0 6px 0px #cccccc;
				}
				h3 {
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
	}
} 

#footer {
	background-color: #121212;
	text-align: center;
	padding: 30px 0;
	.menu-footer {
		list-style: none;
		padding-left: 0;
		display: table;
		margin: 0 auto;
		li {
			display: table-cell;
			position: relative;
			padding: 0 15px;
			transition: all .3s ease;
			-webkit-transition: all .3s ease;
			&:not(:last-child):after {
				content: "/";
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				color: white;
				opacity: .7;
			}
			a {
				text-transform: uppercase;
				color: #ffffff;
				display: block;
				padding: 15px;
				letter-spacing: 1px;
				transition: all .3s ease;
				-webkit-transition: all .3s ease;
				@media(max-width:767px) {
					padding: 2px;
					font-size: 12px;
				}
			}
			&:hover {
				opacity: 1;
				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
	.copyright {
		color: white;
		font-size: 12px;
		letter-spacing: 1px;
		border-top: 1px solid rgba(255, 255, 255, .23);
		padding-top: 30px;
		margin-top: 25px;
	}
}

.internePage {
	background: #f7f7f7;
	.home-secondview--titre {
		text-align: center;
		font-size: 40px;
		padding-top: 5rem;
	}
	h2 {
		font-size: 20px;
	}
	.contact-content {
		.form-control {
			border: none;
			border-radius: 0;
			padding: 15px;
			background: #f7f7f7;
			height: inherit !important;
			width: 100% !important;
		}
		textarea.form-control {
			height: 150px !important;
		}
		.btn {
			&.btn-primary {
				border-radius: 25px;
    			padding: 7px 35px;
			}
		}
	}
	.actu_img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
		.headingTitle {
			h1 {
				font-size: 60px;
    			color: white;
				text-shadow: 0 0 5px black;
				@media(max-width:767px) {
					font-size: 26px;
				}
			}
		}
	}
}
.figureArticle {
    text-align: center;
    display: flex;
    max-height: 500px;
    align-items: center;
	overflow: hidden;
	@media(max-width:767px) {
		max-height: inherit;
	}
	img {
		width: 100%;
	}
}