.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.container,
.container-fluid,
.row {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	box-sizing: content-box !important;
}


body{
	// background-color: #eeeeee !important;
	background: url("/../../asset/img/fond-CGofficiel-carte-grise-certificat-immatriculation.png") !important;
	background-color: #f9f9f9 !important;
	background-position: top right !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	overflow-x: hidden;
}
#up{
	min-height: 100vh;
}
.comment-ca-marche-texte{
	font-family: Raleway;
	color: #1a3f78;
	font-weight: bold;
	text-align: left;
.comment-ca-marche-texte-p{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	padding-top: 2vh !important;
	padding-bottom: 2vh !important;
}
}



$bleu: #002a6b;
$bleu-hover: rgb(63, 87, 149);
$rouge: rgb(175, 68, 68);
@font-face {
	font-family: textr;
	src: url("/../../asset/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
	font-family: menu;
	src: url("/../../asset/fonts/calibril.ttf");
}
@font-face {
	font-family: menub;
	src: url("/../../asset/fonts/calibrib.ttf");
}
@font-face {
	font-family: Raleway;
	src: url("/../../asset/fonts/Raleway-Regular.ttf");
}

@font-face {
	font-family: font-awesome;
	src: url("/../../asset/fonts/fontawesome-webfont.woff");
}


@import 'menu.scss';
@import 'sidebar.scss';
@import 'footer.scss';
@import 'login.scss';

@import 'accueil.scss';
@import 'contact.scss';

@import 'commander.scss';
@import 'tarif-departement.scss';
@import 'faq.scss';
@import 'cgv.scss';

@import 'retractation.scss';

@import 'accordion.scss';
@import 'espacepersonnel.scss';
/*________________________________________________________________Arrow :*/
@import 'arrowup.scss';
@import 'arrowdown.scss';
/*________________________________________________________________Arrow :*/
.modal-dialog{
	margin-top: 60px !important;
}
