@import 'variables.scss';
@import 'stylesheet.scss';
@import 'footer.scss';
@import 'espc-client.scss';
@import 'upload.scss';
@import 'contact.scss';
@import 'erreur.scss';

body {
	font-family: "Open Sans" !important;
	line-height: $size_28 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	-webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
	@extend %linear_anim;
}
.text-lower{
	text-transform: lowercase;
}
.btn-blue,
.link-connexion-register {
	font-family: "Ubuntu";
	font-size: 14px !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: $royal-blue !important;
	border: $bdr_solid_1 transparent !important;
	border-radius: 50px !important;
	color: $white !important;
	padding: 8px $size_30 !important;
	&:hover, &:focus {
		box-shadow: none !important;
		outline: none !important;
		color: $royal-blue !important;
		background-color: transparent !important;
		border-color: $royal-blue !important;
		text-decoration: none;
	}
}
.link-connexion-register {
	background-color: $aqua-blue !important;
	padding: $size_15 60px !important;
	&:hover, &:focus {
		border-color: $aqua-blue !important;
		color: $aqua-blue !important;
	}
	.icomoon {
		margin-left: 10px;
		font-size: 17px;
		vertical-align: middle;
		@extend %linear_anim;
	}
	@include sm {
		padding: $size_15 !important;
	}
}
.btn-input {
	input[type=submit] {
		background: none;
		color: $inherit;
		border: none;
		font-family: "Ubuntu";
		font-size: 14px !important;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
.btn-reste-m {
	@include sm {
		font-size: 12px !important;
	}
}

//header
.body-accueil {
	header {
		background-image: url(/asset/img/bg_header.jpg);
		height: 680px;
		@include sm {
			height: 560px;
		}
	}
	.detail_carteG {
		.line_vert {
			margin: -110px auto $size_20;
			height: 83px;
			width: 1px;
			background-color: #838383;
		}
	}
}
header {
	background-color: $royal-blue;
	height: 377px;
	@extend %bgStyle;
	overflow-x: hidden;
	position: relative;
	@include sm {
		height: inherit;
    	padding-bottom: 60px;
	}
	#sticky-wrapper {
		position: absolute;
    	width: 100%;
		z-index: 10000 !important;
		&.is-sticky {
			.menu {
				background-color: $royal-blue;
				.row {
					> div {
						text-align: left;
						.logo {
							>img {
								width: 55px;
								margin-top: 5px;
								padding-bottom: 5px;
								@extend %linear_anim;
							}
						}
					}
					.nav{
						background: none;
						&:before, &:after {
							display: none;
						}
						.nav-sub-menu {
							//padding-top: $size_18;
                            margin-top: $size_18;
                            border: 1px solid #03347e;
                            padding-top: 0;
						}
					}
				}
			}
		}
	}
    .Navigation {
		z-index: 10000 !important;
		#topNav {
			background-color: $white;
			padding: 6px 0;
			.left-topBlock {
				img {
					@include lg {
						width: 330px;
					}
				}
			}
			.right-topBlock {
				.block-habillitation {
					.habill_item {
						font-size: 9px;
						line-height: normal;
						> img {
							margin-right: 5px;
							border: $bdr_solid_1 #e6e5e5;
							padding: 1px;
							&#Rep_fr {
								-ms-flex: 0 0 76px;
								flex: 0 0 76px;
								max-width: 76px;
							}
							&#Tresr_plc {
								-ms-flex: 0 0 101px;
								flex: 0 0 101px;
								max-width: 101px;
							}
						}
						span {
							em {
								display: $block;
								font-style: italic;
							}
						}
					}
				}
				.login-access {
					.icomoon {
						font-size: $size_30;
						vertical-align: middle;
						margin-left: 6px;
					}
				}
			}
		}
		.mon_compte {
			position: relative;
			@include md {
				margin-right: $size_24;
			}
			.avatar_ {
				flex: 0 0 46px;
				width: 46px;
				height: 46px;
				background: #ddd;
				border-radius: 50%;
				margin-right: 10px;
			}
			.info-user {
				@extend %list-style;
				margin-top: 5px;;
				> li {
					@include md {
						color: $white;
					}
					.usr_name {
						font-size: 14px;
						display: $block;
						line-height: $size_15;
						@include md {
							max-width: 135px;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
					}
					.infos_ {
						font-weight: bold;
						color: inherit;
						position: relative;
						&:after {
							@extend %absolute;
							width: 0;
							height: 0;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid #000;
							top: 50%;
							transform: translateY(-50%);
							margin-left: 5px;
						}
						@include md {
							color: $white;
							&:after {
								border-top-color: $white;
							}
						}
					}
					.suMenu {
						display: none;
						position: absolute;
						z-index: 99;
						width: 200px;
						right: -$size_15;
						padding-top: 8px;
						.sub-infos {
							border: $bdr_solid_1 $gray;
							padding: 10px 0;
							background: $white;
							@extend %list-style;
							@include md {
								display: none;
							}
							li {
								background-color: $white;
								> a {
									font-size: 14px;
									display: $block;
									margin: 0 $size_18;
									color: inherit;
									&.logout-access {
										border-top: $bdr_solid_1;
										text-transform: uppercase;
										font-weight: 600;
										padding-top: 10px;
										margin-top: 10px;
									}
									@include md {
										color: black;
									}
								}
								&:hover {
									a {
										text-decoration: none;
										color: $royal-blue;
									}
								}
							}
						}
					}
					&:hover {
						> a { 
							text-decoration: none;
						}
						.suMenu {
							display: $block;
						}
					}
				}
			}
		}
		.menu {
			.logo {
				> img {
					width: 88px;
					margin-top: 8px;
					@include sm {
						width: 60px;
					}
				}
			}
			.nav {
				background-color: $white-opacity;
				height: 100%;
				margin-left: 98px;
				@include md {
					background-color: transparent;
					-ms-flex-pack: end;
					justify-content: flex-end;
					margin-left: 0;
				}
				.nav-list {
					@extend %list-style;
					display: table;
					width: 100%;
					@include md {
						display: none;
						position: absolute;
    					top: 100%;
					}
					.nav-item {
						display: inline-block;
						position:relative;
						margin-left: 48px;
						@include md {
							background-color: $white;
							display: $block;
							margin-left: 0;
						}
						> a,
						> strong {
							color: $white;
							display: $block;
							text-transform: uppercase;
							font-weight: 600;
							font-size: 14px;
							letter-spacing: 1px;
							position: relative;
							cursor: pointer;
							@include md {
								color: #212529;
								padding: $size_15;
								padding-right: 45px;
    							border-bottom: $bdr_solid_1;
							}
							@include xs {
								font-size: 12px;
							}
							&:after {
								content: "";
								width: 0;
								border-bottom: 4px solid;
								position: absolute;
								right: 4px;
								bottom: -7px;
								transition: all .3s ease;
								-webkit-transition: all .3s ease;
								@include md {
									display: none;
								}
							}
							&:hover {
								text-decoration: none;
								&:after {
									width: 26px;
									@include md {
										display: none;
									}
								}
							}
						}
						.nav-sub-menu {
							position: absolute;
							@extend %list-style;
							width: $subMenu-width;
							margin-left: -16px;
							//padding-top: 33px;
							text-align: left;
							top: 120%;
							z-index: -1;
							-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
							transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
							opacity: 0;
							visibility: hidden;
                            margin-top: $size_18;
                            border: 1px solid #03347e;
                            padding-top: 0;
							@include md {
								position: static;
								position: static;
								padding: 0;
								opacity: 1;
								visibility: visible;
								width: 100%;
								margin: 0;
								display: none;
								text-align: right;
							}
							li {
								background-color: $white;
								a {
									text-transform: uppercase;
									font-weight: 600;
									letter-spacing: 1px;
									color: inherit;
									border-bottom: $bdr_solid_1 $select-bg;
									display: $block;
									font-size: 14px;
									margin: 0 5px;
									padding: $size_15 11px;
									@include xs {
										font-size: 12px;
										text-align: left;
									}
								}
								&:last-child {
									a {
										border-bottom: none;
									}
								}
								&:hover {
									a {
										color: $royal-blue;
										text-decoration: none;
									}
								}
							}
							&:before {
								content: "";
								width: 0;
								height: 0;
								border-left: 25px solid transparent;
								border-right: 25px solid transparent;
								border-bottom: 25px solid $white;
								position: absolute;
								margin-top: -14px;
								margin-left: 5px;
								@include md {
									display: none;
								}
							}
						}
						&:first-child {
							margin-left: 0;
						}
						&:hover {
							.nav-sub-menu {
								z-index: 1000;
								opacity: 1;
								top: 100%;
								transition: top 0.3s ease 0s;
								-webkit-transition: top 0.3s ease 0s;
								visibility: visible;
								@include md {
									display: none;
								}
							}
						}
					}
				}
				&:before{
					@extend %absolute;
					border-top: 0 solid transparent;
    				border-bottom: 96px solid transparent;
					border-right:98px solid $white-opacity;
					width: 0;
					height: 100%;
					left: $size_15;
					top: 0;
					@include md {
						display: none;
					}
				}
				&:after{
					@extend %absolute;
					background-color: $white-opacity;
					margin-right: $size_15;
					width: 100%;
					height: 100%;
					right: -100%;
					top: 0;
					@include md {
						display: none;
					}
				}
				.login-access {
					@include md {
						background-color: transparent !important;
						padding: 0 !important;
						margin-right: $size_15;
						font-size: $size_28 !important;
					}
				}
			}
			.nav-mobile {
				display: none;
				margin-right: 40px;
				margin-top: -2px;
				position: relative;
    			z-index: 100;
				span,
				span:before,
				span:after {
					cursor: pointer;
					border-radius: 1px;
					height: 2px;
					width: 35px;
					background: $white;
					position: absolute;
					display: $block;
					content: '';
					transition: all 300ms ease-in-out;
				}
				span:before {
					top: -10px;
				}
				span:after {
					bottom: -10px;
				}
				&.active span {
					background-color: transparent;
					&:before,
					&:after {
					  top: 0;
					}
					&:before {
					  transform: rotate(45deg);
					}
					&:after {
					  transform: rotate(-45deg);
					}
				}
				@include md {
					display: $block;
				}
			}
			.nav-click {
				display: none;
				cursor: pointer;
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				padding: $size_15;
				max-height: 59px;
				z-index: 99 !important;
				@include md {
					display: $block;
				}
			  }
			.nav-click i {
				display:block;
				text-align: right;
				margin-top: 6px;
				width: 20px;
				position: absolute;
				right: $size_15;
			}
			.nav-click:hover i {
				color:$royal-blue;
			}
			.nav-rotate {
				-webkit-transform:rotate(180deg);
				-moz-transform:rotate(180deg);
				-ms-transform:rotate(180deg);
				-o-transform:rotate(180deg);
				transform:rotate(180deg);
			}
		}
	}
	.accroche {
		margin-top: 190px;
		@include sm {
			margin-top: 135px;
		}
		.text_CG {
			color: $white;
			font-size: 14px;
			font-style: italic;
			letter-spacing: 1px;
			@include sm {
				font-size: 12px;
				padding: 0;
				line-height: 150%;
			}
			> span {
				color: $royal-blue;
				background: $white;
				border-radius: 50px;
				padding: 0 $size_15;
			}
		}
	}
	.Bg_separator {
		bottom: 0;
		position: absolute;
		left: 0;
		right: auto;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		z-index: 30;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		.svg-separtor-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			svg {
				bottom: 0;
				-moz-transform: scaleY(-1);
				-webkit-transform: scaleY(-1);
				-o-transform: scaleY(-1);
				-ms-transform: scaleY(-1);
				transform: scaleY(-1);
				width: 100%;
				position: absolute;
				top: auto;
				bottom: 0;
				left: 0;
				right: auto;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}
		}
	}
	.detail_carteG {
		.line_vert {
			margin: 0 auto $size_20;
			height: 83px;
			width: 1px;
			background-color: #838383;
		}
	}
}

.block_form {
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.form-group {
		> label {
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: 600;
			display: $block;
		}
	}
	.form-control {
		background-color: $select-bg;
		border-color: $bbr_color;
		border-radius: 0;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: $size_24;
		height: 54px;
		-moz-appearance: none;
		-webkit-appearance:none;
		appearance: none;
		&::placeholder {
			color: #484949;
		}
		&:focus {
			outline: none !important;
			box-shadow: none !important;
			border-color: $royal-blue;
		}
	}
	.btn-calcuer {
		cursor: pointer;
		padding: 13px 42px !important;
		letter-spacing: 3px;
		margin-right: $size_15;
		width: 220px;
		@extend %linear_anim;
		.icomoon {
			margin-left: 10px;
			font-size: 17px;
			vertical-align: middle;
			transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}
		&:hover, &:focus {
			box-shadow: none;
			outline: none;
			.icomoon {
				padding-left: 5px;
			}
		}
	}
	.retractation {
		.form-group {
			margin-bottom: 0;;
		}
	}
	.form-check {
		cursor: pointer;
		position: relative;
		.form-check-input {
			position: absolute;
			pointer-events: none;
			opacity: 0;
			margin-top: 0;
			margin-right: .3125rem;
			margin-left: 0;
			&[type="checkbox"]+label:before, 
			&[type="checkbox"]:not(.filled-in)+label:after {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: $size_18;
				height: $size_18;
				margin-top: 5px;
				content: "";
				border: $bdr_solid_1 $bbr_color;
				border-radius: 1px;
				-webkit-transition: .2s;
				transition: .2s;
			}
			&[type="checkbox"]:not(.filled-in)+label:after {
				border: 0;
				-webkit-transform: scale(0);
				transform: scale(0);
			}
			&[type="checkbox"]:checked+label:before {
				top: -4px;
				left: -5px;
				width: 12px;
				height: 1.375rem;
				border-top: 2px solid transparent;
				border-right: 2px solid $royal-blue;
				border-bottom: 2px solid $royal-blue;
				border-left: 2px solid transparent;
				-webkit-transform: rotate(40deg);
				transform: rotate(40deg);
				-webkit-transform-origin: 100% 100%;
				transform-origin: 100% 100%;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}
		}
		.form-check-label {
			font-size: 14px;
			color: $royal-blue;
			padding-left: 10px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//Content
.sectionTop_ {
	.form_demarche {
		.demarche_block {
			background: $white;
			position: relative;
			padding: $size_15;
			margin-top: -390px;
			box-shadow: 0px $size_20 $size_20 0px rgba(0, 0, 0, 0.1);
			margin-bottom: 90px;
			@include md {
				margin-top: -385px;
			}
			@include sm {
				margin-top: -305px;
			}
			.demarche_block_item {
				border: 2px solid $bbr_color;
				padding: $size_15;
				.title_dermarche {
					letter-spacing: 1px;
					> p {
						font-weight: 300;
						margin-bottom: 10px;
						line-height: $size_24;
						font-size: 14px;
						@include md {
    						font-size: 16px;
						}
						@include sm {
							line-height: 150%;
    						font-size: 12px;
						}
					}
					> h2 {
						font-size: $size_24;
						font-weight: 600;
						text-transform: uppercase;
						margin-bottom: 0;
						@include sm {
							font-size: 16px;
						}
						&:after {
							content:"";
							display: $block;
							width: 190px;
							border-top: 2px solid $royal-blue;
							margin: 19px auto $size_15;
						}
					}
				}
			}
			.back-retour {
				font-family: "Ubuntu";
				font-size: 14px !important;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 25px;
				cursor: pointer;
				color: $royal-blue !important;
				.icomoon {
					transform: rotate(-180deg);
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
	}
	.detail_carteG {
		// .line_vert {
		// 	margin: -110px auto $size_20;
		// 	height: 83px;
		// 	width: 1px;
		// 	background-color: #838383;
		// }
		.autocollant_block {
			margin-top: 25px;
			position: relative;
			z-index: 30;
			@include sm {
				text-align: center;
			}
			.critairLink {
				display: inline-block;
				> span {
					display: inline-block;
					border: 5px solid $white;
					border-radius: 100%;
					background: $white;
					margin: 0 -5px;
					img {
						display: $block;
						@include md {
							width: 90px;
						}
					}
				}
			}
		}
		.bg_gray {
			background: $gray;
			margin-top: -90px;
			padding: 87px 0;
			color: $white;
			position: relative;
			@include md {
				margin-top: -60px;
				padding-bottom: 50px;
			}
			.text_critair{
				padding-top: 45px;
				@include md {
					padding-top: 10px;
				}
			}
			&:after {
				@extend %absolute;
				width: 0;
				height: 0;
				border-left: 90px solid transparent;
				border-right: 90px solid transparent;
				border-top: 90px solid $gray;
				left: 50%;
				bottom: -87px;
				transform: translateX(-50%);
			}
			.link-form {
				@extend %list-style;
				margin-top: 50px;
				@include sm {
					margin-top: 0;
				}
				li {
					display: table-cell;
					padding:0 $size_15;
					vertical-align: top;
					width: 20%;
					@include md {
						display: inline-block;
						width: 30%;
						margin: $size_15 0;
					}
					@include sm {
						display: $block;
						width: 100%;
						padding: 0;
					}
					a {
						display: $block;
						background-color: $white;
						color: #212529;
						line-height: 120%;
						font-weight: 600;
						padding: 10px;
						height: 116px;
						cursor: pointer;
						transition: all .3s ease;
						-webkit-transition: all .3s ease;
						> span {
							display: -ms-flexbox;
    						display: flex;
							border: $bdr_solid_1;
							padding: 10px;
							-ms-flex-pack: center;
							justify-content: center;
							height: 100%;
							>span {
								display: $block;
								.icomoon {
									display: $block;
									font-size: $size_30;
									padding: 2px 0 5px;
									text-align: center;
								}
							}
						}
						&:hover {
							text-decoration: none;
							transform: scale(1.2);
							-webkit-transform: scale(1.2);
							@include sm {
								-webkit-transform: none;
								transform: none;
							}
						}
					}
				}
			}
		}
	}
}
.sectionbot_ {
	.home_texte {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding-top: 134px;
		padding-bottom: 74px;
		.titre_home_texte {
			h3 {
				font-size: 36px;
				font-weight: bold;
				line-height: 36px;
				span {
					display: $block;
					font-size: $size_20;
					@include sm {
						line-height: 130%;
					}
				}
				&:after {
					content: "";
					width: 83px;
					border-bottom: $bdr_solid_1 #838383;
					display: inline-block;
					margin: $size_30 auto;
				}
			}
		}
		.content_home_texte {
			a {
				color: $inherit;
			}
			p {
				margin-bottom: 5px;
			}
			h4 {
				font-size: $size_24;
				font-weight: bold;
				font-style: italic;
			}
		}
	}
	.bg_blue {
		background-color: $royal-blue;
		color: $white;
		padding: 80px 0;
		@include sm {
			padding-top: 40px;
			padding-bottom: 5px;
		}
		h3 {
			font-size: $size_24;
			margin-bottom: 33px;
		}
		.block_simple {
			ol {
				@extend %list-style;
				counter-reset: compteListe;
				li {
					border-bottom: $bdr_solid_1 $pastel-blue;
					padding: 50px 0 50px 80px;
					position: relative;
					@include sm {
						padding-top: $size_20;
						padding-bottom: $size_20;
					}
					&:last-child {
						border-bottom: none;
					}
					&:before {
						counter-increment: compteListe 1;
						content: counter(compteListe) " ";
						position: absolute;
						color:$pastel-blue;
						left: $size_15;
						top:35px;
						width: 50px;
						height: 50px;
						border: 2px solid;
						text-align: center;
						line-height: 45px;
						font-size: 24px;
						border-radius: 50px;
						@include sm {
							top:10px;
						}
					}
				}
			}
		}
		.block_avantage {
			.item-avantage {
				border: $bdr_solid_1 #ebebeb;
				margin: $size_15 0;
				padding: $size_15;
				position: relative;
				@extend %linear_anim;
				.icomoon {
					font-size: 101px;
				}
				span {
					display: $block;
					color: $pastel-blue;
				}
				&:before {
					content: "";
					position: absolute;
					width: 0;
					height: 100%;
					background: rgba(255, 255, 255, 0.06);
					left: 0;
					top: 0;
					@extend %linear_anim;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}
//select form
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
  }
  .select {
	cursor: pointer;
    position: relative;
    width: 100%;
  }
  .select-styled {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $select-bg;
    border: 1px solid $gray;
    padding: 8px $size_15;
    transition: all 0.2s ease-in;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 38px;
	&:after {
		content: "\e905";
		font-family: 'icomoon' !important;
		background-color: $gray;
		color: $white;
		text-align: center;
    	line-height: 56px;
	  	width: 60px;
	  	height: 100%;
	  	position: absolute;
	  	top: 0;
	  	right: 0;
	}
	&:active, &.active {
		&:after {
			transform: rotate(180deg);
		}
	}
	@include md {
		overflow: hidden;
	}
  }
  .select-options {
	position: absolute;
	display: none;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $white;
    border: 1px solid $gray;
	margin-top: 5px;
	max-height: $select-height;
    overflow-y: scroll;
	li {
		margin: 0;
		padding: 5px 12px;
		border-bottom: 1px solid #ececec;
		transition: all 0.15s ease-in;
		font-size: 14px;
		&:hover {
			color: $white;
			background: $royal-blue;
		}
		&[rel="hide"] {
			display: none;
		}
	}
}

/**List grid**/
.list-grid{
  &__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid transparent;
    > div {
      font-family: 'Open Sans';
      color: $dark;
      font-weight: 600;
      flex: 1;
      background: url('/../../asset/img/layer.jpg') repeat top left;
      background-size: cover;
      padding: 10px 20px;
      border: 1px solid $light;
      min-height: 50px;
      +div{
        font-weight: normal;
        background: $white;
        border: 1px solid $light-2;
        position: relative;
      }
    }
    &-button{
      background: none;
      >div{
        background: none;
        border: 0;
        padding: 0;
        flex: .5;
        margin-left: auto;
        display: flex;
        align-items: center;
        #voir_plus_button, #more-details-tax{
          width: 100%;
          border-radius: 0;
          background-color: $aqua-blue;
          border-color: $aqua-blue;
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: 16px;
          padding: 10px 20px;
          text-align: left;
          height: 100%;
          text-transform: uppercase;
          i{
            transform: rotate(180deg);
            transition: all ease .3s;
          }
          span{
            display: none;
            &.moins{
              display: block;
            }
          }
          &.collapsed{
            i{
              transform: rotate(0deg);
            }
            span{
              display: block;
              &.moins{
                display: none;
              }
            }

          }
        }
        @media screen and (max-width: $screen-sm-max) {
          flex: 1;
        }
      }
    }
    &.total-tax{
      > div {
        background: $royal-blue;
        font-weight: 600 !important;
        font-size: 16px;
        color: $white;
      }
    }
  }
  &.details-taxe{
    .list-grid{
      &__item {
        > div{
          +div{
            flex: .5;
            text-align: right;
          }
        }
        &-button {
          >div{
            flex: 1;
            padding: 10px 20px;
            #more-details-tax{
              position: absolute;
              top: 0;
              left: 0;
            }
            @media screen and (max-width: $screen-sm-max) {
              &:first-child{
                display: none;
              }
              +div {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

/**Resultat estimation**/
.rp_dmd {
	padding: 60px 0;
	background-color: #f1f1f1;
	.block_form {
		.btn {
			margin: 0 $size_15;
			&.link-connexion-register {
				padding: 8px 60px !important;
			}
		}
	}
	.commande_block {
		h2 {
			text-transform: uppercase;
			font-weight: 600;
			border-bottom: $bdr_solid_1 $bbr_color;
			padding-bottom: $size_15;
			margin-bottom: $size_24;
		}
		.commande-container {
			ul {
				@extend %list-style;
				border: $bdr_solid_1 $bdr_color1;
    			background: $white;
				li {
					&.grayb {
						background-color: $light;
					}
					strong {
						display: inline-block;
						width: 250px;
						border-right: 5px solid $bdr_color1;
						margin-right: $size_15;
						padding: $size_15 0 $size_15 $size_15;
						@include sm {
							display: $block;
							width: 100%;
							border-right: none;
							margin-right: 0;
							padding: 0;
						}
					}
					@include sm {
						text-align: center;
						padding: $size_15;
					}
				}
			}
		}
		.piece_fournir {
			background: $white;
			padding: 40px;
			@include sm {
				padding:10px;
			}
			.titleDossier {
				border-left: 5px solid $aqua-blue;
    			padding-left: $size_15;
			}
			.image-dossier {
				background: $bdr_color1;
				padding: $size_15;
				height: 100%;
				@include md {
					height: $inherit;
					margin: $size_15 0;;
				}
				.image-dossier-icon {
					display: $block;
					margin-bottom: $size_15 !important;
					i {
						font-size: 60px;
    					color: $royal-blue;
					}
					&.icon-svg {
						max-width: 60px;
						margin: auto;
					}
				}
				.desc-dossier {
					display: $block;
					line-height: 20px;
					font-weight: 600;
				}
			}
			#daf-list-wrapper {
				ol {
					padding-left: 25px;
					margin: 0;
					li {
						margin: $size_15 0;
						ul {
							li {
								color: $aqua-blue;
							}
						}
					}
				}
			}
			.back-retour {
				font-family: "Ubuntu";
				font-size: 14px !important;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 25px;
				cursor: pointer;
				color: $royal-blue !important;
				&:hover {
					text-decoration: none;
					opacity: .7;
				}
			}
			.link-connexion-register {
				padding: 10px 60px !important;
			}
		}
	}
}
.page-resultat-estimation{
  header{
    background-image: none!important;
    background-color: $royal-blue;
    height: 100%;
    min-height: 370px;
  }
  .sectionTop_{
    background-color: $light-3;
  }
  .sectionbot_, .detail_carteG{
    display: none !important;
  }
}
.resultat-estimation{
  h2 {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: $size_24;
  }
  .img-thumbnail{
    max-width: 148px;
  }
}
.commander-firstview {
	h2 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: $size_24;
	}
	.resultat-estimation {
		h2 {
			font-size: 20px;;
		}
	}
	hr {
		border-top-color: $white;
		margin-bottom: 40px;;
	}
}

.recap-demande {
  font-family: 'Open Sans';
  font-weight: normal;
  padding-left: $size_15;
  padding-right: $size_15;
  border-bottom: 1px solid $white;
  padding-bottom: 40px;
  &-wrapper{
    > div{
      max-width: 100%;
      flex: 1;
    }
  }
  h6 {
    font-family: 'Open Sans';
    font-weight: 600;
  }
  > div{
    padding: 0 5% 0 0;
    &:not(:first-child) {
      padding: 0 5%;
    }
    &:not(:last-child){
      border-right: 1px solid $light-2;

    }
  }
}
.btn-validate-command{
  padding: 20px 42px !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  float: right;
  i{
    margin-left: 10px;
    font-size: 21px;
  }
}

/**Modal**/

.modal {
  z-index: 999999 !important;
  background: rgba(0,0,0,.5);
  h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &-header{
    background: transparent;
  }
  .link-connexion{
    padding: 13px 42px !important;
    letter-spacing: 3px;
    margin-right: $size_15;
    min-width: 270px;
	max-width: 350px;
	@include sm {
		padding: 13px 25px !important;
	}
    i{
      margin-left: 10px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .resultat-estimation{
    .recap-demande{
      display: inline-block;
      padding: 0;
      &-wrapper {
        flex-direction: column;
        +div{
          > div{
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            > div {
              max-width: 100%;
              padding: 0;
              margin-bottom: 50px;
            }
          }
        }
      }
      > div {
        max-width: 100%;
        margin-bottom: 20px;
        border-right: 0;
        padding: 0 0 20px 0;
        &:not(:last-child){
          border-bottom: 1px solid #838383;
        }
      }
    }
  }
}

#example-advanced-form {
	&.wizard {
		#example-advanced-form-t-0 {
			margin-left: 0;
		}
		.content{
			background-color: $white;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 1em;
    		min-height: 25em !important;
			.col-form-label {
				text-transform: uppercase;
				font-weight: 600;
				border-bottom: $bdr_solid_1;
    			margin-bottom: 30px;
			}
			#resum {
				> div {
					// padding: 7px $size_15;
					// margin: 5px;
					width: 49%;
					display: inline-block;
					background: $select-bg;
					vertical-align: top;
					strong {
						background: url(/../../asset/img/layer.jpg) repeat top left;
						background-size: cover;
						padding: 10px 20px;
						border: 1px solid #ededed;
						height: 100%;
						line-height: 100%;
						@include sm {
							width: 100%;
							margin-right: 0;
							border-right: none;
						}
					}
					span {
						border: 1px solid $light-2;
						padding: 10px 20px;
						background-color: $white;
						height: 100%;
					}
				}
			}
		} 
		> .steps .current a, 
		> .steps .current a:hover, 
		> .steps .current a:active {
			background-color: $royal-blue;
		}
		> .steps .done a, 
		> .steps .done a:hover, 
		> .steps .done a:active {
			background: #bfbfbf;
		}
		> .actions {
			a {
				font-family: "Ubuntu";
				font-size: 14px !important;
				background: $royal-blue;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				padding-right: 35px;
				padding-left: 35px;
				text-transform: uppercase;
				letter-spacing: 1px;
				border: $bdr_solid_1 transparent;
				@include sm {
					padding-right: $size_24;
					padding-left: $size_24;
				}
				&:hover,
				&:active {
					box-shadow: none;
					outline: none;
					color: $royal-blue;
					background-color: transparent;
					border-color: $royal-blue !important;
					text-decoration: none;
				}
			}
			.disabled {
				a {
					background: $bdr_color1;
					&:hover,
					&:active {
						color: #aaa;
						background-color: $bdr_color1;
						border-color: $bdr_color1 !important;
					}
				}
			}
		}
	}
}
.col-sep {
	height: 100%;
	span {
		width: 7px;
		height: 70%;
		background: $select-bg;
		margin: 0 auto;
		border-radius: 25px;
		display: $block;
	}
}
//inscription block
.register-block {
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0 60px;
	@include sm {
		padding: $size_30 0;
	}
	.with-mp {
		@include sm {
			padding: 0 $size_15;
		}
	}
	.formContent-bc {
		padding-left: 20px;
		padding-right: 20px;
	}
	.fos_user_registration_register,
	.formContent-bc {
		background-color: $white;
		border-radius: 5px;
		overflow: hidden;
		.heading_form {
			background-color: $royal-blue;
			border-bottom: 2px solid $white;
    		box-shadow: 0px $size_15 19px 5px rgba(0, 0, 0, 0.2);
			color: $white;
			margin-bottom: 40px;
			padding: 37px 50px;
			@include sm {
				padding: $size_15;
			}
			h2 {
				font-size: 22px;
				line-height: 36px;
				letter-spacing: .5px;
				font-weight: 600;
				@include sm {
					font-size: 16px;
    				line-height: $size_24;
				}
			}
		}
		.register-form--client--label {
			display: inline-block;
			vertical-align: middle;
			width: 16.666667%;
			@include sm {
				display: $block;
				width: 100%;
			}
		}
		.select {
			display: inline-block;
			width: 83.333333%;
			@include sm {
				display: $block;
				width: 100%;
			}
		}
		.form-control {
			border-radius: 5px;
			text-transform: none !important;
		}
		.form-group {
			>label {
				text-transform: uppercase;
				margin-bottom: 0;
			}
		}
		.btn-calcuer {
			width: $inherit;
		}
		.select-styled {
			border-radius: 5px;
    		overflow: hidden;
		}
	}
}

#formFooter {
	a {
		color: $royal-blue;
		font-size: 14px;
		@include sm {
			font-size: 12px;
		}
	}
}

//CCM
.block_CCM {
    background-image: url(/asset/img/page_bg.png);
    background-position: 0 bottom;
	background-repeat: no-repeat;
	border-bottom: $bdr_solid_1 $bdr_color1;
	padding: 80px 0 60px;
	@include sm {
		padding: 40px 0;
	}
	.home-secondview--titre {
		font-size: $size_30;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 48px;
		margin-bottom: $size_30;
		@include xs {
			font-size: $size_18;
			letter-spacing: 0;
			line-height: $size_24;
			margin-bottom: 10px;
		}
		br {
			@include sm {
				display: none;
			}
		}
	}
	.accordeon_ {
		@include sm {
			padding: 0 $size_15;
		}
	}
	.menu-commander {
		position: relative;
		top: 0;
		display: $block;
		width: 100%;
		background: $white;
		border: $bdr_solid_1 $bdr_color1;
		border-radius: 10px;
		padding: 19px 55px 15px 15px;
		margin: 7px 0;
		text-align: left;
		line-height: $size_24;
		transition: top ease .4s;
		&:focus {
			box-shadow: none;
			outline: none;
		}
		&:after {
			content: "+";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			color: $aqua-blue;
          font-size: 32px;
		}
		&.active {
			&:after {
				content: "-";
			}
		}
		// &:hover {
		// 	top: -10px;
		// 	box-shadow: 0 $size_15 $size_30 rgba(0,0,0,.1);
		// 	border-radius: 10px;
		// 	background: url(/asset/img/bg_text_CCM.png) -10% -16% $white no-repeat;
		// 	background-size: 85%;
		// 	.menu-commander--button---icon {
		// 		color: $white;
		// 		.ccm-icon {
		// 			&.titulaire {
		// 				background-image: url(/asset/img/titulaire_hover.png);
		// 			}
		// 			&.immatricul {
		// 				background-image: url(/asset/img/immatriculation_hover.png);
		// 			}
		// 			&.domicile {
		// 				background-image: url(/asset/img/domicile_hover.png);
		// 			}
		// 			&.duplicata {
		// 				background-image: url(/asset/img/duplicata_hover.png);
		// 			}
		// 			&.status_m {
		// 				background-image: url(/asset/img/floder_hover.png);
		// 			}
		// 			&.justificatif_d {
		// 				background-image: url(/asset/img/justificatif_hover.png);
		// 			}
		// 			&.mise_cass {
		// 				background-image: url(/asset/img/corbeille_hover.png);
		// 			}
		// 			&.lire_cG {
		// 				background-image: url(/asset/img/lire_hover.png);
		// 			}
		// 		}
		// 	}
		// 	@include md {
		// 		display: none;
		// 	}
		// }
	}
	.comment-ca-marche-texte {
		margin-bottom: $size_30;
		.menu-commander--button---text {
			font-weight: 600;
			display: inline-block;
			text-transform: uppercase;
			// border-top: $bdr_solid_1 $bdr_color1;
			// margin-top: $size_20;
			// padding-top: $size_20;
			vertical-align: middle;
			@include md {
				font-size: 13px;
			}
		}
		.menu-commander--button---icon {
			transition: .3s;
			display: inline-block;
			vertical-align: middle;
			.ccm-icon {
				width: 80px;
				height: 49px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				&.titulaire {
					background-image: url(/asset/img/titulaire.png);
				}
				&.immatricul {
					background-image: url(/asset/img/immatriculation.png);
				}
				&.domicile {
					background-image: url(/asset/img/domicile.png);
				}
				&.duplicata {
					background-image: url(/asset/img/duplicata.png);
				}
				&.status_m {
					background-image: url(/asset/img/floder.png);
				}
				&.justificatif_d {
					background-image: url(/asset/img/justificatif.png);
				}
				&.mise_cass {
					background-image: url(/asset/img/corbeille.png);
				}
				&.lire_cG {
					background-image: url(/asset/img/lire.png);
				}
			}
		}
	}
	.comment-ca-marche-texte-p {
		ul {
			@extend %list-style;
			padding-left: $size_15;
			> li {
				position: relative;
				padding-left: 35px;
				margin: $size_20 0;
				&:before {
					content: "\e909";
					font-family: "icomoon";
					left: 0;
					position: absolute;
					color: $royal-blue;
				}
			}
		}
	}
	.toggle-content {
		background-color: $white;
		padding: 32px;
		margin-bottom: 4px;
		position: relative;
		box-shadow: inset 0 0 0 1px #e0e0e0;
		display: none;
	}
	.demarche--block {
		display: table;
		width: 100%;
		border-bottom: $bdr_solid_1 $bbr_color;
		padding: 10px 0;
		> div {
			display: table-cell;
			&.vos-demarches--texte---titre {
				width: 50px;
				text-align: right;
				padding-right: $size_15;
				font-weight: 600;
				color: $royal-blue;
			}
		}
	}
	.block_pcs_a_fournir {
		.item_pcs_a_fournir {
			border:$bdr_solid_1 $bdr_color1;
			background-color: $white;
			margin: $size_15 0;
			transition: all ease .4s;
			-webkit-transition: all ease .4s;
			position: relative;
			&:hover {
				box-shadow: 0 $size_15 $size_30 rgba(0,0,0,.1);
			}
			.img_pcs {
				position: relative;
				img {
					max-width: 100%;
					@include sm {
						width: 100%;
					}
				}
				.numbr {
					text-align: center;
					position: absolute;
					bottom: 0;
					width: 85px;
					height: 50px;
					&:before {
						@extend %absolute;
						width: 0;
						height: 0;
						border-top: 138px solid transparent;
						border-bottom: 0 solid transparent;
						border-left: 138px solid $royal-blue;
						left: 0;
						bottom: 0;
					}
					span {
						display: $block;
						font-size: 50px;
						color: $white;
						font-weight: bold;
						position: relative;
					}
				}
			}
			.text_pcs {
				padding: $size_20 $size_15 $size_20 0;
				@include sm {
					padding: $size_20;
				}
				h3 {
					text-transform: uppercase;
					font-size: 24px;
					font-weight: 600;
					margin-bottom: 20px;
					@include sm {
						font-size: 18px;
					}
				}
				ul {
					@extend %list-style;
					li {
						position: relative;
						padding-left: 35px;
						margin-bottom: 10px;
						line-height: 24px;
						&:last-child {
							margin-bottom: 0;
						}
						&:before {
							content: "\e909";
							font-family: "icomoon";
							left: 0;
							position: absolute;
							color: $royal-blue;
						}
						p {
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}

.body-ccm {
	&.modal-open {
		.modal-dialog {
			max-width: 750px !important;
			.modal-content {
				padding: $size_24;
				.commander-box--section---titre {
					h3 {
						font-weight: 600;
						color: $royal-blue;
					}
				}
			}
		}
	}
}

//Modal
.modal {
	z-index: 10002 !important;
	&.custom-mobile-modal {
		.modal-dialog {
			max-width: 730px;
			.modal-header {
				justify-content: center;
				text-align: center;
				display: $block;
				position: relative;
				border-bottom: none;
				padding: 25px 0 0;
				.modal-title {
					font-size: 36px;
					font-weight: 600;
					font-style: italic;
					text-align: center;
					@include sm {
						font-size: 26px;
					}
					&:after {
						width: 160px;
						content: "";
						display: $block;
						border-bottom: $bdr_solid_1 $gray;
						margin: 23px auto;
						@include sm {
							margin-bottom: 0;
						}
					}
					span {
						display: $block;
						font-size: $size_24;
						@include sm {
							font-size: 14px;
						}
					}
				}
				.close {
					position: absolute;
					right: -$size_15;
					top: -10px;
					width: 60px;
					height: 60px;
					background: $royal-blue;
					opacity: 1;
					color: $white;
					border-radius: 50%;
					@include sm {
						right: 20px;
    					top: 20px;
					}
				}
			}
			.modal-body {
				padding-bottom: 40px;
				.se-connecter {
					font-size: $size_18;
					text-transform: uppercase;
					font-weight: 600;
					letter-spacing: 1px;
					color: $royal-blue;
					padding-left: 15px;
					@include sm {
						margin-bottom: 0;
					}
				}
				.bdr-sep {
					border-top: $bdr_solid_1 $gray;
					// margin-top: $size_30;
					padding-top: 20px;
					p {
						@include sm {
							font-size: 14px;
						}
					}
				}
				.formContent-bc {
					padding-top: 0 !important;
				}
				.custom-container-flex {
					>div {
						background-image: none !important;
					}
				}
			}
		}
	}
}
.modal-backdrop {
    z-index: 10001 !important;
	background: linear-gradient(0.25turn, #002a6b, #1465e1) !important;
	&.show {
		opacity: .8 !important;
	}
}

//Prix CG
.prix_CG {
	background-color: #f9f9f9;
	padding: 60px 0;
	.home-prix--titre {
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
	}
	.CG_item {
		h3 {
			color: $royal-blue;
		}
		p {
			display: inline-block;
			background: $aqua-blue;
			color: white;
			padding: 0 $size_15;
		}
		.map-container {
			@include md {
				margin-bottom: $size_24;
			}
		}
	}
	.foot_PrixCG {
		background-color: $white;
		border: $bdr_solid_1 $bbr_color;
		padding: 40px;
		border-radius: 7px;
		@include md {
			padding: $size_15;
		}
		h3 {
			text-transform: uppercase;
			color: $inherit;
			font-size: 20px;
			font-weight: 600;
			line-height: 30px;
			border-bottom: $bdr_solid_1 $bdr_color1;
			padding-bottom: 10px;
			margin-bottom: 16px;
		}
		.btn-blue {
			padding: 14px 30px !important;
			width: 100%;
		}
		.btn-blue-outline {
			border-color: $royal-blue !important;
			background: none !important;
			color: $royal-blue !important;
			padding: 14px 7px !important;
			width: 100%;
			margin-bottom: 10px;
			&:hover {
				border-color: transparent !important;
				background: $royal-blue !important;
				color: $white !important;
			}
			@include sm {
				margin-bottom: $size_15;
			}
		}
		.head-prix {
			border: $bdr_solid_1 $aqua-blue;
			color: $aqua-blue;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			@include md {
				line-height: 130%;
			}
		}
		.lien_pref {
			display: $block;
			text-align: center;
		}
		.departement_tarif, 
		.departement_exoneration {
			border: $bdr_solid_1 $bbr_color;
			background: $white;
			padding: $size_15;
		}
	}
}
/**Custom Tab content**/
#custom-tab{
  border: 1px solid #e3e3e3;
  .nav{
    display: flex;
    align-items: center;
    li{
      flex: 1;
      a{
        padding: 20px;
        background: #e3e3e3;
        color: #2a2b2b;
        text-transform: uppercase;
        text-align: center;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #e3e3e3;
        i {
          font-size: 35px;
        }
        &.active{
          background: $white;
          border-top: 1px solid #219de4;
          color: #219de4;
          >*{
            color: #219de4;
          }
        }
      }
    }
  }
  .tab-content {
    padding: 1.5rem 5rem;
    > div{
       p{
        text-transform: uppercase;
        margin-bottom: 18px;
        padding-bottom: $size_15;
        &:not(:last-child){
          border-bottom: 1px solid #e3e3e3;
        }

      }
    }

  }
}
/**end**/

/**Badge**/
#badge{
  &.badge{
    padding: 5px 20px;
    font-weight: normal;
    font-size: 13px;
    color: $white;
    &-danger{
      background: #ed1c24;
    }
  }
}

/*end**/

/**Custom table**/
.custom-table{
  &.table{
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    &-striped tbody tr:nth-of-type(odd) {
      background-color: transparent;
    }
    .responsive-toggle{
      display: none;
    }
    tr{
      border-bottom: 5px solid #f1f1f1;
      td, th{
        font-weight: 600;
        font-size: 16px;
        padding: 20px;
        vertical-align: middle;
        line-height: 1.5rem;
        border: 0;
      }
      th{
        color: #0d0d0d;
        background: transparent;
      }
      td{
        background: $white;
        color: #292828;
      }
    }
    @media screen and (max-width: $screen-sm-max){
      .responsive-toggle{
        display: block;
      }
      thead{
        display: none;
      }
      tr{
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: none;
        th, td{
          background: $white;
          padding-bottom: 0;
          text-align: left!important;
          &:last-child{
            padding-bottom: 20px;
          }
        }
        td{
          font-weight: 400;
        }
        th{
          padding-right: 0;
          span{
            &:before{
              content: ':';
              float: right;
            }
          }
        }
      }
    }
  }

}

/**end**/

/**Espace client home**/
#esp_clientBlock{
  h4.title-client{
    color: #bfbfbf;
    margin-bottom: $size_15;
    padding-bottom: 10px;
    border-bottom: $bdr_solid_1 #e3e3e3;
  }
}
.sonata-bc {
	.content {
		width: 100% !important;
		border-radius: 0 !important;
		border: none !important;
	}
}
.esp_clientBlock {
	&.AdminFicheC {
		padding: 0;
		.badge {
			display: inline-block;
			padding: .25em .4em;
			font-size: 75%;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25rem;
			transition: color .15s ease-in-out,
			background-color .15s ease-in-out,
			border-color .15s ease-in-out,
			box-shadow .15s ease-in-out;
			&.badge-info {
				color: $white;
				background-color: #17a2b8;
				text-transform: uppercase;
				margin-left: 5px;;
			}
		}
		h2.title-client {
			color: #bfbfbf;
			margin-bottom: $size_15;
			padding-bottom: 10px;
			letter-spacing: 0;
			border-bottom:$bdr_solid_1 $bdr_color1;
		}
		.recapInfos {
			padding: 40px;
			background-color: $white;
			border:$bdr_solid_1 $bdr_color1;
			p {
				text-transform: uppercase;
				margin-bottom: $size_18;
				padding-bottom: $size_15;
				&:not(:last-child) {
					border-bottom: $bdr_solid_1 #e3e3e3;
				}
			}
		}
	}
}

.no-bg{
  background: none! important;
}
.btn.btn-aqua-blue {
  font-family: "Ubuntu";
  font-size: $size_15;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $aqua-blue;
  border: 1px solid transparent;
  border-radius: 50px;
  color: $white;
  padding: $size_15 30px;
  min-width: 270px;
  align-items: center;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  outline: none;
  &:hover {
    border: 1px solid $aqua-blue;
    color: $aqua-blue;
    background: $white;
    text-decoration: none !important;
  }
  i {
    font-size: 17px;
    margin-left: 10px;
  }
}

.btn-facture {
  max-width: 270px;
}
i.icon-pdf{
  font-size: 21px !important;
}
#pills-document{
  .group-input{
    p{
      border-bottom: 1px solid #e3e3e3;
      margin-bottom: 18px;
      padding-bottom: $size_15;
    }
  }
}

.content-wrapper {
  background-color: #f1f1f1;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.no-underline{
  text-decoration: none !important;
}
/**Command list**/
.content-actions{
  .btn{
    font-family: "Open Sans";
    padding: 8px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    color: $white;
    transition: all .3s ease;
    min-width: 130px;
  }
  .resume-btn{
    background: rgba(3,52,126,0.9);
    margin-bottom: 5px;
    &:hover{
      background: rgba(3,52,126,1);
      color: $white;
      text-decoration: none !important;
    }
  }
  .cancel-btn{
    background: rgba(54,54,55,.9);
    &:hover{
      background: rgba(54,54,55,1);
      color: $white;
    }
  }
  @media screen and (max-width: $screen-sm-max){
    .btn{
      width: 100%;
      max-width: 270px;
    }
  }
}

/**end**/

/**Document telechagerger**/
.doc-telechargeable{
  h4{
    font-weight: 600;
    text-transform: uppercase;
  }

}
ul{
  &.list{
    list-style-type: none;
    display: inline-block;
    margin-top: .25rem;
    li{
      position: relative;
      padding-left: 35px;
      margin: 20px 0;
      &:before {
        content: "\e909";
        font-family: "icomoon";
        left: 0;
        position: absolute;
        color: #03347e;
      }
    }
  }
}
.text-head{
  color: #219de4;
  text-transform: uppercase;
}
.important-title {
  background: #219de4;
  width: auto;
  display: inline-block;
  color: $white;
  padding: 20px 40px;
  min-width: 270px;
}
.border--light-2{
  border-top: 2px solid #ccc;
}

/**end**/

/**Blog**/
.content-wrapper.blog{
  border-bottom: 1px solid #ccc;
}
h2.page-title{
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 48px;
  margin-bottom: 1rem;
  text-align: left;
}
.main-blog{
  .text-head{
    color: #03347e;
    font-weight: bold;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 24px;
  }
  .blog-post{
    margin-bottom: 30px;
    &--informations{
      padding: 1.5rem;
      background: $white;
      border-radius: 0 0 5px 5px;
      border-left: 1px solid rgba(183,183,183,.3);
      border-right: 1px solid rgba(183,183,183,.3);
      border-bottom: 1px solid rgba(183,183,183,.3);
    }
    &--image{
      position: relative;
      overflow: hidden;
      height: 360px;
      figure{
        margin: 0;
        img{
          width: auto;
          height: 360px;
        }
      }
    }
    &--titre{
      color: #03347e;
      h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #eeeeee;
      }
      &:hover{
        text-decoration: none;
        color: #219de4;
      }
    }
    &--date{
      color: #747474;
      font-weight: normal;
      font-size: 14px;
    }
    &--description{
      color: #020202;
      margin-bottom: .5rem;
    }
    &--action{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--category{
      position: absolute;
      bottom: 1rem;
      left: 1.5rem;
      &-item{
        color: $white;
        background: #1d74a6;
        padding: 5px 10px;
        float: left;
        margin-right: .25rem;
        text-transform: uppercase;
        font-size: 13px;
        line-height: normal;
        transition: all .3s ease;
        margin-bottom: .25rem;
        &:hover{
          text-decoration: none;
          background: #219de4;
        }
      }
    }
    &--navigation{
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-top: 1px solid #ccc;
      &-right{
        text-align: right;
        i{
          margin-left: 20px;
        }
      }
      &-left{
        i{
          margin-right: 20px;
        }
      }
      &-title{
        color: #03347e;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-weight: bold;
        i {
          font-size: 20px;
        }
        &:hover{
          text-decoration: none;
          color:#219de4;
        }
      }

    }
  }

  .related-blog{
    background: $white;
    padding: 3rem 2rem 4.5rem 2rem;
    margin-bottom: 1.5rem;
    &--title{
      font-weight: 600;
      color: #131314;
    }
    &--post {
      position: relative;
      overflow: hidden;
      height: 160px;
      >div{
        overflow: hidden;
      }
      &-image {
        width: auto;
        height: 160px;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        padding: $size_15;
        line-height: 22px;
        background: rgba(3, 52, 126,.82);
        color: $white;
        position: absolute;
        bottom: -100%;
        margin: 0;
        border-top: 1px solid $white;
        transition: all .5s ease;
      }
      &:hover{
        h5 {
          bottom: 0!important;
        }
      }
    }
  }
}

.blog-details{
  h2.pge-title {
    text-transform: none;
    letter-spacing: normal;
  }
  .container-category-post-on{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .blog-post{
    &--description{
      span, p, strong{
        font-family: "Open Sans" !important;
        font-size: 16px !important;
      }
    }
    &--image{
      height: 400px;
      overflow: hidden;
      figure{
        img{
          margin-top: -2%;
        }
      }
    }
    &--category {
      position: relative;
      left: 0;
      bottom: 0;
      strong{
        float: left;
        margin-right: 20px;
      }
    }
  }
}



.commentaire{
  .badge.badge-pill {
    background: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 50%;
    padding: 10px 14px;
    line-height: 1;
  }
  &-subject{
  font-weight: 300;
    border-bottom: 1px solid #000;
    strong{
      font-style: italic;
    }
  }
  .note{
    font-weight: bold;
  }
  &-form{
    background: $white;
    padding: 3rem 4rem;
    &--title{
      font-weight: 600;
      color: #131314;
    }
    .btn-send{
      padding: 1.2rem 2.5rem 1rem 2.5rem !important;
      margin-top: 2rem;
    }
  }
}

.form-group{
  .label{
    font-weight: bold;
    font-size: 14px;
  }
  .form-control{
    background: #f7f7f7;
    border: 1px solid #ccc;
  }
  input, select{
    height: 48px;
  }

}
/**end**/

/**custom style**/
body{
  header{
    height: 170px;
    overflow: visible;
    .accroche{
      display: none;
    }
  }
}
.body-accueil {
  header{
    overflow: hidden;
    .accroche{
      display: block !important;
    }
  }
}
.sectionTop_ .detail_carteG .line_vert{
  display: none !important;
}
/**end**/

/**CTVO custom**/
.rp_dmd{
  .commander-firstview{
  #example-advanced-form{
      #resum{
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: none;
        grid-column-gap: 25px;
		grid-row-gap: 5px;
		@include md {
			display: block !important;
			
		}
        >div{
          display: flex;
          width: 100%;
		  align-items: center;
		  height: 100%;
		  @include md {
			display: block !important;
			margin: 5px 0;
		  }
          >*{
			flex: 1;
			@include sm {
				display: block !important;
			}
          }
        }
      }
    }
  }
  .resultat-estimation {
    .block_form--btn-actions {
      display: flex;
      > a {
        flex: 1;
        &:first-child {
          margin-right: 20px;
          text-align: right;
        }
        .btn {
          width: 100%;
          margin: 0;
          height: 100%;
          max-width: 270px;
          padding: 15px!important;
        }
      }
    }
  }
}

/**end**/
#formDC{
  .btn.btn-calcuer{
    display: flex;
    width: 100%;
    i{
      margin-left: 10px;
    }
  }
}
/**Piece a fournir**/
.liste-piece-fournir{
  > div{
    background: $white;
    margin-bottom: 2.5rem;
  }
}
.piece-fournir{
  &--number{
    background: url(/../../asset/img/layer-triangle.png) no-repeat;
    width: 138px;
    height: 138px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 84px 0 0 30px;
    font-size: 50px;
    color: $white;
  }
  &--description {
    border: 1px solid #ccc;
    border-left: 0;
    padding: 2rem !important;
    .list {
      padding-left: 0;
      margin: 0;
      li{
        margin: 5px 0;
      }
    }
  }
}

/**end**/

/*CGV*/
.page_CGV {
	&.container-cgv {
		background: white;
		border: 1px solid #eee;
		padding: 30px;
	}
	h1,
	h3 {
		text-transform: uppercase;
		font-weight: 600;
		color: $aqua-blue;
		letter-spacing: 1px;
	}
	.lisml {
		p {
			b{
				display: block;
			} 
		}
	}
	.foot_mentions {
		.card {
			background-color: $aqua-blue;
			color: $white;
			h4 {
				font-weight: 600;
				letter-spacing: 1px;
				font-size: 20px;
			}
		}
	}
}
.body-retractation {
	h1 {
		text-transform: uppercase;
		font-weight: 600;
		span {
			color: $aqua-blue;
		}
		@include sm {
			font-size: 22px;
		}
	}
	.retractation_item {
		background-color: $aqua-blue;
		color: $white;
		h3 {
			color: $white;
			@include sm {
				font-size: 18px;
			}
		}
		@include sm {
			padding: 10px;
		}
	}
}


//assurance
#assurance {
	position: fixed;
	z-index: 9999 !important;
	bottom: -77px;
	right: 15px;
	width: 350px;
	.popup-content {
		max-height: 671px;
		overflow-y: scroll;
	}
	.form-section {
		.margin-top-30 {
			margin-top: 0 !important;
		}
	}
}

.mailModal {
	.modal-dialog {
		max-width: 650px;
		table {
			.content {
				width: 100% !important;
				.h1 {
					@include sm {
						line-height: 18px;
						font-size: 18px;
					}
				}
			}
		}
	}
}