@import 'variables.scss';
@import 'stylesheet.scss';
@import 'footer.scss';

body {
	font-family: "Open Sans" !important;
	line-height: $size_28 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	-webkit-font-smoothing: antialiased;
}

a {
	@extend %linear_anim;
}
.btn-blue {
	font-family: "Ubuntu";
	font-size: 14px !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: $royal-blue !important;
	border-radius: 50px !important;
	color: $white !important;
	padding: 9px 30px !important;
}

//header
header {
	height: 680px;
	@extend %bgStyle;
	overflow-x: hidden;
	position: relative;
    .Navigation {
		#topNav {
			background-color: $white;
			padding: 6px 0;
			.right-topBlock {
				.block-habillitation {
					.habill_item {
						font-size: 9px;
						line-height: normal;
						> img {
							margin-right: 5px;
							border: $bdr_solid_1 #e6e5e5;
							padding: 1px;
							&#Rep_fr {
								-ms-flex: 0 0 76px;
								flex: 0 0 76px;
								max-width: 76px;
							}
							&#Tresr_plc {
								-ms-flex: 0 0 101px;
								flex: 0 0 101px;
								max-width: 101px;
							}
						}
						span {
							em {
								display: $block;
								font-style: italic;
							}
						}
					}
				}
				.login-access {
					.icomoon {
						font-size: 30px;
						vertical-align: middle;
						margin-left: 6px;
					}
				}
			}
		}
		.menu {
			.logo {
				> img {
					width: 88px;
					margin-top: 8px;
				}
			}
			.nav {
				background-color: $white-opacity;
				height: 100%;
				margin-left: 98px;
				.nav-list {
					@extend %list-style;
					display: table;
					width: 100%;
					.nav-item {
						display: inline-block;
						position:relative;
						padding-left: 48px;
						> a {
							color: $white;
							display: $block;
							text-transform: uppercase;
							font-weight: 600;
							font-size: 14px;
							letter-spacing: 1px;
							position: relative;
							cursor: pointer;
							&:after {
								content: "";
								width: 0;
								border-bottom: 4px solid;
								position: absolute;
								right: 4px;
								bottom: -7px;
								transition: all .3s ease;
								-webkit-transition: all .3s ease;
							}
							&:hover {
								text-decoration: none;
								&:after {
									width: 26px;
								}
							}
						}
						.nav-sub-menu {
							display: none;
						}
						&:first-child {
							padding-left: 0;
						}
					}
				}
				&:before{
					@extend %absolute;
					border-top: 0 solid transparent;
    				border-bottom: 96px solid transparent;
					border-right:98px solid $white-opacity;
					width: 0;
					height: 100%;
					left: $size_15;
					top: 0;
				}
				&:after{
					@extend %absolute;
					background-color: $white-opacity;
					margin-right: $size_15;
					width: 100%;
					height: 100%;
					right: -100%;
					top: 0;
				}
			}
		}
	}
	.accroche {
		.text_CG {
			line-height: 30px;
			color: $white;
			font-size: $size_18;
			font-style: italic;
			letter-spacing: 1px;
			padding: 0 20px;
			> span {
				color: $royal-blue;
				background: $white;
				border-radius: 50px;
				padding: 0 $size_15;
			}
		}
	}
	.Bg_separator {
		bottom: 0;
		position: absolute;
		left: 0;
		right: auto;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		z-index: 30;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		.svg-separtor-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			svg {
				bottom: 0;
				-moz-transform: scaleY(-1);
				-webkit-transform: scaleY(-1);
				-o-transform: scaleY(-1);
				-ms-transform: scaleY(-1);
				transform: scaleY(-1);
				width: 100%;
				position: absolute;
				top: auto;
				bottom: 0;
				left: 0;
				right: auto;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}
		}
	}
}

//Content
.sectionTop_ {
	.form_demarche {
		.demarche_block {
			background: $white;
			position: relative;
			padding: 25px 60px;
			margin-top: -330px;
			box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
			margin-bottom: 160px;
			&:before {
				@extend %absolute;
				width: 97%;
    			height: 94%;
				border: 2px solid $bbr_color;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			.title_dermarche {
				letter-spacing: 1px;
				> p {
					font-weight: 300;
					margin-bottom: 10px;
    				line-height: $size_24;
				}
				> h2 {
					font-size: $size_24;
					font-weight: 600;
					text-transform: uppercase;
					margin-bottom: 0;;
					&:after {
						content:"";
						display: $block;
						width: 190px;
						border-top: 2px solid $royal-blue;
						margin: 19px auto 23px;
					}
				}
			}
			.form-group {
				> label {
					font-size: 14px;
					letter-spacing: 1px;
					font-weight: 600;
				}
			}
			.form-control {
				background-color: #f7f7f7;
				border-color: $bbr_color;
				border-radius: 0;
				font-size: 14px;
				letter-spacing: 1px;
				line-height: $size_24;
				height: 54px;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
				&::placeholder {
					color: #484949;
				}
				&:focus {
					outline: none !important;
					box-shadow: none !important;
					border-color: $royal-blue;
				}
			}
			.btn-calcuer {
				cursor: pointer;
				padding: 13px 42px !important;
				letter-spacing: 3px;
				margin-right: 15px;
				width: 220px;
				@extend %linear_anim;
				.icomoon {
					margin-left: 10px;
					font-size: 17px;
					vertical-align: middle;
					transition: all .3s ease;
					-webkit-transition: all .3s ease;
				}
				&:hover, &:focus {
					box-shadow: none;
					outline: none;
					.icomoon {
						padding-left: 5px;
					}
				}
			}
		}
	}
	.detail_carteG {
		.line_vert {
			margin: -110px auto 20px;
			height: 83px;
			width: 1px;
			background-color: #838383;
		}
		.autocollant_block {
			margin-top: 25px;
			position: relative;
    		z-index: 30;
			.critairLink {
				display: inline-block;
				> span {
					display: inline-block;
					border: 5px solid $white;
					border-radius: 100%;
					background: $white;
					margin: 0 -5px;
					img {
						display: $block;
					}
				}
			}
		}
		.bg_gray {
			background: $gray;
			margin-top: -90px;
			padding: 87px 0;
			color: $white;
			position: relative;
			.text_critair{
				padding-top: 45px;
			}
			&:after {
				@extend %absolute;
				width: 0;
				height: 0;
				border-left: 90px solid transparent;
				border-right: 90px solid transparent;
				border-top: 90px solid $gray;
				left: 50%;
				bottom: -87px;
				transform: translateX(-50%);
			}
			.link-form {
				@extend %list-style;
				margin-top: 50px;
				li {
					display: table-cell;
					padding:0 15px;
					vertical-align: top;
					width: 20%;
					a {
						display: $block;
						background-color: $white;
						color: #212529;
						line-height: 120%;
						font-weight: 600;
						padding: 10px;
						height: 116px;
						cursor: pointer;
						transition: all .3s ease;
						-webkit-transition: all .3s ease;
						> span {
							display: -ms-flexbox;
    						display: flex;
							border: $bdr_solid_1;
							padding: 10px;
							-ms-flex-pack: center;
							justify-content: center;
							height: 100%;
							>span {
								display: $block;
								.icomoon {
									display: $block;
									font-size: 30px;
									padding: 2px 0 5px
								}
							}
						}
						&:hover {
							text-decoration: none;
							transform: scale(1.2);
							-webkit-transform: scale(1.2);
						}
					}
				}
			}
		}
	}
}
.sectionbot_ {
	.home_texte {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding-top: 134px;
		padding-bottom: 74px;
		.titre_home_texte {
			h3 {
				font-size: 36px;
				font-weight: bold;
				line-height: 36px;
				span {
					display: $block;
					font-size: 20px;
				}
				&:after {
					content: "";
					width: 83px;
					border-bottom: $bdr_solid_1 #838383;
					display: inline-block;
					margin: 30px auto;
				}
			}
		}
		.content_home_texte {
			a {
				color: $inherit;
			}
			p {
				margin-bottom: 5px;
			}
			h4 {
				font-size: $size_24;
				font-weight: bold;
				font-style: italic;
			}
		}
	}
	.bg_blue {
		background-color: $royal-blue;
		color: $white;
		padding: 80px 0;
		h3 {
			font-size: $size_24;
			margin-bottom: 33px;
		}
		.block_simple {
			ol {
				@extend %list-style;
				counter-reset: compteListe;
				li {
					border-bottom: $bdr_solid_1 $pastel-blue;
					padding: 50px 0 50px 80px;
					position: relative;
					&:last-child {
						border-bottom: none;
					}
					&:before {
						counter-increment: compteListe 1;
						content: counter(compteListe) " ";
						position: absolute;
						color:$pastel-blue;
						left: 15px;
						top:35px;
						width: 50px;
						height: 50px;
						border: 2px solid;
						text-align: center;
						line-height: 45px;
						font-size: 24px;
						border-radius: 50px;
					}
				}
			}
		}
		.block_avantage {
			.item-avantage {
				border: $bdr_solid_1 #ebebeb;
				margin: $size_15 0;
				padding: $size_15;
				position: relative;
				@extend %linear_anim;
				.icomoon {
					font-size: 101px;
				}
				span {
					display: $block;
					color: $pastel-blue;
				}
				&:before {
					content: "";
					position: absolute;
					width: 0;
					height: 100%;
					background: rgba(255, 255, 255, 0.06);
					left: 0;
					top: 0;
					@extend %linear_anim;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}