{#
 * @Author: Patrick &lt;&lt; rapaelec@gmail.com &gt;&gt; 
 * @Date: 2019-06-07 00:20:41 
 * @Last Modified by:   Patrick &lt;&lt; rapaelec@gmail.com &gt;&gt; 
 * @Last Modified time: 2019-06-07 00:20:41 
 #}

{% extends base_template %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('notification/lib/notifications.css') }}">
{% endblock %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block content %}
    <div id="root" class="row"></div>
    {{ encore_entry_script_tags('react') }}
    {% if block("javascripts") is defined %}
    {% endif %}
{% endblock %}
