{% if 
    object.demande is null and
    object.transaction is defined and
    object.transaction.id is not null and
    object.client is not null and
    object.statusTmp != constant('App\\Entity\\Commande::RETRACT_REFUND')
%}
<a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('formulaireDemande', object) }}"
    title="envoie formulaire de demande">
    <i class="fa fa-send" aria-hidden="true"></i>
    Envoyer le formulaire
</a>
{% endif %}