
{% if object.commande is defined %}
    {% if object.statusDoc == constant('App\\Entity\\Demande::RETRACT_FORM_WAITTING') %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('retracterWithDocument', object) }}"
        title="retracter">
        <i class="fa fa-close" aria-hidden="true"></i>
        retracté
    </a>
    {% elseif object.statusDoc == constant('App\\Entity\\Demande::RETRACT_DEMAND') %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('refund', object) }}" title="retracter">
        <i class="fa fa-close" aria-hidden="true"></i>
        remboursé
    </a>
    {% endif %}
{% else %}
    {% if object.demande is defined and object.demande is not null %}
        {% if object.demande.statusDoc == constant('App\\Entity\\Demande::RETRACT_FORM_WAITTING') %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('retracterWithDocument', object.demande) }}"
            title="retracter">
            <i class="fa fa-close" aria-hidden="true"></i>
            retracté
        </a>
        {% elseif object.demande.statusDoc == constant('App\\Entity\\Demande::RETRACT_DEMAND') %}
        <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('refund', object.demande) }}" title="retracter">
            <i class="fa fa-close" aria-hidden="true"></i>
            remboursé
        </a>
        {% endif %}
    {% endif %}
{% endif %}
