{% if object.demande is null %}
   <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('newDemandeOfCommande', object) }}"
        title="retracter">
        <i class="fa fa-close" aria-hidden="true"></i>
        Renseigner le formulaire
    </a>
{% endif %}
