{% if 
    object.demande is null and
    object.transaction is defined and
    object.transaction.id is not null and
    object.client is not null 
%}
<a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('formulaireDemande', object) }}"
    title="retracter">
    <i class="fa fa-send" aria-hidden="true"></i>
    envoie de formulaire
</a>
{% endif %}