{% if object.demande is null %}
    {% if object.statusTmp != constant('App\\Entity\\Commande::RETRACT_DEMAND') and object.statusTmp != constant('App\\Entity\\Commande::RETRACT_REFUND') and object.statusTmp != constant('App\\Entity\\Commande::RETRACT_FORM_WAITTING') %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('retracterCommande', object) }}"
        title="retracter">
        <i class="fa fa-close" aria-hidden="true"></i>
        retracté
    </a>
    {% elseif object.statusTmp == constant('App\\Entity\\Commande::RETRACT_FORM_WAITTING') %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('retracterCommandeSecond', object) }}" title="retracter">
        <i class="fa fa-close" aria-hidden="true"></i>
        retractation reçus
    </a>
    {% elseif object.statusTmp == constant('App\\Entity\\Commande::RETRACT_DEMAND') %}
    <a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('refundCommande', object) }}" title="retracter">
        <i class="fa fa-close" aria-hidden="true"></i>
        remboursé
    </a>
    {% endif %}
{% endif %}
