<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock head %}
{% block style %}{% endblock %}
</head>
<body>
    <div dir="ltr" style="display: block; width: 100%; background: #ffffff">
        <div style='width: 100%; border: none;background-color: #ffffff'>			
            <center>
                <a href="https://www.cgofficiel.fr" target="_blank">
                    <img style="height:150px;width:auto;margin:auto;" src="https://ci4.googleusercontent.com/proxy/mJemm3T_DymwQsex1-Y_ypC4igpKrD0RAbH94SkU5yZVbwVwBd0NvY6UCn96c5Sh4sRzuUjtPLPm4v-57JTf=s0-d-e1-ft#http://dev2.cgofficiel.fr/asset/img/logo.png" alt="logo" class="CToWUd a6T" tabindex="0"> 
                </a>
            </center>
            <div style="text-align:center;padding-top:15px;padding-bottom:15px;background-color:#002a6a;font-family:Raleway;color:white;padding-left:15px;padding-right:15px">
                CGOfficiel</span>.fr
            </div>
        {% block body %}
        
        {% endblock %}              
        </div>
    </div>

</body>
</html>