<div id="menu-faq" class="row col-md-12 col-lg-8 faq-menu faq-secondview d-flex flex-row align-items-center my-flex-container">
	<div class="row col-11 mx-auto">
		<div class="col-12 col-md-4 menu-faq--box">
			<button type="button" data-toggle="modal" data-target="#a-quoi-sert-le-certificat-d" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					A quoi sert le certificat d’immatriculation ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button type="button" data-toggle="modal" data-target="#Les-tracteurs-ont-ils-une-double-immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Peut-on encore se rendre en préfecture pour toutes démarches concernant les certificats d’immatriculations ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button
				type="button"
				data-toggle="modal"
				data-target="#Le-locataire-d-un-véhicule-peut-il-présenter-une-demande-d-immatriculation"
				class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Le locataire d’un véhicule peut-il présenter une demande d’immatriculation ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button
				type="button"
				data-toggle="modal"
				data-target="#Existe-t-il-une-différence-entre-carte-grise-et-certificat-d’immatriculation"
				class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Existe-t-il une différence entre carte grise et certificat d’immatriculation ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button
				type="button"
				data-toggle="modal"
				data-target="#Peut-on-encore-se-rendre-en-préfecture-pour-toutes-demarches-concernant-les-certificats-d-immatriculations"
				class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Peut-on encore se rendre en préfecture pour toutes démarches concernant les certificats d’immatriculations ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button type="button" data-toggle="modal" data-target="#Doit-on-immatriculer-une-voiture-sans-permis" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Doit-on immatriculer une voiture sans permis ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button type="button" data-toggle="modal" data-target="#doit-on-immatriculer-une-remorque" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Doit on immatriculer une remorque ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button
				type="button"
				data-toggle="modal"
				data-target="#Un-certificat-d-immatriculation-est-il-obligatoire-pour-les-véhicules-étrangers"
				class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">Un certificat d’immatriculation est-il obligatoire pour les véhicules étrangers ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button
				type="button"
				data-toggle="modal"
				data-target="#Quelles-sont-les-principales-informations-renseignees-sur-un-certificat-d’immatriculation"
				class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Quelles sont les principales informations renseignées sur un certificat d’immatriculation ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button type="button" data-toggle="modal" data-target="#Quel-véhicule-peut-être-immatriculé-comme-véhicule-de-collection" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Quel véhicule peut être immatriculé comme véhicule de collection ?</span>
			</button>
		</div>

		<div class="col-12 col-md-4 menu-faq--box">
			<button type="button" data-toggle="modal" data-target="#Qu-est-ce-qu-un-Certificat-provisoire-d-immatriculation" class="row col-10 mx-auto menu-faq menu-faq--box---item d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-10 mx-auto menu-faq--box--titre">
					Qu’est-ce qu’un Certificat provisoire d’immatriculation ?</span>
			</button>
		</div>

	</div>

	<div class="container-fluid">

		<div class="modal" id="a-quoi-sert-le-certificat-d">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>A quoi sert le certificat d’immatriculation ?</h2>
								<p class="col-10 mx-auto">Le certificat d’immatriculation est un document qui affiche toutes les informations concernant votre véhicule tel que le numéro de châssis, le type de véhicule, le nom et l’adresse du propriétaire ainsi que le numéro de
									plaque d’immatriculation. Il est en quelque sorte la carte d’identité de votre voiture. Il indique que votre voiture est immatriculée auprès de la Direction d’Immatriculation des Véhicules (DIV). Afin de mettre un véhicule en circulation, il vous
									faut ce document, car il peut vous être réclamé en cas de contrôle des autorités. En effet, si vous circulez sans le certificat d’immatriculation, vous risquez une amende importante.</p>
								<p class="col-10 mx-auto">Depuis 2009, on a mis en place un nouveau système d’immatriculation : le SIV ou Système d’Immatriculation des Véhicules. Ce changement a pour objectif de simplifier et de moderniser tout le système d’immatriculation des
									véhicules français. Le certificat d’immatriculation est de couleur grise et jaune depuis septembre 2013. Il se compose ainsi en deux parties, à savoir :</p>
								<ul class="col-10 mx-auto">
									<li>La section avec le symbole de voiture qui doit toujours rester dans le véhicule</li>
									<li>La section avec le symbole maison que vous devez garder chez vous</li>
								</ul>
								<p class="col-10 mx-auto">En somme, le certificat d’immatriculation est une preuve que votre véhicule a été enregistré à la DIV et qu’il est autorisé à circuler sur la voie publique. Il est valable pendant toute l’utilisation du véhicule à conditions
									que certaines informations ne changent pas. Au cas où il y a un changement de propriétaire, ce dernier doit éditer un nouveau certificat d’immatriculation.</p>
							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Les-tracteurs-ont-ils-une-double-immatriculation">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>Peut-on encore se rendre en préfecture pour toutes démarches concernant les certificats d’immatriculations ?</h2>
								<p class="col-10 mx-auto">Un tracteur est un véhicule. Même si elle n’est pas motorisée, une remorque est considérée comme un véhicule. C’est pourquoi les tracteurs ont une double immatriculation. En effet, tous les véhicules agricoles doivent être
									immatriculés, qu'ils appartiennent à un particulier ou qu'ils soient rattachés à une exploitation. Tous les matériels agricoles qui roulent, tels que le tracteur agricoles à roues ou à chenilles, la machine automotrice de type agricole, le véhicule
									agricole remorqué dont le PTAC est supérieur à 1,5 tonnes, sont donc concernés par cette obligation.</p>

								<p class="col-10 mx-auto">Cependant, les obligations pour les véhicules appartenant à un particulier ne sont pas les mêmes que pour les véhicules rattachés à une exploitation agricole, forestière ou à une coopérative d'utilisation de matériel agricole.
								</p>

								<p class="col-10 mx-auto">En effet, elles diffèrent aussi suivant le PTAC du véhicule ou de la remorque.</p>

								<p class="col-10 mx-auto">Lors de leur mise en circulation, les tracteurs agricoles attachés à une exploitation sont identifiés par un certificat d’immatriculation qui mentionne un numéro d’immatriculation classique. Une plaque d’identification
									inamovible peut être fixée à l’arrière du véhicule, en complément et de manière facultative. Cette plaque mentionne le numéro de l’exploitation agricole délivré par le préfet.
								</p>

								<p class="col-10 mx-auto">En revanche, pour les tracteurs et machines agricoles automotrices appartenant à un particulier, les véhicules doivent être équipés d’une plaque d’immatriculation inamovible à l’avant et à l’arrière ainsi qu’une plaque du constructeur.
								</p>

								<p class="col-10 mx-auto">Cette dernière est également obligatoire. Le prix du certificat d'immatriculation d‘un tracteur est calculé suivant le taux du cheval fiscal, voté chaque année par le conseil régional. Il varie donc, selon les régions.</p>
							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Le-locataire-d-un-véhicule-peut-il-présenter-une-demande-d-immatriculation">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>Le locataire d’un véhicule peut-il présenter une demande d’immatriculation ?</h2>
								<p class="col-10 mx-auto">Tout d’abord, il est bon de savoir que le certificat d’immatriculation est enregistré au nom d'une personne morale ou d'une personne physique. Dans le cadre d’une location à courte durée, c'est la société de location de
									voiture qui établit une demande d'immatriculation et qui sera titulaire du certificat d’immatriculation. En revanche, dans le cadre d’une location longue durée, l’immatriculation du véhicule peut être présentée par la société titulaire ou par le
									locataire sur un mandat du titulaire. Cependant, en tant que locataire, votre nom et votre adresse seront indiquées dans le certificat d’immatriculation dans la rubrique C.3
								</p>

								<p class="col-10 mx-auto">Un certificat provisoire d’immatriculation est délivré dans l’attente de la carte grise définitive envoyée directement par l’Imprimerie Nationale à la société de location ou au domicile du locataire.
								</p>
								<p class="col-10 mx-auto">En effet, généralement, c’est la société de location qui se charge de toutes les démarches concernant la demande d’immatriculation, y compris le prix du certificat d’immatriculation. C’est d’ailleurs, l’un des avantages
									d’acquérir un véhicule en location, car cela vous permet de maitriser votre budget voiture, vu que vous payez une somme mensuelle « tout compris » ou presque, même si cela dépend du type de contrat. En effet, certains loueurs répercutent le coût de
									la carte grise sur le prix de la location.
								</p>
								<p class="col-10 mx-auto">Ainsi, c’est la société loueur de véhicule qui est le titulaire du certificat d’immatriculation. Pour que vous pourriez rouler avec une voiture de location, le loueur vous remettra soit le certificat d’immatriculation
									original, soit une copie. Principalement, l’original est requis, mais pour les voitures de location une photocopie est acceptée.
								</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Existe-t-il-une-différence-entre-carte-grise-et-certificat-d’immatriculation">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>
									Existe-t-il une différence entre carte grise et certificat d’immatriculation ?</h2>
								<p class="col-10 mx-auto">Le
									<span class="text-bold">certificat d‘immatriculation,
									</span>
									anciennement appelé
									<span class="text-bold">carte grise,
									</span>est obligatoire pour la mise en circulation d’un véhicule et à son maintien. On trouve les informations suivantes dans la carte grise
								</p>
								<ul class="col-10 mx-auto">
									<li>
										Le numéro d’immatriculation</li>
									<li>L’identité du propriétaire du véhicule</li>
									<li>Les caractéristiques du véhicule</li>
									<li>Sa conformité
									</li>
									<li>La date de la première immatriculation</li>
								</ul>
								<p class="col-10 mx-auto">Lors d’un contrôle de police ou de douane, la carte grise (ou le certificat d’immatriculation) peuvent être demandée. Elle est valable pendant toute la durée d’utilisation du véhicule par sa propriétaire. En cas de vente, de
									cession du véhicule, de déménagement ou encore de modification d’état civil, il vous faut éditer un nouveau certificat d’immatriculation. La carte grise peut être au nom de plusieurs personnes physiques et/ou morales, sur présentation de pièces
									justificatives.
								</p>
								<p class="col-10 mx-auto">En cas de perte ou de vol de la carte grise, le titulaire peut toujours circuler grâce au
									<span class="text-bold">certificat provisoire.
									</span>
									La demande de certificat d’immatriculation se fait via un formulaire que vous trouverez sur le service de CG Officiel, à l’adresse
									<a href="www.cgofficiel.fr">
										www.cgofficiel.fr</a>.</p>

								<p class="col-10 mx-auto">A la fin de votre démarche, si votre dossier est complet, l’Imprimerie Nationale, située à Charleville-Mézières, vous envoie, par courrier postal, en recommandé, votre certificat d’immatriculation définitif.
								</p>
							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Peut-on-encore-se-rendre-en-préfecture-pour-toutes-demarches-concernant-les-certificats-d-immatriculations">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>Peut-on encore se rendre en préfecture pour toutes démarches concernant les certificats d’immatriculations ?</h2>
								<p class="col-10 mx-auto">Aujourd’hui, il n’est plus possible de se rendre au guichet des préfectures pour les démarches relatives aux certificats d’immatriculation de véhicules. En effet, la demande d’un certificat d’immatriculation se fait
									désormais sur internet, grâce au SIV (service d’immatriculation de véhicules), auquel est affilié le service CG Officiel, accessible à l’adresse
									<a href="www.cgofficiel.fr">
										www.cgofficiel.fr</a>.
								</p>
								<p class="col-10 mx-auto">Le formulaire Cerfa 13750 doit être rempli par le propriétaire du véhicule en question. Il doit préalablement être téléchargé sur internet. Ce formulaire comprend un certain nombre d'informations relatives au véhicule,
									telles que le numéro d’immatriculation, la date de la première immatriculation, les caractéristiques du véhicule, l’identité du titulaire, etc. Dès la réception de votre dossier, vous recevrez un certificat provisoire d’immatriculation (CPI) par
									email. Quant au certificat d’immatriculation original, il sera envoyé en recommandé par l'Imprimerie Nationale. Faire vos démarches avec le service de CG Officiel offre de nombreux avantages : sécurité, gain du temps et traitement plus rapide de vos
									demandes. De plus, il est possible de suivre l’avancement du dossier en contactant l’assistance.</p>

								<p class="col-10 mx-auto">Désormais, le nouveau certificat d'immatriculation est de couleur orangée. Il comporte un coupon détachable qui permet de faciliter les démarches pour les usagers. Ce dernier permet de circuler sur la voie publique pendant
									un mois, le temps d'effectuer les démarches d'immatriculation.</p>
								<p class="col-10 mx-auto">Aujourd’hui, pour obtenir votre certificat d’immatriculation, simplifiez-vous la vie avec le service CG Officiel.
								</p>
							</div>

						</div>

					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>

			</div>
		</div>

		<div class="modal" id="Doit-on-immatriculer-une-voiture-sans-permis">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>
									Doit-on immatriculer une voiture sans permis ?</h2>
								<p class="col-10 mx-auto">Une voiture qui ne nécessite pas de permis de conduire doit disposer malgré tout d'une carte grise pour pouvoir circuler sur la voie publique. En effet, le certificat d’immatriculation est obligatoire pour circuler au volant d’une « voiturette ».
								</p>

								<p class="col-10 mx-auto">Les démarches sont identiques à celles d’une voiture classique, qu’elle soit neuve ou d’occasion. En effet, une voiture sans permis doit disposer d'une plaque d'immatriculation à l’arrière afin de l’identifier. Cependant,
									l'installation d'une plaque à l'avant n'est pas obligatoire. La composition des plaques d’immatriculation est la même qu’une plaque d’immatriculation pour une voiture classique, à savoir : une euro-bande à gauche, le numéro d’immatriculation et
									l’identifiant territorial avec numéro du département.
								</p>

								<p class="col-10 mx-auto">
									Le coût d’immatriculation d’une voiture sans permis varie en fonction de la région dans laquelle vous résidez. Vous disposez d’un délai d’un mois pour faire établir le certificat d’immatriculation de votre voiture sans permis. Passée cette période,
									vous risquez une amende forfaitaire de 135 euros, qui peut être majorée à 750 euros pour défaut de plaque d’immatriculation.</p>

								<p class="col-10 mx-auto">
									Il est bon de savoir que les véhicules identifiés comme voiture sans permis sont des quadricycles légers de deux places. Ces petites voitures sont généralement équipées d’un moteur de 50 cm3. Leur puissance n’excède ainsi pas 4 kW, soit 5,6 chevaux,
									limitant leur vitesse maximum à 45 km/h.
								</p>

								<p class="col-10 mx-auto">On peut conduire une voiture sans permis dès l’âge de 16 ans. Cependant, les conducteurs nés après 1988 doivent être détenteurs du permis AM et effectuer une formation pratique de 7 heures sans examen.</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="doit-on-immatriculer-une-remorque">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>Doit on immatriculer une remorque ?</h2>
								<p class="col-10 mx-auto">L’obligation de faire immatriculer une remorque dépend de son poids.
								</p>

								<p class="col-10 mx-auto">
									En effet, une caravane ou une remorque (agricole ou non) ayant un poids total autorisé en charge (PTAC) supérieur à 500 kg, doit être immatriculée. Ainsi, elle doit avoir sa propre immatriculation, différente de celle du véhicule tracteur.
								</p>

								<p class="col-10 mx-auto">Pour qu’elle soit autorisée à circuler, elle doit avoir son propre certificat d’immatriculation.
								</p>

								<p class="col-10 mx-auto">Les démarches sont les mêmes que celles prévues pour une voiture particulière ou une voiture d'occasion, neuve ou d’occasion. La remorque ou la caravane doit avoir une plaque minéralogique reprenant le numéro
									d'immatriculation de son certificat d’immatriculation. En revanche, l’identifiant régional peut être différent de celui du véhicule tracteur. Une fois votre remorque immatriculée, vous conserverez ce certificat d'immatriculation dans le véhicule
									tracteur et fixerez ensuite la plaque d'immatriculation à l'arrière de votre remorque. La remorque doit subir un premier contrôle technique. Ensuite, un nouveau contrôle technique sera nécessaire tous les ans.</p>

								<p class="col-10 mx-auto">Il est à noter qu’une remorque, dont le PTAC est inférieur ou égal à 500 kg, n’a pas besoin d’un certificat d’immatriculation. Aucun contrôle technique n’est nécessaire. Toutefois, votre remorque doit disposer d'un duplicata
									de la plaque d'immatriculation du véhicule tracteur. Elle doit également être en règle par rapport au code de la route. Il faut savoir aussi qu’une remorque de moins de 500 kg de PTAC faite « maison » doit être homologuée pour pouvoir circuler.
								</p>

								<p class="col-10 mx-auto">Vous devez alors contacter la Direction Régionale de l’Environnement, de l’Aménagement et du Logement (DREAL) pour l’homologation.</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Un-certificat-d-immatriculation-est-il-obligatoire-pour-les-véhicules-étrangers">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>Un certificat d’immatriculation est-il obligatoire pour les véhicules étrangers ?</h2>
								<p class="col-10 mx-auto">Avoir un certificat d’immatriculation est nécessaire afin de circuler librement sur la voie publique. Ainsi, un certificat d’immatriculation est obligatoire, même pour les véhicules étrangers. Cependant, la démarche est
									différente de celle pour les véhicules en provenance de la France. Vous disposez d’un mois, à partir de la date d’achat, pour avoir votre certificat d’immatriculation. Certains véhicules étrangers, dont les voitures italiennes, nécessitent la demande
									d'un numéro temporaire.</p>
								<p class="col-10 mx-auto">Auparavant, on peut faire une demande de certificat d’immatriculation auprès de la préfecture. Aujourd’hui, elle peut se faire sur internet à l’adresse
									<a href="www.cgofficiel.fr">
										www.cgofficiel.fr</a>, un service agréé par le Ministère de l’Intérieur.
								</p>
								<p class="col-10 mx-auto">Pour avoir une immatriculation du véhicule sur le territoire français, vous devez vous munir d’un grand nombre de pièces justificatives :</p>
								<ul class="col-10 mx-auto">
									<li>Photocopie de la carte grise étrangère</li>
									<li>L’original de la demande de certificat d’immatriculation d’un véhicule</li>
									<li>L’original du certificat de cession</li>
									<li>L’original du mandat d’immatriculation</li>
									<li>L’original du certificat de conformité</li>
									<li>L’original du quitus fiscal (ou certificat fiscal)</li>
									<li>L’original de la déclaration de douane 846A pour les véhicules hors UE</li>
									<li>Photocopie d’un contrôle technique français</li>
									<li>Photocopie d’un justificatif de domicile</li>
									<li>Photocopie d’une pièce d’identité</li>
								</ul>
								<p class="col-10 mx-auto">Après avoir fourni tous les documents nécessaires à l'immatriculation de votre véhicule étranger, il ne vous reste plus qu'à attendre l'expédition de votre carte grise à domicile. Un suivi en ligne de son avancement est
									possible. Il est à noter que les taxes du certificat d’immatriculation d’un véhicule étranger sont calculées de la même manière qu’un véhicule immatriculé en France.
								</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Quelles-sont-les-principales-informations-renseignees-sur-un-certificat-d’immatriculation">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>Quelles sont les principales informations renseignées sur un certificat d’immatriculation ?</h2>
								<p class="col-10 mx-auto">Anciennement appelé carte grise, le certificat d’immatriculation est un document obligatoire relié à tous les véhicules terrestres à moteur dès lors qu’ils roulent sur la voie publique. Il est délivré par des services
									affiliés au Service d’immatriculation de véhicules tels que
									<a href="www.cgofficiel.fr">
										CG officiel</a>.</p>
								<p class="col-10 mx-auto">Le certificat d’immatriculation comprend un ensemble d'informations sur le véhicule et son propriétaire :
								</p>
								<ul class="col-10 mx-auto">
									<li>Numéro d’immatriculation à vie du véhicule sous le format AB-123-CD</li>
									<li>Date à laquelle la première carte grise ou le certificat provisoire d’immatriculation a été délivré(e)</li>
									<li>Informations sur le(s) propriétaire(s) du véhicule (nom, prénom, adresse…)</li>
									<li>Informations générales du véhicule (marque, type du véhicule, dénomination commerciale, …)</li>
									<li>Numéro d’identification du véhicule</li>
									<li>Information sur le poids maximal du véhicule</li>
									<li>Période de validité du certificat d’immatriculation</li>
									<li>Date de l’émission du certificat d’immatriculation</li>
									<li>Catégorie du véhicule</li>
									<li>Numéro de réception par type</li>
									<li>Informations concernant l’énergie ainsi que la puissance du véhicule</li>
									<li>Nombre de places disponibles et autorisées du véhicule</li>
									<li>Informations relatives au véhicule et l’environnement (rejet du CO2, indication de la classe environnementale de réception CE)</li>
									<li>Contrôle technique effectuée sur le véhicule</li>
									<li>Détails sur les taxes de la carte grise</li>
									<li>Mentions spécifiques</li>
								</ul>
								<p class="col-10 mx-auto">En somme, le certificat d’immatriculation est en quelque sorte une carte d’identité du véhicule. En effet, il sert à identifier les caractéristiques techniques et fiscales du véhicule, son suivi dans le temps ainsi que le nom de son propriétaire.
								</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Quel-véhicule-peut-être-immatriculé-comme-véhicule-de-collection">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>
									Quel véhicule peut être immatriculé comme véhicule de collection ?</h2>
								<p class="col-10 mx-auto">Un véhicule peut être immatriculé comme voiture de collection si la date de la première immatriculation remonte à plus de 30 ans.
								</p>
								<p class="col-10 mx-auto">Pour obtenir le certificat d’immatriculation collection (carte grise collection), le véhicule ne doit plus être produit à la date de demande du certificat d’immatriculation.
								</p>

								<p class="col-10 mx-auto">Il est également essentiel que les caractéristiques techniques du véhicule ne soient pas modifiées. Il est bon de savoir que passer son véhicule en catégorie collection n’est pas automatique, ni obligatoire. Pour pouvoir
									faire la demande de certificat d’immatriculation d’un véhicule de collection, vous devrez vous munir de la carte grise du véhicule, ou présenter une pièce qui prouve son origine, ainsi qu’une attestation présentant ses caractéristiques techniques
									établie par le constructeur ou la FFVE. Il est à noter que l’usage de collection est mentionné dans les rubriques z1 à z4b sur le certificat d’immatriculation.
								</p>

								<p class="col-10 mx-auto">Il faut aussi obtenir un contrôle technique préalable favorable à l’établissement d‘un certificat d’immatriculation collection. Le véhicule doit également être soumis au contrôle technique tous les cinq ans. Un véhicule de
									collection peut circuler en France et dans tous les pays mentionnés sur la carte verte de l’assurance.
								</p>

								<p class="col-10 mx-auto">Comme pour les autres démarches d’immatriculation de véhicules en ligne, vous devrez remplir un formulaire, le Cerfa 13750. Vous devez aussi fournir l’ancienne carte grise, une attestation du constructeur ou de la FFVE, un
									justificatif de domicile, une pièce d’identité, une preuve d’un contrôle technique en cours de validité ainsi qu’un chèque de règlement de la carte grise.
								</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal" id="Qu-est-ce-qu-un-Certificat-provisoire-d-immatriculation">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal body -->
					<div class="modal-body">
						<div id="a-quoi-sert-le-certificat-d" class="row commander">
							<div class="row  search">
								<h2>
									Qu’est-ce qu’un Certificat provisoire d’immatriculation ?</h2>
								<p class="col-10 mx-auto">Comme son nom l’indique, un certificat provisoire d’immatriculation (CPI) est une carte grise provisoire permettant d’identifier le véhicule, mais aussi de circuler sur la voie publique.
								</p>

								<p class="col-10 mx-auto">Tout comme le certificat d’immatriculation, le CPI n’est pas un titre de propriété, bien qu’il soit établi au nom du propriétaire du véhicule. Comme pour le certificat d’immatriculation, on trouve également les informations
									suivantes dans le CPI : le numéro d’immatriculation, l’identité du propriétaire, les caractéristiques du véhicule ainsi que la date de la première immatriculation. Il permet uniquement de circuler en France, en attendant de recevoir le certificat
									d’immatriculation définitif.
								</p>

								<p class="col-10 mx-auto">De ce fait, vous ne pourrez pas circuler à l’étranger avec un CPI. En somme, que le véhicule soit neuf ou d’occasion, le certificat d’immatriculation provisoire est remis à son acquéreur, en attendant la réception de la
									carte grise définitive à son domicile.
								</p>

								<p class="col-10 mx-auto">On peut demander un CPI lors d’un changement d’adresse exigeant l’émission d’un nouveau certificat d’immatriculation, d’une demande du duplicata du certificat d’immatriculation ou encore d’une demande d’un nouveau certificat
									d’immatriculation en cas d’erreur ou d’usurpation de plaques.
								</p>

								<p class="col-10 mx-auto">En revanche, on ne peut pas demander un CPI pour l’immatriculation d’une voiture importée. Si votre CPI est expiré (il n’est valide que pour une durée d’un mois), et que vous n’avez pas encore reçu votre carte grise
									définitive, vous risquez d’avoir une amende en cas de contrôle routier. Avec la mise en place du SIV, le certificat d’immatriculation est envoyé à votre domicile sous pli sécurisé. Vous ne pourrez plus vous rendre en préfecture mais les demandes en
									ligne sur le site
									<a href="www.cgofficiel.fr">
										www.cgofficiel.fr</a>
									simplifieront vos démarches.
								</p>

							</div>

						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
