<footer id="footer">
	<div class="container text-center">
		<ul class="menu-footer">
			<li><a href="{{ path('Accueil') }}">Accueil</a></li>
			<li><a href="{{ path('actus') }}">Actualités</a></li>
			<li><a href="{{ path('contact') }}">Contact</a></li>
		</ul>
		<div class="copyright">@2020 - Tout droit réservé</div>
	</div>
</footer>