<div class="row search col-12">
	<div class="col-12 search-titre mt-5">
		<h2>Calculez le prix de votre
			<br>certificat d'immatriculation</h2>
	</div>

	<div class="col-12 search-titre">
<p class="col-8 mx-auto text-center text-uppercase">
Saisissez votre plaque d'immatriculation ainsi que votre département afin de pouvoir calculer une estimation du prix de votre carte grise.
</p>
	</div>

	<div id="Changement-de-titulaire" class="col-12">
		<div class="search">

			<form method="POST" id="formecgauto">
				<div class="col-12 mx-auto search-box bg-dark">
					<div class="row col-12 mx-auto input-group ">
						<label for="Immatriculation" class="col-12 search-box--titre">Numero d'Immatriculation</label>
						<input
							class="col-10 col-md-8 col-lg-4 col-xl-3 mx-auto form-control search-form"
							onkeyup="this.value = this.value.toUpperCase();"
							placeholder="AB-123-CD ou 1234 AB 56 "
							pattern="[0-9]{1,4} [A-Z]{1,4} [0-9]{1,2}|[A-Z]{1,2}-[0-9]{1,3}-[A-Z]{1,2}"
							name="Immatriculation"
							id="Immatriculation">
					</div>
				</div>
				<div class="col-12 mx-auto search-box mt-5">
					<div class="row col-12 mx-auto input-group ">
						<label for="Departement" class="col-12 search-box--titre">Departement d'immatriculation</label>
						<input type="text" class="col-10 col-md-8 col-lg-4 col-xl-3 mx-auto search-form" name="Departement" id="Departement" pattern="[0-9,A-B]{2,3}" maxlength="3" minlength="2">
					</div>
				</div>
				<div class="col-12 col-md-6 mx-auto text-center search-box">
					<button type="submit" class="btn btn-primary btn-sm mx-auto">COMMANDER</button>
				</div>

			</form>

			<div id="resultecg"></div>

		</div>
	</div>

	<div id="resultecg"></div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    $('#formecgauto').submit(function( event ) {

            event.preventDefault();
            $('#loader').show();
            dataseri = $(this).serialize();
            $.ajax({
                url: "incphp/submitECGAUTO.php",
                type: "POST",
                async: false,
                timeout: 3000,
                cache: false,
                data: dataseri,
                success: function (data) {
                    $('#loader').hide();
                    $("#resultecg").html(data);
                }
            });
        });
    </script>

