<div class="col-12 row accordion-content--gection-fichier---box mt-3 mb-3">
	<div class="col-12 col-lg-4 text-center py-3 accordion-content--gection-fichier---box----case">
		<p class="col-10 text-left mx-auto">Original de la DÉCLARATION DE CESSION D'UN VÉHICULE ou Original de la FACTURE D'ACHAT</p>
	</div>

	<div class="col-3 col-lg-2 text-center d-flex flex-row align-items-center my-flex-container justify-content-center accordion-content--gection-fichier---box----case row accordion-content--gection-fichier---box----case-manque">
		<div class="col-12">
			<p class="col-12 pb-0 text-capitalize accordion-content--gection-fichier---box----case-----span">Nécessaire : </p>
			<p class="col-12 pb-0">Non</p>
		</div>
	</div>

	<div class="col-3 col-lg-2 text-center d-flex flex-row align-items-center my-flex-container justify-content-center accordion-content--gection-fichier---box----case row accordion-content--gection-fichier---box----case-valide">
		<div class="col-12">
			<p class="col-12 pb-0 text-capitalize accordion-content--gection-fichier---box----case-----span">Envoyé : </p>
			<p class="col-12 pb-0">oui</p>
		</div>
	</div>

	<div class="col-3 col-lg-2 text-center d-flex flex-row align-items-center my-flex-container justify-content-center accordion-content--gection-fichier---box----case row accordion-content--gection-fichier---box----case-encours">
		<div class="col-12">
			<p class="col-12 pb-0 text-capitalize accordion-content--gection-fichier---box----case-----span">Validé : </p>
			<p class="col-12 pb-0">En cours</p>
		</div>
	</div>

	<div class="col-3 col-lg-2 text-center d-flex flex-row align-items-center my-flex-container justify-content-center accordion-content--gection-fichier---box----case row">
		<div class="col-12">
			<p class="col-12 pb-0 text-capitalize accordion-content--gection-fichier---box----case-----span">Fichier : </p>
			<p>
				<div class="col-8 mx-auto dropdown">
					<button class="btn btn-secondary dropdown-toggle text-uppercase" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-2x fa-cloud-upload-alt"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Uploader</a>
						<a class="dropdown-item" href="#">Remplacer</a>
						<a class="dropdown-item" href="#">Besoin d'aide</a>
					</div>
				</div>
			</p>
		</div>
	</div>
</div>
