<div class="block_CCM">
	<div class="container">
		<div class="row reverse-col_">
			<div class="col-lg-7 pr-md-5">
				<h3 class="home-secondview--titre">Les démarches et conseils <br/>pour Certificat d'immatriculation</h3>
				<div class="comment-ca-marche-texte">
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon titulaire"></i></span>
								<span class="menu-commander--button---text">Changement de nom / titulaire</span>
							</button>
							<div class="toggle-content col-12" style="display: none;">
								<div id="Changement-de-titulaire" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section---description mt-3">
											<p>Pour l’achat d’un véhicule, neuf ou d’occasion acheté en France, le nouvel acquéreur dispose d’un délai d’un mois suivant la date de l’achat, pour établir un certificat d'immatriculation (carte grise). Cependant, l’enregistrement de la cession doit être effectué dans les 15 jours qui suivent l’achat.</p>
											<p>Pour
												<span class="bold">simplifier votre démarche</span> et disposer de votre certificat d’immatriculation en 24 heures, rendez-vous sur www.cgofficiel.fr, un professionnel de l’automobile habilité et agréé par le ministère de l’intérieur
												<span class="bcgyellow">(n° 222442)</span>. Veuillez vous assurer
												<span class="bold">que votre dossier est bien complet</span> en vous référant à la liste des documents nécessaires.
											</p>
											<p>Concernant les véhicules achetés à l’étranger, neuf ou d’occasion, <span class="bold">la demande du certificat d’immatriculation</span> peut se faire à la préfecture ou à la sous-préfecture, ou auprès de professionnels sous tutelle d’une préfecture. Ces derniers devront se déplacer au niveau des guichets préfectoraux pour finaliser le dossier.</p>
											<p>Des documents supplémentaires sont à fournir pour les véhicules étrangers : l’original du certificat d’immatriculation étranger et sa photocopie, le justificatif de vente, le certificat de conformité, la déclaration de douane 846A pour les véhicules hors Union Européenne, le quitus fiscal ainsi qu’un contrôle technique français de moins de 6 mois.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- CH titulaire -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon immatricul"></i></span>
								<span class="menu-commander--button---text">Immatriculation d'un véhicule neuf</span>
							</button>
							<div class="col-12 toggle-content" style="display: none;">
								<div id="changement-de-domicile" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section">
											<div class="commander-box--section---description mt-3">
												<p>Pour l’achat d’un véhicule, neuf ou d’occasion acheté en France, le nouvel acquéreur dispose d’un délai d’un mois suivant la date de l’achat, pour établir un certificat d'immatriculation (carte grise). Cependant, l’enregistrement de la cession doit être effectué dans les 15 jours qui suivent l’achat.</p>
												<p>Pour
													<span class="bold">simplifier votre démarche</span> et disposer de votre certificat d’immatriculation en 24 heures, rendez-vous sur www.cgofficiel.fr, un professionnel de l’automobile habilité et agréé par le ministère de l’intérieur
													<span class="bcgyellow">(n° 222442)</span>. Veuillez vous assurer
													<span class="bold">que votre dossier est bien complet</span> en vous référant à la liste des documents nécessaires.
												</p>
												<p>Concernant les véhicules achetés à l’étranger, neuf ou d’occasion, <span class="bold">la demande du certificat d’immatriculation</span> peut se faire à la préfecture ou à la sous-préfecture, ou auprès de professionnels sous tutelle d’une préfecture. Ces derniers devront se déplacer au niveau des guichets préfectoraux pour finaliser le dossier.</p>
												<p>Des documents supplémentaires sont à fournir pour les véhicules étrangers : l’original du certificat d’immatriculation étranger et sa photocopie, le justificatif de vente, le certificat de conformité, la déclaration de douane 846A pour les véhicules hors Union Européenne, le quitus fiscal ainsi qu’un contrôle technique français de moins de 6 mois.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- CH titulaire -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon domicile"></i></span>
								<span class="menu-commander--button---text">Changement de domicile</span>
							</button>
							<div class="col-12 toggle-content">
								<div id="changement-de-domicile" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section">
											<div class="commander-box--section---description mt-3">
												<p><span class="bold">Changer d’adresse</span> sur son certificat d’immatriculation implique de <span class="bold">nombreuses démarches administratives</span> même si vous changez simplement de nom ou de numéro de rue. L’article R322-7 du Code de la Route stipule que le propriétaire d’<span class="bold">un véhicule dispose d’un mois pour mettre à jour sa carte grise</span> en cas de changement de domicile. Le cas échéant, vous pouvez encourir une contravention de 4ème classe.</p>
												<p>Plusieurs moyens sont à votre disposition pour procéder au changement d’adresse, soit via les services de CG officiel, soit au niveau d’un garage agréé, soit en ligne sur le site de l’ANTS (Agence Nationale des Titres Sécurisés)..</p>
												<p>Vous aurez à fournir des documents tels qu’une copie de l’ancienne carte grise, les pièces justificatives d’identité et de domicile ainsi qu’un formulaire de demande de changement d’adresse CERFA N°13750*05 dûment rempli.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Ch domicile -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon duplicata"></i></span>
								<span class="menu-commander--button---text">Demande de duplicata</span>
							</button>
							<div class="col-12 toggle-content" style="display: none;">
								<div id="Changement-de-titulaire" class="row commander">
									<div class="commander-box">
										<div class="ommander-box--section">
											<div class="commander-box--section---description mt-3">
												<p>Il est possible d’effectuer une demande de duplicata en cas de vol, de perte de carte grise, ou de dégradation (ce qui signifie que les informations inscrites sur le document sont peu lisibles ou illisibles). Vous disposez d’un délai d’un mois soit 30 jours pour le faire, sinon vous vous exposez à une amende de 4ème classe.</p>
												<p>Un formulaire CERFA N°13753*01 de déclaration devra être <span class="bold">rempli en cas de vol ou de perte</span> en plus de l’imprimé CERFA N°13750*05. Toutefois, une déclaration de vol doit être faite auprès du commissariat de police ou auprès de la gendarmerie du lieu où l’infraction à été constatée. La demande de duplicata peut être faite en ligne auprès de l'ANTS (Agence Nationale des Titres Sécurisés).</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Duplicata -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon status_m"></i></span>
								<span class="menu-commander--button---text">Changement de statut matrimonial</span>
							</button>
							<div class="col-12 toggle-content" style="display: none;">
								<div id="Changement-de-titulaire" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section">
											<div class="commander-box--section---description mt-3">
												<p>Vous êtes dans l’obligation de <span class="bold">signaler auprès de la préfecture tout changement d’état civil</span>, d’état matrimonial ou de raison sociale afin de mettre à jour votre certificat d’immatriculation. Sachez que les formalités en cas de changement d’état matrimonial (mariage, veuvage ou divorce) sont gratuites, contrairement aux démarches de changement de raison sociale et d’état civil qui sont payantes.</p>
												<ol>
													<li>Pour un mariage,
														<span class="bold">un livret de famille</span> ou un
														<span class="bold">acte de mariage</span> sont nécessaires. Toutefois, la démarche n’est valable que lorsque le véhicule est acquis avant le mariage.</li>
													<li>Pour les véhicules acquis après le mariage, des taxes sont fixées.</li>
													<li>Trois possibilités sont offertes dans le cas d’un mariage : vous pouvez faire apparaître un seul nom à la place des deux conjoints ou mentionner seulement le nom d’usage ou l’association des deux noms.</li>
													<li>Dans le cas d’un divorce, vous devrez fournir un <span class="bold">jugement de divorce</span> ou une copie conforme certifiée pour permettre d’identifier le propriétaire du véhicule. En cas de divorce, on peut également supprimer le nom d’usage ou alors immatriculer le véhicule au nom du conjoint bénéficiaire.</li>
													<li>Si vous avez hérité du véhicule, vous devez fournir une <span class="bold">attestation du notaire</span> ou un <span class="bold">certificat d’hérédité</span> ou un <span class="bold">certificat de propriété</span> donné par un juge d’instance pour immatriculer le véhicule à votre nom. Vous disposez d’un délai de 6 mois après le décès du propriétaire pour effectuer cette démarche.</li>
												</ol>
												<p><u>Bon à savoir</u> : <span class="bold">Le PACS n’est pas considéré comme un changement d’état matrimonial</span>, mais juste comme un régime de multipropriété.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Ch status M -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon justificatif_d"></i></span>
								<span class="menu-commander--button---text">Justificatifs de domicile</span>
							</button>
							<div class="col-12 toggle-content">
								<div id="justificatifs-de-domicile" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section">
											<div class="commander-box--section---description mt-3">
												<p>Le justificatif de domicile est un document essentiel un dossier de <span class="bold">demande du certificat d’immatriculation</span>. Néanmoins, tous les justificatifs de domicile ne sont pas acceptés pour effectuer votre demande, seuls les documents de moins de 6 mois sont valides :</p>
												<ol>
													<li>Quittance de loyer éditée par une agence immatriculée au RCS</li>
													<li>Dernier avis d'imposition ou de non imposition</li>
													<li>Quittance de gaz</li>
													<li>Quittance d'électricité</li>
													<li>Facture de téléphone fixe ou portable</li>
													<li>Attestation d'un fournisseur d'énergie (EDF, Engie, ...)</li>
													<li>Facture d'un fournisseur d'accès à Internet</li>
													<li>Attestation d'assurance habitation</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Justificatif -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon mise_cass"></i></span>
								<span class="menu-commander--button---text">Mise à la casse</span>
							</button>
							<div class="col-12 toggle-content">
								<div id="mise-a-la-casse" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section">
											<div class="commander-box--section---description mt-3">
												<p>Si vous voulez envoyer votre véhicule à la casse, il vous faudra remplir un <span class="bold">certificat de cession pour destruction</span>. Un véhicule ne peut être détruit que par un professionnel agréé, sinon vous vous exposez à des sanctions pénales. Cependant, il peut être vendu ou cédé gratuitement à ce dernier.</p>
												<p>En plus du certificat de cession pour destruction, <span class="bold">la carte grise doit être remise au professionnel</span> agréé avec mention « vendu/ cédé le – date de mutation – pour destruction » paraphée par une signature. Si la carte grise date d’avant juin 2004, le coupon dûment rempli de la carte doit être envoyé à la préfecture dans un délai de 15 jours et la partie restante revient au professionnel de démolition.</p>
												<p>Le professionnel agréé doit remettre un récépissé de prise en charge pour <span class="bold">destruction du véhicule au propriétaire</span> et à la préfecture (accompagné du certificat d’immatriculation pour la préfecture). L’immatriculation du véhicule n’est annulée qu’après <span class="bold">la remise du certificat de destruction par le professionnel agréé.</span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Mise a la casse -->
					<div class="accordeon_">
						<div class="row">
							<button type="button" class="col-12 menu-commander">
								<span class="menu-commander--button---icon"><i class="ccm-icon lire_cG"></i></span>
								<span class="menu-commander--button---text">Savoir lire une carte grise</span>
							</button>
							<div class="col-12 toggle-content" style="display: none;">
								<div id="slucg" class="row commander">
									<div class="commander-box">
										<div class="commander-box--section">
											<div class="commander-box--section---description mt-3">
												<p>Afin de calculer le tarif légal de votre carte grise et de bien remplir les formulaires Cerfa de votre demande de certificat d'immatriculation, merci de lire les explications sur les détails des champs et données de votre carte grise.</p>
												<p>Dès que votre commande est passée sur www.cgofficiel.fr (paiement en ligne sécurisé), vous devez nous faire parvenir (envoi par courrier suivi de préférence) les éléments constitutifs de votre dossier afin que nous traitions votre demande le plus rapidement possible.</p>
												<p>LES DOCUMENTS QUE VOUS NOUS RETOURNEZ POUR TRAITER VOTRE DOSSIER SONT LES MÊMES QUE CEUX DEMANDÉS EN PRÉFECTURE.</p>
												<p>TOUT DOSSIER INCOMPLET NE POURRA PAS ÊTRE TRAITÉ DANS LE DÉLAI DE 24H.</p>
												<p>AFIN DE CIRCULER LIBREMENT, GARDEZ EN VOTRE POSSESSION UNE COPIE DE TOUS LES DOCUMENTS ENVOYÉS.</p>
												<div class="row">
													<div class="col-sm-12 col-md-4 col-lg-3 vos-demarches--img">
														<img class="rounded mx-auto d-block img-fluid" src="asset/img/carte-grise-specimen.jpg" alt="">
														<br>
													</div>
													<div class="col-12 col-md-8 col-lg-9 vos-demarches--texte">
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">A</div>
															<div class="vos-demarches--texte---description">Numéro d'Immatriculation.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">B</div>
															<div class="vos-demarches--texte---description">Date de la première mise en circulation du véhicule.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">C.1</div>
															<div class="vos-demarches--texte---description">Nom, Prénom du Titulaire de la Carte Grise.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">C.4a</div>
															<div class="vos-demarches--texte---description">Mention précisant si le Titulaire est le propriétaire du véhicule.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">C.4.1</div>
															<div class="vos-demarches--texte---description">Champ réservé au(x) Co-Titulaire(s) dans le cas d'une Multi-Propriété du véhicule.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">C.3</div>
															<div class="vos-demarches--texte---description">Adresse de résidence du Titulaire dans l'État membre du Titutlaire au moment de l'Immatriculation. Changement d'Adresse</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">D.1</div>
															<div class="vos-demarches--texte---description">Marque du véhicule.</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 vos-demarches--texte">
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">D.2</div>
															<div class="vos-demarches--texte---description">Type du véhicule.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">D.2.1</div>
															<div class="vos-demarches--texte---description">Code d'identification national du Type (En réception CE).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">D.3</div>
															<div class="vos-demarches--texte---description">Modèle du véhicule (Dénomination commerciale).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">F.1</div>
															<div class="vos-demarches--texte---description">Masse en charge maximale techniquement admissible en Kg (sauf motocycles).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">F.2</div>
															<div class="vos-demarches--texte---description">Masse en charge maximale admissible du véhicule en service en Kg.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">F.2</div>
															<div class="vos-demarches--texte---description">Masse en charge maximale admissible de l'ensemble en service en Kg.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">G</div>
															<div class="vos-demarches--texte---description">Masse du véhicule en service avec carrosserie et dispositif d'attelage.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">G.1</div>
															<div class="vos-demarches--texte---description">Poids à vide national en Kg.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">J</div>
															<div class="vos-demarches--texte---description">Catégorie du véhicule CE.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">J.1</div>
															<div class="vos-demarches--texte---description">Genre National.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">J.2</div>
															<div>Carrosserie CE.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">J.3</div>
															<div class="vos-demarches--texte---description">Carrosserie : Désignation Nationale.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">K</div>
															<div class="vos-demarches--texte---description">Numéro de réception par type (si disponible).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">P.1</div>
															<div class="vos-demarches--texte---description">Cylindrée en cm3.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">P.2</div>
															<div class="vos-demarches--texte---description">Puissance nette maximale en Kw (1 cheval DIN = 0,736 Kw).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">P.3</div>
															<div class="vos-demarches--texte---description">Type de carburant (source d'énergie).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">P.6</div>
															<div class="vos-demarches--texte---description">Puissance administrative nationale (Chevaux Fiscaux). Calcul de la Puissance Fiscale</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Q</div>
															<div class="vos-demarches--texte---description">Rapport puissance/masse (Motocycles)</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">S.1</div>
															<div class="vos-demarches--texte---description">Nombre de places assises y compris le conducteur.</div>
														</div>
													</div>
													<div class="col-12 vos-demarches--texte">
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">S.2</div>
															<div class="vos-demarches--texte---description">Nombre de places debout (Le cas échéant).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">U.1</div>
															<div class="vos-demarches--texte---description">Niveau sonore à l'arrêt en dBa.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">U.2</div>
															<div class="vos-demarches--texte---description">Vitesse du moteur (en min-1).</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">V.7</div>
															<div class="vos-demarches--texte---description">Émission CO2 en Gr/km.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">V.9</div>
															<div class="vos-demarches--texte---description">Classe environnementale.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">X.1</div>
															<div class="vos-demarches--texte---description">Date pour la visite du Contrôle Technique.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Y.1</div>
															<div class="vos-demarches--texte---description">Montant de la Taxe Régionale calculée en fonction du nombre de Chevaux Fiscaux et en fonction du Prix du Cheval Fiscal dans votre Région. Tarif Carte Grise par Région</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Y.2</div>
															<div class="vos-demarches--texte---description">Montant de la Taxe pour le développement des actions de formation professionnelle dans les transports. Taxe sur les Véhicules de Société</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Y.3</div>
															<div class="vos-demarches--texte---description">Montant de la Taxe CO2 ou Ecotaxe. Taxe CO2 et Ecotaxe</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Y.4</div>
															<div class="vos-demarches--texte---description">Montant de la Taxe de Gestion Administrative.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Y.5</div>
															<div class="vos-demarches--texte---description">Montant de la redevance pour l'acheminement du Certificat d'Immatriculation.</div>
														</div>
														<div class="demarche--block">
															<div class="vos-demarches--texte---titre">Y.6</div>
															<div class="vos-demarches--texte---description">Montant Total des Taxes et de la redevance (Prix de la Carte Grise).</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- slucg -->
				</div>
				<div class="row comment-ca-marche-texte-p">
					<ul class="col-lg-10">
						<li><strong>Les documents que vous nous retournez pour traiter votre dossier sont les mêmes que ceux demandés en préfecture.</strong></li>
						<li><strong>Tout dossier incomplet ne pourra pas être traité dans le délai de 24h. Afin de circuler librement, gardez avec vous une copie de tous les documents envoyés.</strong></li>
						<li>Tout dossier imposant un déplacement en préfecture sera majoré de 10 € <br/><em>(changement de titulaire sans carte grise et avec déclaration de perte; transformation du véhicule; véhicule de collection).</em></li>
						<li>De même, des frais de traitement supplémentaires de 10 € pourront vous être demandés si votre dossier est incomplet. Celui-ci sera alors archivé chez nous dans l'attente de recevoir les éléments manquants ou incomplets.</li>
					</ul>
				</div>
			</div>
			<!-- Demarche formulaire /Iary  -->
			<div class="col-lg-5">
				<div id="aside_right" class="aside_right">
					<div class="sectionTop_">
						<div class="form_demarche">
							<div class="demarche_block">
								{% include "home/composant/formSidebar.html.twig" %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Demarche formulaire /Iary  -->
		</div>
	</div>
</div>


{% block javascripts %} 
<script src="{{ asset('Utils/js/jquery.js')}}" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(".menu-commander").on("click", function() {
		if ($(this).hasClass("active")) {
		$(this).removeClass("active");
		$(this)
			.siblings(".toggle-content")
			.slideUp(200);
		} else {
		$(".menu-commander").removeClass("active");
		$(this).addClass("active");
		$(".toggle-content").slideUp(200);
		$(this)
			.siblings(".toggle-content")
			.slideDown(200);
		}
	});
</script>
{% endblock %}