<div class="new-header d-flex justify-content-center align-items-center">
	<div class="text-center title-header">
		<h1>Commandez votre certificat d'immatriculation</h1>
	</div>
</div>
{# <nav class="row col-12 menu">
<ul class="row col-12">
	<a href="{{ path('Accueil') }}" class="col-4 col-sm-4 menu-item">
		<li>
			<div class="col-12 menu-item--line menu-item--line---first "></div>
			<h6>Accueil
				<span class="menu-item--line---span">Commander votre carte grise</span></h6>
		</li>
	</a>
	<a href="{{ path('CommentCaMarche') }}" class="col-4 col-sm-4 menu-item">
		<li>
			<div class="col-12 menu-item--linemenu-item--line---second"></div>
			<h6>Comment ça marche ?
				<span class="menu-item--line---span">Tout ce qu'il faut savoir</span></h6>
		</li>
	</a>
	<a href="http://blog.cgofficiel.fr" class="col-4 col-sm-4 menu-item">
		<li>
			<div class="col-12 menu-item--line menu-item--line---third"></div>
			<h6>actualités
				<span class="menu-item--line---span">Notre blog</span></h6>
		</li>
	</a>
</ul>
</nav> #}
