{% extends 'base.html.twig' %}


{% block page_content %}
 <div class="col-md-12 col-lg-7 mx-auto d-flex error-flex">
    <div class="error-container w-90">
        <p class="desc-error">
            Cette fonctionnalité arrivera bientôt !
        </p>
        <a class="btn btn-primary" href="{{ path('Accueil') }}">Retour à l'acceuil</a>
    </div>
</div>
{% endblock %}