{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block page_content %}
<div class="text-center">
    <h1>URL malformée</h1>
    <p>
        Le lien que vous avez entré ne semble pas être un lien CGOfficiel <br>valide. Si quelqu'un vous l'a transmis, nous vous conseillons de lui<br> demander de vérifier son exactitude.
        <br><br>
        {% if app.user %}
        Votre compte n'est pas {{ app.user.email }}? <a href="{{ path('login') }}">Changer de compte</a>.
        {% else %}
        <a class="btn btn-outline-info btn-lg" href="{{ path('Accueil') }}">Retour à l'Accueil</a>.
        {% endif %}
    </p>
</div>
{% endblock %}