{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.commande is defined and object.commande is not null %}
        {% if object.commande.client is defined and object.commande.client is not null %}
            <a class="view_link" href="{{ admin.generateObjectUrl('ficheClient', object.commande.client) }}" title="ficheClient">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{object.commande.client.clientNom}}
            </a>
        {% endif %}
    {% elseif object.demande is defined and object.demande is not null %}
        {% if object.demande.commande.client is defined and object.demande.commande.client is not null %}
            <a class="view_link" href="{{ admin.generateObjectUrl('ficheClient', object.demande.commande.client) }}" title="ficheClient">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{object.demande.commande.client.clientNom}}
            </a>
        {% endif %}
    {% else %}
    /
    {% endif %}
{% endblock %}