
<h3 class="title-client mb-4">ESPACE CLIENT</h3>
<div class="nav-client">
    <ul class="row text-center align-items-center">
        <li class="col-md-3"><a href="{{ path('espace_client') }}" class="nav-client-item home-item"><i class="icomoon icon-home"></i></a></li>
        <li class="col-md-3"><a href="{{ path('demande_history') }}" class="nav-client-item">Historique</a></li>
        <li class="col-md-3"><a href="{{ path('email_history') }}" class="nav-client-item">Mails réçus</a></li>
        <li class="col-md-3"><a href="{{ path('compte') }}" class="nav-client-item">Mes infos</a></li>
    </ul>
</div>