{% extends 'base.html.twig' %}

{% block title %}Paiement {% endblock %}

{% block page_content %}
    <div>
        {{ render(controller('App\\Controller\\PaymentController::request', {'demande': demande})) }}
    </div>
{% endblock %}
