{% extends "email_base.html.twig" %}
{% block body %}

        <td class="bodyEmail" bgcolor="#ffffff">
            <br>
            <br>
            <br>
            <br>
            Bonjour {{ demande.commande.client|displayRelanceInfos }}
            <br>
            <br>
            <p>Vos documents ont bien été reçus et validés. Vous recevrez votre carte grise d'ici peu.</p>
            <p>Notre service client reste à votre disposition pour toutes questions au numéro gratuit suivant : 09 77 42 31 30.</p>

            <p>L'équipe <a href="https://www.cgofficiel.fr" target="_blank">CG Officiel</a> vous remercie.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 0 10px 0 10px;" class="bodyEmail" bgcolor="#ffffff">
        <br>
            <img src="https://www.cgofficiel.fr/asset/img/0977423130.png" alt="" border="0" style="max-width: 300px;background:fff" />
        <br>
        <br>
        <br>
        </td>
    </tr>
    <tr>
        <td class="footer" bgcolor="#03347e">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" class="footercopy">
                        Agrément du Trésor Public N° 55337 <br>Habilitation du Ministère de l'Interieur N° 222442
                    </td>
                </tr>
                <tr>
                    <td align="center" class="footercopy">
                        <br>
                        <br>
                        Ce mail est envoyé automatiquement, veuillez ne pas y répondre
                    </td>
                </tr>
            </table>
        </td>
{% endblock %}