<div class="homeslider">
	<div class="sliders">
		<div class="carouselImg" style="background-image:url('asset/img/imgSlider.jpg')"></div>
		{#<div class="carouselImg" style="background-image:url('asset/img/imgSlider1.jpg')"></div>#}
	</div>
	<div class="container">
		<div class="captionSldier">
			<div class="row align-items-end">
				<div class="col-md-4 col-lg-3 d-none d-md-block">
					<img src="asset/img/cartegrise_en_main.png" alt=""/>
				</div>
				<div class="col-md-8 col-lg-7">
					<h1>0btenez rapidement et facilement votre certificat d'immatriculation / carte grise</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="sectionTop">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="boxItem text-center">
					<img src="asset/img/livraison-rapide.svg" alt="Livraison rapide"/>
					<strong class="mb-3">Livraison rapide</strong>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an</span> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="boxItem text-center">
					<img src="asset/img/demarche-simple.svg" alt="Démarche simplifiée"/>
					<strong class="mb-3">Démarche simplifiée</strong>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an</span> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="boxItem text-center">
					<img src="asset/img/dossier-traiter-rapide.svg" alt="Dossier traité en 24H"/>
					<strong class="mb-3">Dossier traité en 24H</strong>
					<span>Économisez du temps et de l’argent sur vos frais de déplacement et stationnement.</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="sectionMiddle">
	<div class="d-md-flex">
		<div class="col-md-6 bgLeftImgMiddle p-0" style="background-image:url('asset/img/bgCertificatImm.jpg')">
			<div class="logoMiddle">
				<a href="#"><img src="asset/img/logo_CGO_transparent.png" alt=""/></a>
			</div>
		</div>
		<div class="col-md-6 p-0">
			<div class="d-sm-flex righToMiddle">
				<div class="col-md-6 bgImgMiddle" style="background-image:url('asset/img/bgImg1.jpg')">
					<div class="d-flex align-items-end">
						<div class="middleBox text-center">
							<img src="asset/img/demande-imm.svg" alt=""/>
							Effectuer une demande de certificat d’immatriculation (carte grise) en ligne
						</div>
					</div>
				</div>
				<div class="col-md-6 bgImgMiddle" style="background-image:url('asset/img/bgImg2.jpg')">
					<div class="d-flex align-items-end">
						<div class="middleBox text-center">
							<img src="asset/img/time24.svg" alt=""/>
							Tout dossier complet sera traité dans les 24 heures
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="BlockArticle">
	<div class="container">
		<div class="headingTitle text-center">
			<h2>Actualités</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,. </p>
		</div>
		<div class="ListArticle">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<article class="mt-5">
						<a href="/actus-detail-article">
							<span><img src="asset/img/imgArticle1.jpg" alt=""/></span>
							<h3>Lorem Ipsum is simply</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</a>
					</article>
				</div>
				<div class="col-lg-4 col-md-6">
					<article class="mt-5">
						<a href="/actus-detail-article">
							<span><img src="asset/img/imgArticle2.jpg" alt=""/></span>
							<h3>Lorem Ipsum is simply</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</a>
					</article>
				</div>
				<div class="col-lg-4 col-md-6">
					<article class="mt-5">
						<a href="/actus-detail-article">
							<span><img src="asset/img/imgArticle3.jpg" alt=""/></span>
							<h3>Lorem Ipsum is simply</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</a>
					</article>
				</div>
				<div class="col-lg-4 col-md-6">
					<article class="mt-5">
						<a href="/actus-detail-article">
							<span><img src="asset/img/imgArticle1.jpg" alt=""/></span>
							<h3>Lorem Ipsum is simply</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</a>
					</article>
				</div>
				<div class="col-lg-4 col-md-6">
					<article class="mt-5">
						<a href="/actus-detail-article">
							<span><img src="asset/img/imgArticle2.jpg" alt=""/></span>
							<h3>Lorem Ipsum is simply</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</a>
					</article>
				</div>
				<div class="col-lg-4 col-md-6">
					<article class="mt-5">
						<a href="/actus-detail-article">
							<span><img src="asset/img/imgArticle3.jpg" alt=""/></span>
							<h3>Lorem Ipsum is simply</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</a>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>