<div class="rp_dmd">
	<div class="container">
		<h2 class="home-secondview--titre">CONDITIONS GENERALES DE VENTE</h2>
		<hr class="border--light-2">
		<div class="page_CGV container-cgv">
			<h3>CG Officiel</h3>
			<hr class="border--light-2">
			<div>
				<p>
					Les présentes conditions générales de vente s’appliquent, sans restriction ni réserve à tout achat des services (« Les Services ») ou des produits (Les « Produits ») proposés par la société CG Officiel, immatriculée au registre du commerce et des sociétés de Toulouse sous le numéro R.C.S. TOULOUSE 838 972 917 ( « CG Officiel » ou « Le Prestataire ») à toute personne physique ou morale (« Le client » ou « Les clients ») sur son site Internet cgofficiel.fr.
				</p>

				<p>
					Les caractéristiques principales des Services et des Produits et notamment les spécifications, illustrations et indications de dimensions ou de capacité des Produits, sont présentées sur le site Internet cgofficiel.fr.
				</p>

				<p>
					La société CG Officiel est dûment agréée par le Trésor Public (agrément N° 55337) et habilitée par le Ministère de l'Intérieur (habilitation N° 222442).
				</p>

				<h3>1. Objet :</h3>

				<p>
					Les présentes Conditions Générales de Vente s'appliquent, sans restriction ni réserve à tout achat des Produits ou Services proposés par CG Officiel aux Clients par le biais du site marchand Cgofficiel.fr, que l'acheteur soit professionnel ou consommateur.
				</p>

				<p>
					Le Client déclare avoir pris connaissance des présentes Conditions Générales de Ventes et les avoir acceptées avant la conclusion du contrat. La validation de la commande de Services et/ou de Produits par le Client vaut acceptation sans restriction ni réserve des présentes Conditions Générales de Vente.
				</p>

				<p>
					Ces Conditions Générales de Vente pouvant faire l'objet de modifications ultérieures, la version applicable à l'achat du Client est celle en vigueur au jour de la conclusion du contrat, c'est-à-dire à la date de sa commande.
				</p>

				<p>
					Ces conditions de vente prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par la société CG Officiel.
				</p>

				<h3>
					2. Caractéristiques des biens et services proposés :</h3>

				<p>
					Les caractéristiques principales des Services et Produits, sont présentées sur le catalogue du Prestataire publié sur le site Cgofficiel.fr.
				</p>

				<p>
					Ces Services et Produits sont proposés dans la limite des stocks disponibles. Les images du catalogue relatives aux plaques immatriculation sont proposées à titre d’exemple.
				</p>

				<p>
					La société CG Officiel se réserve le droit de retirer tout Produit ou Service de son catalogue. Si des erreurs dans la commande (notamment dans les numéros de plaque) s'y sont introduites, la responsabilité de la société CG Officiel ne pourra en aucun cas être engagée.
				</p>

				<p>
					Les Prestations proposées par le site cgofficiel.fr relatives aux services de traitement des demandes de démarches d’immatriculation, se décomposent de la façon suivante :
				</p>

				<ul class="list">
					<li>Fourniture d’une liste de documents personnalisée, correspondant à la démarche d’immatriculation, au type de véhicule et à la situation du demandeur</li>
					<li>Fourniture de documents CERFA pré-remplis et personnalisés, correspondant à la démarche, au véhicule et au demandeur</li>
					<li>Contrôle de conformité du dossier de demande d’immatriculation</li>
					<li>Enregistrement des données dans le Système d’Immatriculation des Véhicules ou auprès de l’ANTS en fonction de la démarche</li>
					<li>Fourniture des accusés d’enregistrement ou documents provisoires dans l’attente de réception par le client de sa carte grise définitive directement depuis l’Imprimerie Nationale ou justificatif de blocage en cas d’impossibilité technique d’enregistrer la démarche dans le SIV</li>
				</ul>

				<h3>3. Tarifs :</h3>

				<p>
					Les Services et Produits proposés par le Prestataire sont fournis aux tarifs en vigueur sur le catalogue du site Cgofficiel.fr, lors de l'enregistrement de la commande par le Prestataire. Les prix sont exprimés en Euros et TTC tenant compte de la TVA applicable au jour de la commande; tout changement du taux pourra être répercuté sur le prix des produits ou des services.
				</p>

				<p>
					Ces tarifs sont fermes et non révisables pendant leur période de validité, telle qu'indiqué sur le catalogue tarif du Prestataire, celui-ci se réservant le droit, hors cette période de validité, de modifier les prix à tout moment.
				</p>

				<p>
					Ils comprennent les frais de traitement et de gestion de commandes, de transport et de livraison, pour autant qu’elles aient lieu dans les zones géographiques prévues ci-après, les taxes : régionale, CO2, parafiscale, SIV.
				</p>

				<p>
					Les Produits ou Services achetés sur Cgofficiel.fr doivent être réglés en euros en ligne. Les cartes bancaires acceptées par le système sécurisé Sherlock sont Carte bleue, Visa, Eurocard Mastercard. Il est également conforme aux réglementations des réseaux des cartes acceptées. Les marchandises livrées restent la propriété de la société CG Officiel jusqu'au paiement complet. Le transfert des risques s'opère dès la livraison de la marchandise.
				</p>

				<p>
					Les frais de prestation de services pour le traitement de demandes d’immatriculation facturés par le Prestataire sont les suivants :
				</p>
				<ul class="list">
					<li>Demande de changement de titulaire véhicule d’occasion : 28,98 € TTC</li>
					<li>Demande d’immatriculation d’un véhicule neuf : 28,98 € TTC</li>
					<li>Demande de changement d’adresse : 9,98 € TTC</li>
					<li>Demande de duplicata : 39,99 € TTC</li>
					<li>Déclaration de cession : 9,98 € TTC</li>
				</ul>
				<p>
					Les frais de prestation de services relatifs aux demandes de changement de titulaire pour les véhicules achetés en France ou à l’étranger (UE) sont calculés en fonction de la puissance du véhicule et donc du prix de la taxe régionale reversée au Trésor Public avec l'application du barème progressif suivant :
				</p>

				<ul class="list">
					<li>Total des taxes entre 0 et 100 € : pas de majoration</li>
					<li>Total des taxes entre 101 et 299 € : + 7 €</li>
					<li>Total des taxes entre 300 et 399 € : + 11 €</li>
					<li>Total des taxes entre 400 et 599 € : + 17 €</li>
					<li>Total des taxes entre 600 et 799 € : + 21 €</li>
					<li>Total des taxes entre 800 et 999 € : + 27 €</li>
					<li>Total des taxes entre 1000 et 1499 € : + 31 €</li>
					<li>Total des taxes supérieur à 1500 € : + 41 €</li>
				</ul>

				<h3>4. Localisation :</h3>

				<p>
					La vente en ligne des Produits et Services présentés dans le site Cgofficiel.fr est réservée aux acheteurs qui résident en France, dans les DOM ou à Monaco et pour des livraisons requises dans ces zones géographiques.
				</p>

				<h3>5. Commandes :</h3>

				<p>
					Afin de pouvoir passer commande pour l’achat d’un Service ou Produit proposé sur le site du Prestataire, le Client doit obligatoirement :
				</p>

				<ul class="list">
					<li>Remplir la fiche d'identification sur laquelle il indiquera toutes les coordonnées demandées </li>
					<li>Remplir le bon de commande en ligne en donnant toutes les références des produits ou services choisis;</li>
					<li>Valider sa commande après l'avoir vérifiée;</li>
					<li>Accepter les CGV et renoncer expressément à son droit de rétractation</li>
					<li>Effectuer le paiement dans les conditions prévues;</li>
					<li>Confirmer sa commande et son règlement.</li>
					<li>Envoyer par courrier postal et numériquement depuis l’espace client du site l’ensemble des documents nécessaires au traitement de sa commande</li>
				</ul>

				<p>
					La confirmation de la commande entraîne acceptation des présentes conditions de vente, la reconnaissance d'en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d'achat ou d'autres conditions.
				</p>

				<p>
					En passant commande sur le site Internet Cgofficiel.fr l’acheteur s’engage et certifie fournir des documents originaux non falsifiés et des copies conformes aux originaux. La société CG Officiel rappelle que l’Article 226-4-1 du Code Pénal punit de deux ans d'emprisonnement et de 20.000 euros d'amende l’usurpation d’identité. L’usage de faux est puni de dix ans d'emprisonnement et de 150 000 euros d'amende (Articles 441-1 à 441-6 du code pénal).
				</p>

				<p>
					L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. La confirmation vaudra signature et acceptation des opérations effectuées.
				</p>

				<p>
					La confirmation de l’enregistrement de la commande sera communiquée au Client par la société CG Officiel communiquera par courrier électronique.
				</p>

				<p>
					Dans l’hypothèse où il existerait avec un Client, un litige relatif au paiement d'une commande antérieure, le Prestataire se réserve le droit d'annuler ou de suspendre toute commande de ce Client jusqu’au terme du litige. En outre, le Prestataire se réserve le droit de ne pas enregistrer un paiement et ou de ne pas confirmer une commande pour quelque raison que ce soit, et notamment dans des cas de problèmes d'approvisionnement de produits, d’un problème concernant la commande reçue, ou d’un problème prévisible concernant la livraison à effectuer. Le Ministère de l’Intérieur fixe et met en place une procédure et une réglementation particulière et précise aux fins d’obtention d’une carte grise nécessitant la production obligatoire de documents originaux et de photocopies. A défaut de production de ces documents, le dossier ne peut aboutir.
				</p>

				<p>
					En cas de dossier reçu incomplet par le Prestataire de la part du Client, toute demande de production des éléments manquants formulée par le Prestataire et tout retour de documents au Client (certificat de cession original / etc.) sera réalisée par courrier suivi et facturé au tarif de 8,90€.
				</p>

				<p>
					Si le Client ne répond pas aux demandes du Prestataire en vue de compléter son dossier dans un délai d’un mois à compter de la première relance, le Prestataire sera en droit d’annuler la commande concernée et de retourner le dossier incomplet au Client. Si le client souhaite obtenir sa commande, il devra formuler une nouvelle demande et payer à nouveau les frais de traitement de dossier, dans le cas d’annulation le Prestataire lui remboursera la taxe fiscale.
				</p>

				<p>
					Passé ce délai d'un mois, la société CG Officiel procédera au remboursement de la taxe fiscale versée par le Client. Dans l’hypothèse où la commande comprenait un « package » carte grise avec plaques d’immatriculation, celle-ci sera également remboursée, ainsi que les frais d'envoi. Les frais de prestation de service de carte grise en ligne seront dus par le Client.
				</p>

				<p>
					Pour toutes anomalies rencontrées dans le système SIV lors de la saisie de la carte grise dans nos bureaux, entrainant un blocage dans le traitement de la commande, le dossier sera renvoyé au client dans son intégralité dans un délai maximum de 5 jours après réception du dossier dans les locaux du Prestataire, accompagné d’un justificatif du blocage. La taxe fiscale ainsi que les frais de gestion et d'acheminement seront remboursés au Client, les frais de prestation de traitement de carte grise seront conservés. A titre purement informatif, les anomalies les plus courantes sont : véhicule vendu à une tierce personne, véhicule gagé, véhicule nécessitant un 2ème rapport d’expertise (véhicule endommagé), amendes non payées, etc.
				</p>

				<h3>6. Mentions spéciales :</h3>

				<p>
					La société CG Officiel n’est en mesure de traiter que les démarches proposées sur son site internet, et notamment au niveau du calculateur.
				</p>

				<p>
					En cas de remboursement, des frais de gestion peuvent être appliqués.
				</p>
				
				<p>
					Ainsi, tout dossier transmis par un client et correspondant à une démarche non disponible sur le site internet sera renvoyé au client dans son intégralité dans un délai maximum de 14 jours ouvrables après réception du dossier dans les locaux du Prestataire. La taxe fiscale ainsi que les frais de gestion et d'acheminement seront remboursés au client, les frais de prestation de traitement de carte grise seront conservés.
				</p>

				<h3>7. Mandat à un professionnel :</h3>

				<p>
					Toute commande de certificat d’immatriculation passée sur le site par le Client autorise la société CG Officiel à effectuer en ses lieu et place et pour son compte les formalités administratives liées à l’opération d’immatriculation demandée lors de la commande.
				</p>

				<p>
					Cette autorisation est formalisée par la production du document CERFA N°13757*01 obligatoire pour tout dossier.
				</p>

				<h3>8. Rétractation :</h3>

				<p>
					Les acheteurs, personnes physiques non professionnelles, bénéficient d'un délai de 14 jours à compter de leur commande pour se rétracter. Pour ce faire, le Client souhaitant se rétracter devra le faire par le biais du formulaire de rétractation dûment rempli qui devra être, pour être pris en compte, adressé à l'adresse mentionnée sur le formulaire. Le Prestataire prend en charge les frais de retour des produits commandés. A défaut de mention contraire et expresse du Client souhaitant se rétracter, le remboursement sera effectué suivant le même mode de paiement que celui utilisé par ce dernier pour la passation de la commande et interviendra au plus tard dans les 14 jours à compter de la date à laquelle le Vendeur sera informé de la décision du Client de se rétracter.
				</p>

				<p>
					En application de l'article L.221-28 du Code de la Consommation, le droit de rétractation ne peut être exercé pour les contrats :
				</p>

				<ul class="list">
					<li>De fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation</li>
					<li>De fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés</li>
				</ul>

				<p>
					Conformément à l'article L.221-25 du Code de la Consommation, le Client-consommateur devra renoncer expressément à son droit de rétractation en application de l’article L.221-28 du Code de la Consommation, pour obtenir le service commandé et/ou le produit personnalisé commandé dans les meilleurs délais, avant la confirmation de sa commande afin de permettre au Prestataire de traiter la demande sans délais. Faute de renonciation expresse au droit de rétractation avant la commande, celle-ci ne deviendra ferme et définitive qu'après l'expiration du délai de rétractation.
				</p>

				<p>
					En cas de rétractation du client avant l’envoi des documents nécessaires au traitement du dossier, la commande sera annulée et le client sera remboursé des taxes fiscales suivant les conditions énoncées ci-dessus.
				</p>

				<p>
					En cas de rétractation du client après réception de son dossier par les services de la société CG Officiel, la commande sera annulée et le client sera remboursé des taxes fiscales déduites des frais de gestion et des frais de traitement de dossier.
				</p>

				<h3>9. Cas d’annulations et de remboursements hors rétractation :</h3>

				<p>
					En cas d’annulation d’une commande à la demande du client, au-delà du 14ème jour à compter de la passation de la commande, les frais équivalant au montant des prestations Carte Grise seront facturés par le Prestataire.
				</p>

				<p>
					En cas d’annulation d’une commande à la demande du client, au-delà d’un mois à compter de la passation de la commande et après relances personnalisées restées infructueuses, les frais de gestion équivalant au montant des prestations Carte Grise seront facturés par le Prestataire.
				</p>

				<p>
					Le remboursement (total ou partiel, en dehors de l'exercice du droit de rétractation) s'effectue dans un délai maximum de 14 jours ouvrables par CB ou, 30 jours ouvrables par chèque à l'ordre de la personne ou de la raison sociale stipulée dans les coordonnées de la facturation, à compter de la réception de la demande d'annulation ou du retour des marchandises.
				</p>

				<p>
					Tout remboursement de taxe suite à une erreur du client dans le calcul de la taxe régionale seront effectués dans un délai maximum de 14 jours ouvrables à compter du jour d'envoi de la carte grise provisoire (CPI) / accusé d'enregistrement (AE) par CB ou par chèque à l'ordre de la personne ou de la raison sociale stipulée dans les coordonnées de la facturation.
				</p>

				<p>
					Pour tout remboursement d’un trop perçu de taxe régionale, les frais de gestion seront appliqués aux tarifs suivants :
				</p>

				<ul class="list">
					<li>Des frais de gestion de 9,90€ seront appliqués pour tous remboursements de taxe compris entre 1,00€ et 100,00€</li>
					<li>Des frais de gestion de 19,90€ seront appliqués pour tous remboursements de taxe compris entre 100,01€ et 200,00€</li>
					<li>Des frais de gestion de 29,90€ seront appliqués pour tous remboursements de taxe à partir de 200,01€.</li>
				</ul>

				<p>
					Les éventuels frais de gestion générés par une annulation de commande ou un écart de taxe seront déduits des remboursements opérés par la société CG Officiel.
				</p>

				<h3>10. Modalités de paiement :</h3>

				<p>
					Le prix est exigible et payable comptant, en totalité au jour de la passation de la commande par le Client
				</p>

				<p>
					Si le Client en fait la demande, le Prestataire lui adressera une facture sur papier faisant ressortir le montant de la TVA. Tout retard de paiement entraînera l'application de l'article L 441-6 du code de commerce : une indemnité calculée sur la base de trois fois le taux de l'intérêt légal en vigueur ainsi qu'une indemnité forfaitaire pour frais de recouvrement de 40,00€.
				</p>

				<p>
					Le retard de paiement entraînera l'exigibilité immédiate de l'intégralité des sommes dues par le Client, sans préjudice de toute autre action que le Prestataire serait en droit d'intenter, à ce titre, à l'encontre du Client.
				</p>

				<h3>11. Service après-vente :</h3>

				<p>
					Pour toutes vos questions concernant le suivi de vos commandes, notre service après-vente (SAV) est joignable par téléphone au 09 77 42 31 30 du lundi au vendredi, de 9h30 à 12h30 et l’après-midi de 13h30 à 18h00. Pour tout autre demande qui ne correspond pas au service après-vente, nous vous invitons à nous contacter au 0897 010 800 (0,80€/min à partir d’un poste fixe) ou via le formulaire de contact.
				</p>

				<h3>12. Livraisons :</h3>

				<p>
					Les livraisons sont faites à l'adresse indiquée par le Client lors de la passation de sa commande sur le site internet du Prestataire qui ne peut être que dans la zone géographique convenue.
				</p>

				<p>
					Dès la validation de sa commande sur le site internet du Prestataire, le Client doit dans tous les cas, adresser l’intégralité des documents nécessaires au traitement de sa demande à l'adresse indiquée dans l’email de confirmation de commande. Il est rappelé qu'aucune commande ne sera traitée sans dossier complet et que la société CG Officiel ne saurait être responsable du délai de transmission de ces documents par le Client.
				</p>

				<h3>12.1. Réserves à la livraison :</h3>

				<p>
					Lors de la réception de sa commande, le Client s'engage à vérifier l'état général du colis. Si le colis est endommagé, le Client doit refuser la livraison et en informer dans les plus brefs délais la société CG Officiel qui se chargera de régler le litige auprès du transporteur et fera parvenir au Client (dès réception du produit défectueux) un nouveau produit en remplacement.
				</p>

				<p>
					A défaut de réserves ou réclamations expressément émises par le Client lors de la réception des produits, ceux-ci seront réputés conformes à la commande, en quantité et qualité.
				</p>

				<h3>12.2. Mode de livraison :</h3>

				<p>
					La société CG Officiel utilise les services colis de partenaires. Les colis sont livrés par le prestataire à l'adresse indiquée par le Client lors de la passation de sa commande. La société CG Officiel ne peut garantir une heure précise de livraison.
				</p>

				<p>
					Les Certificats d'Immatriculation sont, après traitement du dossier complet, édités par l'Imprimerie Nationale et envoyés en courrier recommandés au Client depuis les locaux de l'Imprimerie Nationale.
				</p>

				<h3>13. Garanties :</h3>

				<p>
					Les Produits vendus sur le site Internet cgofficiel.fr sont conformes à la réglementation en vigueur en France et ont des performances compatibles avec des usages non professionnels et professionnels.
				</p>

				<p>
					Les Produits fournis par le Vendeur bénéficient de plein droit et sans paiement complémentaire, indépendamment du droit de rétractation, conformément aux dispositions légales,
				</p>

				<ul class="list">
					<li>de la garantie légale de conformité, pour les Produits apparemment défectueux, abîmés ou endommagés ou ne correspondant pas à la commande,</li>
					<li>de la garantie légale contre les vices cachés provenant d'un défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l'utilisation,</li>
				</ul>

				<p>
					dans les conditions et selon les modalités définies aux présentes Conditions Générales de Vente.
				</p>

				<p>
					Il est rappelé que dans le cadre de la garantie légale de conformité, le Client
				</p>

				<ul class="list">
					<li>bénéficie d'un délai de deux ans à compter de la délivrance du bien pour agir à l'encontre du Vendeur ;</li>
					<li>peut choisir entre la réparation ou le remplacement du Produit commandé, sous réserve des conditions de coût prévues par l'article L 217-9 du Code de la consommation ;</li>
					<li>est dispensé de rapporter la preuve de l'existence du défaut de conformité du Produit durant les six mois suivant la délivrance du Produit.</li>
				</ul>

				<p>
					La garantie légale de conformité s'applique indépendamment de la garantie commerciale pouvant éventuellement couvrir le Produit.
				</p>

				<p>
					Le Client peut décider de mettre en œuvre la garantie contre les défauts cachés Produit conformément à l'article 1641 du Code Civil ; dans ce cas, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à 1644 du Code Civil.
				</p>

				<p>
					Afin de faire valoir ses droits, le Client devra informer le Vendeur, par écrit, de la non-conformité des Produits dans un délai maximum de 30 jours à compter de la livraison des Produits ou l'existence des vices cachés dans les délais ci-dessus visés et retourner ou rapporter en magasin les Produits défectueux dans l'état dans lequel ils ont été reçus avec l'ensemble des éléments (accessoires, emballage, notice...).
				</p>

				<p>
					Le Vendeur remboursera, remplacera ou fera réparer les Produits ou pièces sous garantie jugés non conformes ou défectueux. Les frais d'envoi seront remboursés sur la base du tarif facturé et les frais de retour seront remboursés sur présentation des justificatifs.
				</p>

				<p>
					Les remboursements des Produits jugés non conformes ou défectueux seront effectués dans les meilleurs délais et au plus tard dans les 14 jours jours suivant la constatation par le Vendeur du défaut de conformité ou du vice caché. Le remboursement s'effectuera par crédit sur le compte bancaire du Client ou par chèque bancaire adressé au Client.
				</p>

				<p>
					La responsabilité du Vendeur ne saurait toutefois être engagée dans les cas suivants :
				</p>

				<ul class="list">
					<li>non respect de la législation du pays dans lequel les produits sont livrés, qu'il appartient au Client de vérifier,</li>
					<li>en cas de mauvaise utilisation, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du Produit, d'accident ou de force majeure.</li>
				</ul>

				<p>
					La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des Produits non conformes ou affectés d'un vice.
				</p>

				<p>
					Cette garantie légale de conformité s'applique indépendamment de la garantie commerciale qui peut être accordée par le Vendeur pour certains produits.
				</p>

				<p>
					Toutes les réclamations, demandes d'échange ou de remboursement doivent s'effectuer par voie postale à l'adresse suivante : CG Officiel – 20 Impasse Camille Langlade 31100 Toulouse.
				</p>

				<h3>14. Responsabilité :</h3>

				<p>
					Le vendeur, dans le processus de vente en ligne, n'est tenu que par une obligation de moyen ; sa responsabilité ne pourra être engagée pour un dommage résultant de l'utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.
				</p>

				<h3>15. Propriété intellectuelle :</h3>

				<p>
					Tous les éléments du site marchand Cgofficiel.fr sont et restent la propriété intellectuelle et exclusive de CG Officiel.
				</p>

				<p>
					Personne n'est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient logiciels, visuels ou sonores.
				</p>

				<p>
					Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès de CG Officiel.
				</p>

				<h3>16. Données à caractère personnel :</h3>

				<p>
					En application de la loi 78-17 du 6 janvier 1978 modifiée par la loi n°2018-493 du 20 juin 2018, il est rappelé que les données nominatives demandées au Client sont nécessaires au traitement de sa commande et à l'établissement des factures, notamment. Ces données peuvent être communiquées aux éventuels partenaires du Vendeur chargés de l'exécution, du traitement, de la gestion et du paiement des commandes.
				</p>

				<p>
					Le traitement des informations communiquées par l'intermédiaire du site internet cgofficiel.fr répond aux exigences légales en matière de protection des données personnelles, le système d'information utilisé assurant une protection optimale de ces données.
				</p>

				<p>
					Le Client dispose, conformément aux réglementations nationales et européennes en vigueur d'un droit d'accès permanent, de modification, de rectification, d'opposition de portabilité et de limitation du traitement s'agissant des informations le concernant.
				</p>

				<p>
					Ce droit peut être exercé dans les conditions et selon les modalités définies sur le site internet cgofficiel.fr.
				</p>

				<h3>17. Stockage – Archivage :</h3>

				<p>
					La société CG Officiel archivera les bons de commandes et les factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l'article 1348 du Code civil.
				</p>

				<p>
					Les registres informatisés de la société CG Officiel seront considérés par les parties comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.
				</p>

				<h3>18. Règlement des litiges :</h3>

				<p>
					Les présentes conditions générales de vente en ligne doivent être exécutées et interprétées conformément au droit français.
				</p>

				<p>
					En cas de réclamation, le client s’adressera par priorité à la société CG Officiel pour obtenir une solution amiable à l'adresse suivante : CG Officiel – 20 Impasse Camille Langlade 31100 Toulouse.
				</p>

				<p>
					En cas d'échec de la demande de réclamation auprès du Vendeur ou en l'absence de réponse de ce dernier, le consommateur peut soumettre le différend relatif au bon de commande, ou aux présentes CGV l'opposant au vendeur professionnel à un médiateur qui tentera, en toute indépendance et impartialité, de rapprocher les parties en vue d'aboutir à une solution amiable.
				</p>

				<p>
					Le seul médiateur choisi à cet effet est le Médiateur du Conseil National des Professionnels de l'Automobile (CNPA) qui peut être sollicité de la manière suivante :
				</p>

				<p> <strong>
					En ligne sur le site www.mediateur-cnpa.fr</br>
					Par email : mediateur@mediateur-cnpa.fr</br>
					Par courrier :</br>
					M. le Médiateur du Conseil national des professions de l’automobile (CNPA)</br>
					50, rue Rouget de Lisle</br>
					92158 SURESNES CEDEX</br>
					</strong>
				</p>

				<p>
					Les parties au contrat restent libres d'accepter ou de refuser le recours à la médiation ainsi que, en cas de recours à la médiation, d'accepter ou de refuser la solution proposée par le médiateur.
				</p>

				<p>
					A défaut, les tribunaux français seront seuls compétents.
				</p>
			</div>
		</div>
	</div>
</div>