<div class="col-md-12 col-lg-8 wrapper fadeInDown d-flex flex-row justify-content-center align-items-center my-flex-container">
	<div class="formContent mt-5 mb-5">

		<form class="formContent-bc col-12 row d-flex flex-row justify-content-center my-flex-container mt-5">
			<input class="col-10 mx-auto fadeIn second" type="text" id="login" name="login" placeholder="Votre identifiant">
			<input class="col-10 mx-auto fadeIn third" type="text" id="password" name="login" placeholder="Mot de passe">
			<input type="submit" class="fadeIn fourth" value="Valider">
		</form>


		<div id="formFooter">
			<p>
				<a class="underlineHover" href="Home.php">Retourner à l'accueil</a>
				</br>
				<a class="underlineHover" href="Home.php">Mot de passe oublié ?</a>
			</p>
		</div>

	</div>
</div>
