<div class="col-md-12 col-lg-8 wrapper fadeInDown d-flex flex-row justify-content-center align-items-center my-flex-container">
	<div id="formContent mt-5 mb-5">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<!-- <div class="fadeIn first mt-4"> <img src="asset/img/logo-CGofficiel-carte-grise-certificat-immatriculation.png" id="icon" alt="User Icon" /> </div> -->

		<!-- Login Form -->
		<form class="col-12 row d-flex flex-row justify-content-center my-flex-container mt-5">
			<input class="col-10 mx-auto fadeIn second" type="text" id="login" name="login" placeholder="Votre identifiant">
			<input class="col-10 mx-auto fadeIn third" type="text" id="password" name="login" placeholder="Mot de passe">
			<input type="submit" class="fadeIn fourth" value="Valider">
		</form>

		<!-- Remind Passowrd -->
		<div id="formFooter">
			<p>
				<a class="underlineHover" href="Home.php">Retourner à l'accueil</a>
			</br>
			<a class="underlineHover" href="Home.php">Mot de passe oublié ?</a>
		</p>
	</div>

</div>
</div>