<div class="rp_dmd">
	<div class="container">
		<h2 class="home-secondview--titre">Mention légales</h2>
		<hr class="border--light-2">
		<div class="page_CGV container-cgv">
			<h3>Editeur</h3>
			<hr class="border--light-2">
			<div class="mb-5">
				<p>CGOFFICIEL, SARL au capital de 2000,00 €, inscrite au RCS de Toulouse sous le numéro 838 972 917, ayant son siège social 20 Impasse Camille Langlade 31100 Toulouse.</p>
				<p>Courriel : <a href="mailto:contact@cgofficiel.fr" target="_blank">contact@cgofficiel.fr</a><em>(Attention cette adresse mail ne traite pas les commandes ! )</em></p>
				<p>
					<span>Directeur de la publication : CGOFFICIEL</span>
					<span>Habilitation Ministère de l’Intérieur n° 22442</span>
					<span>Agrément du Trésor Public n° 55337</span>
				</p>
			</div>
			<h3>Hébergeur</h3>
			<hr class="border--light-2">
			<div class="mb-5">
				<p>
					<span>Le Site est hébergé par la société OVH :</span>
					<span>SAS au capital de 10 069 020 €</span>
					<span>Siège social : 2 rue Kellermann 59100 Roubaix - France</span>
					<span>RCS Lille Métropole 424 761 419 00045</span>
				</p>
				<p>Vous trouverez ci-après les conditions d’utilisation du site Internet <strong>« cgofficiel.fr » (désigné par « le site »)</strong>, que vous acceptez du seul fait de la consultation de ce site. Si vous êtes mineur, vous vous engagez à ne consulter ce site qu’en présence de vos parents ou tuteur qui auront préalablement accepté les présentes conditions.
				   Les présentes conditions, comme l’ensemble du contenu du site, peuvent être modifiées à tout moment et sans préavis.<br/>
				   Nous nous réservons le droit de refuser l’admission ou d’exclure et supprimer le profil de toute personne qui ne respecterait pas les présentes conditions.<br/>
				   Toute prestation de services payants effectuée par l’intermédiaire de notre site est soumise également à nos conditions générales de prestation de services.<br/>
				</p>
			</div>
			<h3>« Cookies » </h3>
			<hr class="border--light-2">
			<div class="mb-5">
				<p>Les <strong>« cookies »</strong> sont des identifiants alphanumériques que nous transférons sur votre disque dur via votre navigateur Internet. Ils permettent à notre système de reconnaître votre navigateur et de vous proposer des fonctionnalités personnalisées.</p>
				<p>La section Aide de la barre d'outils de la plupart des navigateurs vous indique comment refuser les nouveaux <strong>« cookies »</strong> ou obtenir un message qui vous signale leur réception ou encore comment désactiver tous les <strong>« cookies »</strong>. En tout état de cause, vous conservez le droit de vous opposer à tout moment à l’utilisation d'un cookie installé. Cependant, parce que les <strong>« cookies »</strong> vous permettent de bénéficier de certaines fonctions utiles de notre site, nous vous conseillons de les laisser actifs.</p>
				<p>Ces cookies ne sont pas destinés à collecter des informations personnelles sur le profil ou le comportement de l’utilisateur. Nous utilisons les cookies dans le but d’analyser la fréquentation de notre site internet et d’en améliorer le fonctionnement et/ou pour faciliter la communication par voie électronique et/ou si cela est strictement nécessaire à la fourniture d'un service de communication en ligne à votre demande expresse. Si nous devions utiliser un cookie ayant une autre finalité, votre consentement vous serait demandé préalablement.</p>
			</div>
			<h3>Données personnelles</h3>
			<hr class="border--light-2">
			<div class="mb-5">
				<p>Lors de votre inscription, vous garantissez que les données que vous nous communiquez sont exactes et conformes à la réalité. Vous vous engagez à nous informer en cas de modification de vos données et, le cas échéant, à procéder vous-même aux modifications correspondantes au sein de votre espace personnel sur notre site.</p>
				<p>Aucune donnée personnelle n’est collectée à votre insu. Si vous nous communiquez des données personnelles nous ne les traiterons qu’à des fins d’information ou de communication externe se rapportant à notre activité, à l'exclusion de toute sollicitation commerciale. Vos données ne pourront être vendues ou communiquées à des tiers sans votre autorisation préalable.</p>
				<p>Certaines informations ou images que vous pouvez fournir sont susceptibles de révéler votre origine ethnique, votre nationalité, votre religion et/ou vos orientations sexuelles. En fournissant de telles informations, toutes facultatives, vous consentez explicitement à ce que nous traitions ces données "sensibles" et vous en prenez la responsabilité exclusive.</p>
				<p>Conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, modification, rectification ou suppression des informations la concernant, en écrivant au service « Protection des données personnelles » à l’adresse suivante :</p>
			</div>
			<div class="foot_metions text-center">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="card p-3">
						<strong>CGOFFICIEL</strong><br>
						Service Clientbr>
						<em>20 Impasse Camille Langlade - 31100 Toulouse</em><br>
						Internet étant un réseau ouvert, nous ne pouvons garantir que ces données ne seront pas détournées par des tiers malgré les mesures de protection que nous mettons en place.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>