{# <div class="col-md-12 col-lg-10 mx-auto row">
	<div class="col-12 mt-4">
		<h1 class="col-10 mx-auto text-center mb-5">
			Formulaire de rétractation Tout ce qu’il faut savoir concernant le droit de rétraction suite à une commande sur CGOfficiel.fr
		</h1>
		<h2 class="col-10 mx-auto">Rétractation : ce que dit la Loi
		</h2>
		<p class="col-10 mx-auto">En application de l'<strong>article L.121-21-5 du Code de la Consommation</strong>, tout consommateur qui souhaite que l'exécution d'une prestation de service commence avant la fin du délai de rétractation légal mentionné à l'article L. 221-18 doit en faire la demande expresse auprès du professionnel.</p>
		<p class="col-10 mx-auto">Le consommateur qui a exercé son droit de rétractation d'un contrat de prestation de services dont l'exécution a commencé, à sa demande expresse, avant la fin du délai de rétractation verse au professionnel un montant
			correspondant au service fourni jusqu'à la communication de sa décision de se rétracter.
		</p>
		<p class="col-10 mx-auto">Ce montant est proportionné au prix total de la prestation convenue dans le contrat. Ainsi, conformément à nos Conditions Générales de Vente, la prestation de service est due à la SARL CG Officiel afin de couvrir
			les frais de pré-traitement et de contrôle du dossier ainsi que et les frais bancaires liés à la transaction. (Pour en savoir plus, vous pouvez consulter le site Legifrance.gouv.fr).</p>
		<p class="col-10 mx-auto">
			<strong>Aucune commande ne pourra être annulée et remboursée après réception et traitement du dossier complet dans le SIV, la prestation ayant été assurée.</strong>
		</p>
		<div class="col-10 mx-auto text-center btn-blue">
			a href="/../download/retractation.pdf" class="btn btn-blue" target="blank">
				PDF à télecharger pour rétractation <i class="icon-pdf"></i>
			</a>
<div class="container mt-5">
	<div class="row justify-content-center text-md-center">
		<div class="col-md-10">
			<div class="card mb-5 p-2 p-md-5">
				<div class="text-center">Pour obtenir le formulaire de rétractation merci de nous contacter par mail à : <br>
					<a href="mailto:service.client@cgofficiel.fr" class="text-lower btn btn-blue">service.client@cgofficiel.fr</a>
				</div>
				<hr class="border--light-2">
				<h3>Où envoyer le bordereau de rétractation ?</h3>
				<p class="col-12 col-lg-10 mx-auto">
					Si vous désirez vous rétracter de votre commande sur CGOfficiel.fr, voici l'adresse de notre Centre de Traitement Agréé pour envoyer votre bordereau :
				</p>
				<p class="col-12 col-lg-10 mx-auto">
					<strong>CGOFFICIEL, SARL au capital de 500,00 €,<br>
						inscrite au RCS de Toulouse sous le numéro 838 972 917,<br>
						ayant son siège social 20 Impasse Camille Langlade 31100 Toulouse.
					</strong>
				</p>
				<div class="row">
					<div class="col-12">
						<div class="col-12 col-lg-10 mx-auto">
							<div class="col-12 image"></div>
							<div>
								<p>
									<strong>Pour toutes aides, vous disposez d'un numéros.</strong>
								</p>
								<div class="col-12 col-md-8 mx-auto">
									{% if app.user %}
									<a href="tel:{{ displayServiceClient() }}">
										<img src="{{ asset('asset/img/' ~ displayServiceClient() ~ '.png')}}" class="rounded mx-auto d-block img-fluid" alt="Service Appel">
									</a>
									{% else %}
									<a href="tel:0897010800">
										<img src="{{ asset('asset/img/0897010800.png')}}" class="rounded mx-auto d-block img-fluid" alt="Service Appel">
									</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> #}
<div class="rp_dmd">
	<div class="container">
		<h1 class="home-secondview--titre">Formulaire de rétractation Tout ce qu’il faut savoir concernant le droit de rétraction suite à une commande sur <span>CGOfficiel.fr</span></h1>
		<div class="page_CGV container-cgv">
			<p>En application de l'<strong>article L.121-21-5 du Code de la Consommation</strong>, tout consommateur qui souhaite que l'exécution d'une prestation de service commence avant la fin du délai de rétractation légal mentionné à l'article L. 221-18 doit en faire la demande expresse auprès du professionnel.</p>
			<p>Le consommateur qui a exercé son droit de rétractation d'un contrat de prestation de services dont l'exécution a commencé, à sa demande expresse, avant la fin du délai de rétractation verse au professionnel un montant
				correspondant au service fourni jusqu'à la communication de sa décision de se rétracter.
			</p>
			<p>Ce montant est proportionné au prix total de la prestation convenue dans le contrat. Ainsi, conformément à nos Conditions Générales de Vente, la prestation de service est due à la SARL CG Officiel afin de couvrir
				les frais de pré-traitement et de contrôle du dossier ainsi que et les frais bancaires liés à la transaction. (Pour en savoir plus, vous pouvez consulter le site Legifrance.gouv.fr).</p>
			<p>
				<strong>Aucune commande ne pourra être annulée et remboursée après réception et traitement du dossier complet dans le SIV, la prestation ayant été assurée.</strong>
			</p>
			<div class="col-12 col-md-10 mx-auto mb-3 text-center">
				<strong class="d-block mb-1">Pour obtenir le formulaire de rétractation merci de nous contacter par mail à :</strong><br/>
				<a href="mailto:service.client@cgofficiel.fr" target="_blank" style="text-transform: none!important" class="text-lower btn btn-blue">service.client@cgofficiel.fr</a>
				<hr class="border--light-2">
			</div>
			<div class="retractation_item">
				<div class="row justify-content-center">
					<div class="col-md-10 text-md-center">
						<h3 class="mt-5">Où envoyer le bordereau de rétractation ?</h3>
						<hr class="border--light-2">
						<p>
							Si vous désirez vous rétracter de votre commande sur CGOfficiel.fr, <br>voici l'adresse de notre centre de traitement agréé pour envoyer votre bordereau :
						</p>
						<p class="col-md-10 mx-auto mb-5 text-md-center">
							<strong>CGOFFICIEL <br>20 Impasse Camille Langlade <br>31100 Toulouse.
							</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>